<link rel="stylesheet" href="assets/css/style.css">
<style>
    #formWrapper p {
        font: normal 18px/24px "Roboto-Regular";
        margin-bottom: 30px;
    }

    .form-group > div{
        width: 100%;
    }

    #formWrapper label {
        text-align: left;
    }

    #formWrapper input[type=checkbox] {
        width: 24px;
        height: 24px;
    }
    
    #confirmationOverlay .contentBoxWrapper{
    	border: none;
    }
    
    .g-recaptcha{
    	display:none;
    	float: left;
    	margin-top:5px;
    	margin-bottom:20px;
    }
    #loginWindowForm > label.checkbox{
		float:right;
		width: 40%;
	}
	@media (max-width: 768px){
		
		#loginWindowForm > label.checkbox{
			float:right;
			width: 100%;
		}
	}
</style>
<!-- Login -->
<div id="loginFormular" class="jumbotron">
    <div class="wrapper">
        <div id="formWrapper" class="login">
            <div class="row">
                <a class="link_back" href="?article_id=19&amp;clang=1" style="padding:0;">zurück</a>
                <a class="link_home" href="?article_id=1&amp;clang=1&restart=1" style="padding:0;">zurück zur
                    Homepage</a>
            </div>
            <form method="post" action="/login.php" name="loginWindowForm" id="loginWindowForm" onsubmit="return validateLoginForm();">
                <h3>Login</h3>
                <p>Bitte loggen Sie sich mit Ihrer E-Mail-Adresse ein.<br />
                    Um sich einloggen zu können, müssen Sie sich vorher <a href="?article_id=18&clang=1">registriert</a> haben.
                </p>

                <label for="emailadresse">Ihre E-Mail-Adresse*<br/>
                    <input type="text" name="emailadresse" id="emailadresse"/>
                    <span style="display:none;">Ungültige E-Mail/Passwortkombination, bitte überprüfen Sie Ihre Angaben.</span>
                </label>
                <label for="pwInputA" class="bottomMarginZiro">Passwort*<br/>
                    <input type="password" name="pwInputA" id="pwInputA"/>
                    
                </label>
                
                <p class="bottomMarginZiro">Sie haben Ihr Passwort vergessen? Kein Problem, <a href="?article_id=37&clang=1">einfach hier klicken</a>.</p>
                
                
                <div class="g-recaptcha" data-sitekey="6LfxND0UAAAAAFAgarR4NUw7Tcv8IUXah-aplmu9"></div>
                <label class="checkbox" for="permloginchekbox">
				 	<input id="permloginchekbox" type="checkbox" name="permloginchekbox"/>
					<b style="font-weight:normal;">angemeldet bleiben</b>
				</label>
				<!-- <label class="checkbox" for="permloginchekbox">
                    <input id="permloginchekbox" type="checkbox" name="permloginchekbox"/>
                    <b>angemeldet bleiben</b>
                </label> -->
                <input type="hidden" value="loginformname" name="loginformname"/>
                <input type="hidden" id="redirectfield" value="" name="redirectfield"/>
                <div class="submitButton">
                    <button type="submit" id="loginBtn" class="btn btn-danger btn-huge">Anmelden</button>
                </div>

                <p class="registrieren">
                    Um sich einloggen zu können, müssen Sie sich vorher <a href="?article_id=18&clang=1">registriert</a> haben.
                </p>
            </form>
        </div>
    </div>
</div>


<div id="confirmationOverlay">
	<div class="boxWrapper">
		<div class="contentBoxWrapper">
			<div class="contentBox">
				<h3>Hinweis!</h3>
				<p>
					Ihre E-Mail Adresse oder Ihr Passwort waren nicht korrekt. Bitte versuchen Sie es erneut.
				</p>

				<p class="team">
					Ihr CARISMA Support-Team
				</p>

				<button id="closeOverlay" class="btn btn-danger btn-huge">ok</button>
			</div>
		</div>
	</div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
function validateEmail(email) {
    var rex = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;

    return rex.test(email);
}

var emailInput = document.getElementById('emailadresse'),
    pwInput = document.getElementById('pwInputA');

function validateLoginForm(){
	var submitValid = false;
	
	if ( !validateEmail(emailInput.value) ) {
        emailInput.className = 'error';
        emailInput.parentElement.className = 'error';
    } else {

       if ( validateEmail(emailInput.value) ) {
            emailInput.className = '';
            emailInput.parentElement.className = '';
       }
    }
    
    if ( pwInput.value.length === 0 ) {
        pwInput.className = 'error';
        pwInput.parentElement.className = 'error';
    } else {
        pwInput.className = '';
        pwInput.parentElement.className = '';
    }



    if($('.g-recaptcha').css('display') != 'none'){

        if(emailInput.value !== "" && pwInput.value !== "" && grecaptcha.getResponse() !== "" ){
            submitValid = true;
        }
    }else {
        if(emailInput.value !== "" && pwInput.value !== ""){
            submitValid = true;
        }
    }

    return submitValid;
}

</script>

<!-- Login -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/beitragsrechner.js"></script>
