<link rel="stylesheet" href="assets/css/styleHomeButton.css">
<link rel="stylesheet" href="assets/css/style.css">
<style>
.form-group>div {
	width: 100%;
}

.g-recaptcha{
	float: left;
	margin-bottom:20px;
}

#registerForm > label.checkbox{
	float:right;
	width: 40%;
}

@media (max-width: 768px){
	#registerForm > label.checkbox{
		float:right;
		width: 100%;
	}
}

</style>
<div class="jumbotron">
	<div class="wrapper">
		<div id="formWrapper" class="registrierung">
			<div class="row">
				<a class="link_back" href="?article_id=19&amp;clang=1" style="padding:0;">zurück</a>
				<a class="link_home" href="?article_id=1&amp;clang=1&restart=1" style="padding:0;">zurück zur
					Homepage</a>
			</div>
			<form method="post" action="/login.php" name="registerForm" id="registerForm">
				<h3 class="tarifShortTitle">CARISMA Registrierung</h3>
				<p>Um die CARISMA Seiten noch besser zu nutzen, können Sie sich
					hier registrieren. Es dauert nur zwei Minuten.<br /> Sollten Sie bereits einen CARISMA - Account besitzen, loggen Sie sich <a href="?article_id=17&clang=1" >hier</a> ein.</p>

				<label class="">Ihre E-Mail-Adresse*<br />
					<input type="text" name="e-mail-adresse" />
				</label>
				<label class="salutation">Anrede*<br />
					<select class="form-control styled-select" id="salutation" name="salutation" style="height: 50px !important;border: 2px solid #aaaabb;">
						<option value="0"></option>
						<option value="236001">Frau</option>
						<option value="236002">Herr</option>
						<!--  <option value="236003">Firma</option>
						<option value="236004">Familie</option>
						<option value="236005">Eheleute</option>-->
					</select>
				</label>
				<label class="first">Vorname*<br />
					<input type="text" name="vorname" style="height: 50px !important;"/>
				</label>
				<label class="">Nachname*<br />
					<input type="text" name="nachname" style="height: 50px !important;"/>
				</label>
				<label class="">Passwort*<br />
					<input type="password" name="passwort" id="pwInputA" />
				</label>
				<label class="">Passwortwiederholung*<br />
					<input type="password" id="pwInputB" /> <span>Die Passwörter sind nicht identisch, bitte überprüfen Sie beide Eingaben.</span>
				</label>

				<div class="g-recaptcha" data-sitekey="6LfxND0UAAAAAFAgarR4NUw7Tcv8IUXah-aplmu9"></div>

				<label class="checkbox" for="permloginchekbox">
					<input id="permloginchekbox" type="checkbox" name="permloginchekbox" /> <b >angemeldet bleiben</b>
				</label>
				<input type="hidden" value="formname" name="formname" />
				<input type="hidden" id="redirectfield" value="" name="redirectfield" />

				<div id="submitButtonRegistrierung" class="submitButton">
					<button role="submit" type="submit"
						class=" btn btn-danger btn-huge">Registrieren</button>
				</div>

				<p class="registrieren">
					Sollten Sie bereits einen CARISMA - Account besitzen, loggen Sie sich <a href="?article_id=17&clang=1" >hier</a> ein.
				</p>

				<div class="submitButton mobile">
					<button role="button" class="btn btn-danger btn-huge"
						onClick="location.href='?article_id=1;&amp;clang=1';">zurück
						zur Homepage</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row footer desktop">
		<a class="link_home" href="?article_id=1&amp;clang=1">zurück zur
			Homepage</a>
	</div>
</div>

<div id="confirmationOverlay">
	<div class="boxWrapper">
		<div class="contentBoxWrapper">
			<div class="contentBox">
				<h3>Vielen Dank!</h3>
				<p id="modalMessageBody">

            	</p>
	            <div class="progress progress-striped active" style="margin-bottom:0;">
	                <div class="progress-bar" style="width: 100%"></div>
	            </div>
				<p class="team"></p>
				<button id="closeOverlay" class="btn btn-danger">zum Login</button>
			</div>
		</div>
	</div>
</div>

<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
<script type="text/javascript">
	var input, submit = true, focus = false, activeTimeout;

	function setError(obj) {
		var str = obj.className;
		var re = /error/;
		var found = str.match(re);

		if (found === null) {
			obj.className += ' error';
			obj.parentNode.className += ' error';
		}

		if (!focus) {
			obj.focus();
			focus = true;
		}

		return false;
	}

	function removeError(obj) {
		obj.className = obj.className.replace('error', '').trim();
		obj.parentNode.className = obj.parentNode.className
				.replace('error', '').trim();
		return true;
	}

	function validateEmail(email) {
		var rex = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
		return rex.test(email);
	}

	function validateRegistration() {
		if (this.value.length >= 3) {
			if (this.id === 'pwInputB') {
				window.clearTimeout(activeTimeout);
				if (this.value === input[3].value) {
					removeError(this);
					this.nextElementSibling.className = '';
					submit = true;
				} else {
					var _this = this;
					activeTimeout = setTimeout(function() {
						setError(_this);
						_this.nextElementSibling.className = 'error';
						submit = false;
					}, 500);
				}
			} else {
				removeError(this);
				submit = true;
			}
		} else {
			if (this.value.length <= 0) {
				submit = false;
			}
		}
	}

	function validateOnFocusOut() {
		if (this.name == 'e-mail-adresse') {
			if (validateEmail(this.value)) {
				submit = removeError(this);
			} else {
				submit = setError(this);
			}
		}

		if (this.value.length <= 0) {
			submit = setError(this);
		}
	}

	(function() {
		'use strict';

		document.addEventListener("DOMContentLoaded", function(event) {
			var submitButton = document
					.getElementById('submitButtonRegistrierung');

			input = document.querySelectorAll('#formWrapper input');

			input[0].addEventListener('input', validateRegistration); // E-Mail
			input[1].addEventListener('input', validateRegistration); // Vorname
			input[2].addEventListener('input', validateRegistration); // Nachname
			input[3].addEventListener('input', validateRegistration); // Passwort 1
			input[4].addEventListener('input', validateRegistration); // Passwort 2

			input[0].addEventListener('focusout', validateOnFocusOut); // E-Mail
			input[1].addEventListener('focusout', validateOnFocusOut); // Vorname
			input[2].addEventListener('focusout', validateOnFocusOut); // Nachname
			input[3].addEventListener('focusout', validateOnFocusOut); // Passwort 1
			input[4].addEventListener('focusout', validateOnFocusOut); // Passwort 2

			submitButton.addEventListener('click', function(e) {
				e.preventDefault();

				if (input[0].value === '') {
					submit = setError(input[0]);
				}

				if (input[1].value === '') {
					submit = setError(input[1]);
				}

				if (input[2].value === '') {
					submit = setError(input[2]);
				}

				if (input[3].value === '') {
					submit = setError(input[3]);
				}

				if (input[4].value === '') {
					submit = setError(input[4]);
				}

				focus = false;

				if (!submit) {
					return false;
				}else{
					/*if(grecaptcha.getResponse() !== ""){
						document.getElementById("registerForm").submit();
					}*/
					document.getElementById("registerForm").submit();
				}
			});

		});

	}());
</script>
<!-- Login -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/beitragsrechner.js"></script>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1260810,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Registrierungs-Start')
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=1260810&ADFPageName=Registrierungs-Start&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->