<div class="jumbotron secondImageInsurance">
	<div class="row secondImageHeadlineInsurance">
		<strong>Unsere Versicherungsleistungen</strong>
		<p>CARISMA bietet Ihnen Sofortschutz für Classic Cars. Dazu stehen
			Ihnen fünf Versicherungsarten zur Verfügung.</p>
	</div>
</div>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title collapsed" data-toggle="collapse"
				data-parent="#accordion" data-target="#collapseOne">
				<a class="accordion-toggle"> Welche Fahrzeuge werden versichert?
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body insurancepanelbody">
				<p>
					<strong>Wir sind Ihr Spezial-Versicherungsanbieter für
						Newtimer, Youngtimer und Oldtimer und bieten Ihnen Sofortschutz
						für Ihre Classic Cars, Motorräder und Traktoren.</strong>
					Liebhaberfahrzeuge, die nicht als Alltagsfahrzeug gefahren werden,
					können bei uns deutlich günstiger versichert werden als in jeder
					herkömmlichen Kfz-Versicherung. Dabei versichern wir nicht nur den
					Zeitwert, sondern den aktuellen Marktwert/Wiederbeschaffungswert
					und auf Wunsch auch den Wiederherstellungswert Ihres klassischen
					Fahrzeugs. Mit unserem Sofortschutz-Beitragsrechner können Sie
					online direkt und unverbindlich Ihren jährlichen
					Versicherungsbeitrag erfahren und nach Abschluss sogar umgehend die
					eVB und Ihren Versicherungsschein erhalten. Geben Sie dazu einfach
					Ihr Fahrzeug ein, wählen Sie einen unserer Tarife und sehen Sie
					sofort, wie viel Sie gegenüber Ihrer herkömmlichen Kfz-Versicherung
					sparen können! <a href="?article_id=38&clang=1">Meine
						Fahrzeugdaten direkt eingeben!</a>
				</p>
				<p>
					<strong>Welche Klassiker versichert CARISMA?</strong>
				</p>
				<p>CARISMA bietet besonderen Versicherungsschutz an für
					Oldtimer, Youngtimer, Newtimer und Premium Cars sowie Repliken
					klassischer PKW und Motorräder/Motorroller, die sich in gutem
					Zustand befinden, für Freizeitfahrten genutzt werden und wenn für
					den Fahrer ein Alltagsfahrzeug zur Verfügung steht. Wir bieten
					spezielle Versicherungstarife für Oldtimer (älter als 30 Jahre) und
					Youngtimer (älter als 15 Jahre) – darüber hinaus Newtimer-PKW und
					Newtimer-Motorräder (jünger als 15 Jahre), sofern diese nicht mehr
					gebaut werden oder bei denen es sich um aktuelle Modellserien mit
					Klassikerpotential handelt.</p>
				<p>Außerdem bieten wir Versicherungsschutz für klassische LKW,
					Traktoren und Feuerwehren ab einem Alter von 20 Jahren, die in
					einem guten Zustand sind und nicht mehr in der Land- oder
					Forstwirtschaft eingesetzt bzw. nicht gewerblich genutzt werden.</p>
				<p>Klassische Wohnmobile ab einem Alter von 20 Jahren und im
					guten Zustand können über uns ebenfalls den besonderen CARISMA
					Schutz erhalten.</p>
				<p>Unser Angebot gilt natürlich auch für Premium Cars, also neue
					und neuere Luxus- und Sportwagen ab 100.000 Euro Neupreis, die
					ebenfalls nicht als Alltagsfahrzeuge genutzt werden.</p>
				<p>
					<strong>Alle Informationen zu den Fahrzeugen, die wir
						versichern, können Sie auch folgender Tabelle entnehmen:</strong>
				</p>
				<table border="1px" width="100%">
					<tr>
						<th>Fahrzeug</th>
						<th>Definition</th>
					</tr>
					<tr>
						<td>Premium Cars</td>
						<td>Neue und neuere Luxus- bzw. Sportwagen ab 100.000 Euro
							Neupreis/ guter Zustand* / keine Alltagsnutzung</td>
					</tr>
					<tr>
						<td>Oldtimer</td>
						<td>Fahrzeuge älter als 30 Jahre / Guter Zustand* / keine
							Alltagsnutzung</td>
					</tr>
					<tr>
						<td>Youngtimer</td>
						<td>PKW und Motorräder/Motorroller älter als 15 Jahre / Guter
							Zustand* / keine Alltagsnutzung LKW, Traktoren, Feuerwehren,
							Wohnmobile älter als 20 Jahre / Guter Zustand* / nicht mehr in
							der Land- oder Forstwirtschaft eingesetzt bzw. nicht gewerblich
							genutzt / keine Alltagsnutzung</td>
					</tr>
					<tr>
						<td>Newtimer</td>
						<td>PKW und Motorräder jünger als 15 Jahre, die nicht mehr
							gebaut werden oder bei denen es sich um aktuelle Modellserien mit
							Klassikerpotential handelt / Guter Zustand* / keine
							Alltagsnutzung</td>
					</tr>
					<tr>
						<td>Repliken</td>
						<td>Nachbauten klassischer PKW und Motorräder / Guter
							Zustand* / keine Alltagsnutzung</td>
					</tr>
				</table>
				<h5 style="font-family: Roboto-Light;">* Keine bekannten
					technischen Mängel oder Unfallschäden, weitestgehend im
					Originalzustand.</h5>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title collapsed" data-toggle="collapse"
				data-parent="#accordion" data-target="#collapseTwo">
				<a class="accordion-toggle"> Haftpflichtversicherung </a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body insurancepanelbody">
				<p>
					<strong>Die CARISMA Haftpflichtversicherung*</strong> bietet Ihnen
					und den mitversicherten Personen Versicherungsschutz, wenn durch
					das versicherte Fahrzeug andere Personen verletzt oder getötet
					werden, fremde Sachen beschädigt oder zerstört werden oder
					abhandenkommen. Sie tritt auch ein, wenn Vermögensschäden bei
					anderen Personen herbeigeführt werden. <br /> Die CARISMA
					Haftpflichtversicherung bietet für diesen Fall einen Pauschalschutz
					für Vermögens, Sach- und Personenschäden von bis zu 100 Millionen
					Euro, maximal 15 Millionen Euro je geschädigter Person, und deckt
					damit fast jeden denkbaren Schaden ab.
				</p>
				<p>Darüber hinaus leistet die CARISMA Haftpflichtversicherung
					bis zu 5 Millionen Euro für alle Umweltschäden eines
					Versicherungsjahres.</p>
				<h5>* Den genauen Wortlaut entnehmen Sie bitte den
					Versicherungsbedingungen..</h5>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title collapsed" data-toggle="collapse"
				data-parent="#accordion" data-target="#collapseThree">
				<a class="accordion-toggle"> Fahrerschutzversicherung </a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body insurancepanelbody">
				<p>
					<strong>Die CARISMA Fahrerschutzversicherung*</strong> gilt in
					Verbindung mit der CARISMA Haftpflichtversicherung und schützt die
					Fahrer Ihres Classic Cars in der gleichen Weise wie die CARISMA
					Haftpflichtversicherung andere Personen.
				</p>
				<p>Versichert sind alle Fahrer, die als Fahrer Ihres Classic
					Cars durch Ihren Versicherungsschein zugelassen sind.</p>
				<p>Selbst wenn der schlimmste Fall eintritt, sind Hinterbliebene
					im Rahmen der gesetzlichen Unterhaltsansprüche zum Beispiel im Fall
					von Witwen- oder Waisenrenten abgesichert.</p>
				<p>Die Fahrerschutzversicherung ersetzt für den Fahrer
					Personenschäden und kommt zum Beispiel für Kosten für
					Verdienstausfall oder behindertengerechte Umbaumaßnahmen von Haus,
					Wohnung und Fahrzeug auf.</p>
				<h5>*Die genauen Konditionen entnehmen Sie bitte den
					Versicherungsbedingungen.</h5>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title collapsed" data-toggle="collapse"
				data-parent="#accordion" data-target="#collapseFour">
				<a class="accordion-toggle"> Teilkasko </a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body insurancepanelbody">
				<p>In der CARISMA Teilkasko* sind folgende Ereignisse
					versichert:
				<ul>
					<li>Brand und Explosion</li>
					<li>Entwendung</li>
					<li>Sturm, Hagel, Blitzschlag, Überschwemmung, Lawinen,
						Erdrutsch</li>
					<li>Zusammenstoß mit Tieren</li>
					<li>Glasbruch</li>
					<li>Kurzschluss an der Verkabelung einschließlich Folgeschäden
						an direkt angrenzenden, stromführenden Bauteilen bis € 3.000</li>
					<li>Tierbiss an Kabeln, Schläuchen, Leitungen, Dämmmaterial,
						und Manschetten einschließlich Folgeschäden bis € 3.000</li>
					<li>Verlust der Fahrzeugschlüssel durch Einbruchdiebstahl
						(nicht aus dem Fahrzeug) oder Raub einschließlich Austausch oder
						Umcodieren der Tür- und Lenkradschlösser</li>
				</ul>
				</p>
				<p>Deckungsbausteine, die Ihr klassisches Fahrzeug gegenüber
					einer Teilkasko herkömmlicher Kraftfahrzeugversicherer besser
					stellen:
				<ul>
					<li>Mut-und böswillige Beschädigung (Vandalismus)</li>
					<li>Transport auf Fähre</li>
					<li>Transportmittelunfall</li>
					<li>Transport bei außer Betrieb gesetzten Fahrzeugen (bei
						Saisonkennzeichen außerhalb der Saison) auf z.B. einem LKW,
						Anhänger oder der Bahn. Mindestselbstbeteiligung: 2 %, mindestens
						€ 500,-, höchstens € 2.500,- (es sei denn, es ist eine höhere
						Selbstbeteiligung in der Teilkasko vereinbart).</li>
					<li>Treibstoff und Betriebsmittel bis maximal 500 EUR</li>
					<li>Wiedererlangungskosten, die im Zusammenhang mit der
						erforderlichen Wiederbeschaffung von abhandengekommenen oder nicht
						wieder aufbaubaren Fahrzeugen entstanden sind (z.B. Reise-und
						Transportkosten, Zoll, Gebühren und Sicherheitskosten,
						Überführung, Abmeldung und Zulassung) bis maximal 500 EUR</li>
					<li>Mitgeführte Sachen und persönliche Gegenstände bis maximal
						2.500 EUR</li>
					<li>Sicherheitsbekleidung im Rahmen der Motorradversicherung
						bis maximal 500 EUR</li>
					<li>für bereits gezahlte Startgelder zu Oldtimerfahrten und
						-veranstaltungen bis maximal 500 EUR</li>
				</ul>

				</p>
				<h5>*Die genauen Konditionen entnehmen Sie bitte den
					Versicherungsbedingungen.</h5>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title collapsed" data-toggle="collapse"
				data-parent="#accordion" data-target="#collapseFife">
				<a class="accordion-toggle"> Vollkasko </a>
			</h4>
		</div>
		<div id="collapseFife" class="panel-collapse collapse">
			<div class="panel-body insurancepanelbody">
				<p>Die CARISMA Vollkaskoversicherung* ersetzt über die Teilkasko
					hinaus Schäden
				<ul>
					<li>durch eigene Unachtsamkeit / selbstverschuldete Unfälle</li>
					<li>durch andere Verursacher, die Fahrerflucht begehen</li>
					<li>bei unklarer Rechtslage, insbesondere bei Feststellung
						einer Mithaftung (Teilschuld)</li>
				</ul>
				</p>
				<h5>*Die genauen Konditionen entnehmen Sie bitte den
					Versicherungsbedingungen.</h5>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title collapsed" data-toggle="collapse"
				data-parent="#accordion" data-target="#collapseSix">
				<a class="accordion-toggle"> All Risk Versicherung </a>
			</h4>
		</div>
		<div id="collapseSix" class="panel-collapse collapse">
			<div class="panel-body insurancepanelbody">
				<p>
					<strong>Die CARISMA All Risk Versicherung* ist bei den
						meisten Fahrzeugen unser Kasko-Premium-Versicherungsprodukt. </strong> Es
					beinhaltet über die Vollkaskoversicherung hinausgehenden Schutz
					gegen alle Gefahren, die nicht ausdrücklich ausgeschlossen sind.
				</p>
				<p>Dazu gehört dann zum Beispiel auch Schutz gegen verschiedene
					Betriebsschäden wie das Aufschlagen der Motorhaube, Schäden durch
					chemische Reaktionen wie zum Beispiel durch sauren Regen sowie
					unbegrenzter Schutz bei Tierbiss- und Kurzschlussfolgeschäden.</p>
				<p>
					<strong>Die Besonderheit der CARISMA All Risk Versicherung</strong>
					ist die sogenannte Beweislastumkehr, wodurch die Beweislast im
					Schadenfall bei CARISMA liegt – im Gegensatz zur Teil- und
					Vollkaskoversicherung. Es bedeutet, dass nicht Sie als
					Versicherungsnehmer, sondern CARISMA im Schadenfall auf eigene
					Kosten beweisen müsste, das der Schaden unter die Ausschlüsse
					fällt.
				</p>
				<p>Damit bietet die CARISMA All Risk Versicherung im Schadenfall
					die höchstmögliche Sicherheit und Kostenentlastung. Voraussetzung
					für den Abschluss einer CARISMA All Risk Versicherung ist ein
					Wertgutachten eines unabhängigen Kfz-Sachverständigen/einer
					Sachverständigenorganisation, das nicht älter ist als drei Jahre
					ist.</p>
				<h5>*Die genauen Konditionen entnehmen Sie bitte den
					Versicherungsbedingungen.</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="text-center">
			<a role="button" class="btn btn-danger btn-huge"
				href="?article_id=38&clang=1">direkt zum Beitragsrechner</a><a
				role="button" class="btn btn-danger btn-huge"
				href="?article_id=1&amp;clang=1#versicherungsleistungen"
				style="margin-right: 15px;">zurück zur Homepage</a>
		</div>
	</div>
</div>
