<article id="sitemap" class="mtb">
    <section class="module-wrapper clearfix">
        <div class="full container mt">
            <h2>Sitemap</h2>

            <ul>
                <li><a href="?article_id=1&clang=1">Startseite</a></li>
                <li><a href="?article_id=18&clang=1">Registrierung</a></li>
                <li><a href="?article_id=17&clang=1">Login</a></li>
                <li><a href="?article_id=38&clang=1">Beitragsrechner</a></li>
                <li><a href="?article_id=2&clang=1">Unsere Versicherungsleistung</a></li>
                <li><a href="?article_id=33&clang=1">CARISMA - Der neue Versicherungsschutz</a></li>

                <li class="submenu">
                    <a href="?article_id=5&clang=1">Classic Car Stories</a>
                    <ul>
                        <li><a href="?article_id=30&clang=1">Der Trend zum Youngtimer</a></li>
                        <li><a href="?article_id=31&clang=1">Autoklassiker als Wertanlage</a></li>
                    </ul>
                </li>

                <li><a href="?article_id=4&clang=1">Termine, Orte und Service</a></li>
                <li><a href="?article_id=3&clang=1">FAQ</a></li>
                <li><a href="?article_id=28&clang=1">Versicherungsbedingungen</a></li>
                <li><a href="?article_id=27&clang=1">Schadenmeldung</a></li>
                <li><a href="?article_id=7&clang=1">Kontakt</a></li>
                <li><a href="?article_id=0&clang=1">Kundenbereich</a></li>
                <li><a href="?article_id=24&clang=1">Downloads</a></li>
                <li><a href="?article_id=35&clang=1">Impressum</a></li>
                <li><a href="?article_id=25&clang=1">Hinweise zum Datenschutz</a></li>
                <li><a href="?article_id=26&clang=1">Rechtliche Hinweise</a></li>
                <li><a href="?article_id=34&clang=1">Hinweise zum Widerruf</a></li>
            </ul>

        </div>
    </section>
</article>
