<div class="jumbotron ImageFAQ">
    <div class="row ImageHeadlineFAQ">
        <strong>FAQ –<br/> alle Fragen und Antworten<br/>
            rund um Liebhaberfahrzeuge<br/>
            und den CARISMA Versicherungsschutz.</strong>

    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseOne">
                <a class="accordion-toggle">
                    Für welche Fahrzeuge bietet CARISMA den besonderen Versicherungsschutz?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>
                    CARISMA vermittelt Versicherungsschutz für PKW (inkl. Repliken und Kleinbussen), LKW, Wohnmobile,
                    Motorräder (inkl. Repliken)/Motorroller, Feuerwehren und Traktoren.
                    Voraussetzung für den Versicherungsschutz ist für alle Fahrzeuge, dass diese als Liebhaberfahrzeuge
                    genutzt werden. Das bedeutet, sie werden nicht als Alltagsfahrzeuge verwendet und sind an Orten, wie
                    zum Beispiel in einer Garage oder in einem Carport untergebracht. Alle Fahrzeuge müssen außerdem in
                    einem guten Allgemeinzustand sein.<br/>
                    Die Anforderungen an den Abstellort variieren und hängen unter anderem vom Wert der Fahrzeuge ab.
                    Der Online-Tarifrechner von CARISMA berücksichtigt diese Zusammenhänge automatisch.</p>
                <p>
                    CARISMA unterscheidet bei den meisten der o.g. Fahrzeuge zwischen einem Oldtimer, der mindestens 30
                    Jahre alt ist, und einem Youngtimer, der zwischen 15 und 30 Jahre alt ist. Dies gilt insbesondere
                    für die Versicherung von Traktoren, Feuerwehren, Wohnmobilen und LKW. Für Feuerwehren und LKW gilt
                    zusätzlich, dass diese nicht mehr für Einsätze bzw. gewerblich und für Traktoren, dass diese nicht
                    mehr im forst- oder landwirtschaftlichen Bereich genutzt werden.<br/>
                    Eine weitere Gruppe bildet bei den PKW und Motorrädern die Newtimer. Diese bezeichnet CARISMA so,
                    wenn sie jünger als 15 Jahre sind, nicht mehr gebaut werden oder es sich um Modellserien mit
                    Klassikerpotential handelt.<br/>
                    Neue und neuere Luxus- bzw. Sportwagen ab 100.000 Euro Neupreis bezeichnet CARISMA als Premium Car.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseTwo">
                <a class="accordion-toggle">
                    Was unterscheidet CARISMA von einer herkömmlichen Kfz-Versicherung?
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Weil CARISMA Fahrzeuge versichert, die nicht als Alltagsfahrzeuge verwendet werden (siehe: <a
                        href="javascript:gotoPanel('#collapseOne');">Für welche Fahrzeuge bietet
                    CARISMA den perfekten Versicherungsschutz</a>), kann CARISMA Versicherungsschutz vermitteln, der die
                    Leistungen von
                    herkömmlichen Kfz-Versicherungen noch übertreffen und gleichzeitig deutlich günstiger im Preis ist.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseThree">
                <a class="accordion-toggle">
                    Was ist eine eVB?
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p> eVB steht für elektronische Versicherungsbestätigung. Die eVB ersetzt die früher übliche
                    Versicherungs-Doppelkarte (auch
                    Deckungskarte genannt) und wird zur Anmeldung eines Kraftfahrzeugs beim Straßenverkehrsamt benötigt.
                    Die eVB ist
                    eine siebenstellige Kombination aus Zahlen und Buchststaben und wird bei einem CARISMA
                    Online-Versicherungsabschluss
                    sofort über Ihren Browser und per E-Mail erteilt.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseFour">
                <a class="accordion-toggle">
                    Wann spricht man von Oldtimern?
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Ein Oldtimer ist ein Fahrzeug mit einem Alter ab 30 Jahre. Fahrzeuge bis Anfang der 50iger Jahre
                    werden mitunter als Veteranen bezeichnet.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseFife">
                <a class="accordion-toggle">
                    Ab wann spricht man von Youngtimern?
                </a>
            </h4>
        </div>
        <div id="collapseFife" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Ein Youngtimer ist ein Fahrzeug mit einem Alter zwischen 15 und 30 Jahren.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseSix">
                <a class="accordion-toggle">
                    Was ist bei CARISMA ein Newtimer?
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Ein Newtimer ist ein PKW oder Motorrad mit einem Alter jünger als 15 Jahre, der/das nicht mehr gebaut
                    wird oder bei dem es sich um Modellserien mit Klassikerpotential handelt.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseSeven">
                <a class="accordion-toggle">
                    Was sind üblicherweise Premium Cars?
                </a>
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Hierbei handelt es sich um ein neuen oder neueren Luxus- bzw. Sportwagen ab 100.000 Euro Neupreis</p>
            </div>
        </div>
    </div>

    <!-- <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
         <a class="accordion-toggle">
           Was sind Veteranen?
         </a>
       </h4>
     </div>
     <div id="collapseEight" class="panel-collapse collapse">
       <div class="panel-body insurancepanelbody">
         <p>Ein Veteran ist ein PKW mit einem Alter von mehr als 40 Jahren.</p>
       </div>
     </div>
   </div> -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseNine">
                <a class="accordion-toggle">
                    Gibt es bei den CARISMA Tarifen Schadenfreiheitsklassen?
                </a>
            </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Weil CARISMA Versicherungen für Fahrzeuge vermittelt, die nicht als Alltagsfahrzeuge verwendet
                    werden, kommen die von
                    CARISMA angebotenen Versicherungen ohne Schadenfreiheitsklassen aus. Trotzdem sind sie oft noch
                    preiswerter als die
                    Versicherungen herkömmlicher Kfz-Versicherungen mit den niedrigsten Schadenfreiheitsklassen. Ein
                    weiterer Vorteil ist,
                    dass Versicherungsnehmer im Schadenfall nicht in eine ungünstigere Schadenfreiheitsklasse
                    hochgestuft werden können.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseTen">
                <a class="accordion-toggle">
                    Lohnt sich eine Fahrerschutzversicherung?
                </a>
            </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Die Fahrerschutzversicherung wird oft als die Vollkasko für den Fahrer bezeichnet. Die
                    Fahrerschutzversicherung übernimmt
                    im Zusammenhang mit einem Personenschaden des Fahrers die Leistungen, für die bei den Mitfahrern die
                    Haftpflichtversicherung
                    aufkommt. Beispiele für Leistungen der Fahrerschutzversicherung, die sonst nicht erstattet werden,
                    sind:</p>
                <ul>
                    <li>ein möglicher Verdienstausfall aufgrund des Unfalls</li>
                    <li>eine nach dem Unfall benötigte Haushaltshilfe</li>
                    <li>behindertengerechte Umbaumaßnahmen</li>
                    <li>Hinterbliebenenrente</li>
                </ul>
                <p>Für die von CARISMA vermittelten Fahrerschutzversicherungen gelten die gleichen Deckungssummen, wie
                    sie in der
                    Haftpflicht für einen einzelnen Personenschaden festgelegt sind, also bis zu 15 Millionen Euro.<br/>
                    Die Fahrerschutzversicherung hat gegenüber einer Unfallversicherung oft den Vorteil, dass sie auch
                    dann zahlt, wenn es
                    keine bleibenden gesundheitlichen Schäden gibt.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseEleven">
                <a class="accordion-toggle">
                    Was ist ein H-Kennzeichen?
                </a>
            </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Ein H-Kennzeichen für historische Fahrzeuge kann beantragt und erteil werden, wenn das Fahrzeug
                    folgende Kriterien erfüllt.</p>
                <ul>
                    <li>Mindestalter 30 Jahre seit Erstzulassung</li>
                    <li>dokumentierte Fahrzeughistorie</li>
                    <li>90 Prozent originale oder originalgetreue Fahrzeugteile</li>
                    <li>erhaltenswerter Pflegezustand</li>
                </ul>
                <p>H-Kennzeichen wurden zur Pflege des kraftfahrzeugtechnischen Kulturguts eingeführt. Halter
                    profitieren von einer niedrigen
                    Kfz-Steuer und von günstigen Versicherungen, wie sie CARISMA vermittelt. Die Fahrzeuge dürfen
                    außerdem uneingeschränkt
                    in Umweltzonen fahren und benötigen keine Umweltplakette. Voraussetzung für das H-Kennzeichen ist
                    allerdings
                    ein Expertengutachten, das durch einen Gutachter mit entsprechender Berechtigung erstellt wird. TÜV,
                    GTÜ, KÜS oder DEKRA
                    können z.B. solche Gutachten erstellen. Die Prüfung kostet etwa 100 Euro. Bei der Begutachtung nach
                    Paragraf 23 der
                    StVZO wird auch die Originalität bewertet.<br/>
                    Es muss ebenfalls nachgewiesen werden, dass sich das Fahrzeug in einem technisch einwandfreien
                    Zustand befindet. Dies
                    muss durch eine Hauptuntersuchung festgestellt werden.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseTwelve">
                <a class="accordion-toggle">
                    Brauchen Sie für Ihr Fahrzeug ein Wertgutachten?
                </a>
            </h4>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>
                    CARISMA vermittelt Ihnen Kaskoversicherungen, die den tatsächlichen Wert Ihres Klassikers abdecken.
                    Daher muss von ihnen zum Versicherungsabschluss ein realistischer Wert genannt werden. Dies ist in
                    den meisten Fällen der übliche Marktwert, also der Durchschnittspreis, zu dem ihr Fahrzeug am
                    Privatmarkt für klassische Fahrzeuge gehandelt wird. Hierbei gilt es zu berücksichtigen, ein
                    gleichwertiges und gleichartiges Fahrzeug im möglichen Schadenfall zu kaufen.
                </p>

                <p>
                <h2><strong>CARISMA „Selbstbewertung“</strong></h2>
                Bei Fahrzeugen, die älter als 10 Jahre sind und deren voraussichtlicher Versicherungswert bei maximal €
                40.000,- liegt, reicht uns in den meisten Fällen ein Handy Video, welches das Fahrzeug von innen zeigt.
                Öffnen Sie dazu alle Türen, die Motorhaube und den Kofferraum. Gehen Sie wieder mit laufender
                Videoaufzeichnung um Ihr Fahrzeug und filmen Sie an allen Türen für einige Sekunden die Türverkleidung
                und den Innenraum des Fahrzeugs, sowie den Motor- und Kofferraum. Achten Sie hier bitte darauf, dass die
                Kamera Zeit hat, sich dem Lichtunterschied zwischen innen und außen anzupassen. Außerdem benötigen wir
                im Video eine erkennbare Aufnahme des Tachometerstands. Bei Traktoren und Motorrädern ist entsprechend
                der Bauart zu verfahren.
                </p>

                <p>
                <h2><strong>Kurzgutachten</strong></h2>
                Bei Fahrzeugen, die älter als 10 Jahre sind und deren voraussichtlicher Versicherungswert bei maximal €
                70.000,- liegt, reicht uns eine Bewertung eines unabhängigen Kfz-Sachverständigen/einer
                Sachverständigenorganisation in Form einer oberflächlichen, äußerlichen Inaugenscheinnahme.
                Besonderheiten des Fahrzeugs, die Historie sollten immer in einem Gutachten festgehalten werden.
                </p>

                <p>
                <h2><strong>Detailliertes Gutachten</strong></h2>
                Bei Fahrzeugen, die älter als 10 Jahre sind und deren voraussichtlicher Versicherungswert über €
                70.000,- liegt und/oder deren Zustandsnote besser als Note 2 eingeordnet wird oder bei der Versicherung
                des Wiederherstellungswertes, ist immer eine ausführliche Bewertung eines unabhängigen
                Kfz-Sachverständigen/einer Sachverständigenorganisation notwendig. Hier werden alle Baugruppen inklusive
                der Fahrzeugunterseite ausführlich ohne Zerlegung besichtigt und in der Expertise beschrieben.
                Umfangreiches Bildmaterial gehört ebenfalls dazu. In der Regel führt der Sachverständige eine Probefahrt
                durch.
                </p>

                <p>
                <h2><strong>CARISMA empfiehlt:</strong></h2>
                Lassen Sie ein Wertgutachten erstellen und regelmäßig aktualisieren, denn als Geschädigter sind sie
                sowohl im Haftpflichtschadenfall (ein Dritter beschädigt Ihr Fahrzeug), als auch im Kaskoschadenfall
                stets beweispflichtig. Gutachter ermitteln den tatsächlichen Wert ihres Klassikers, unabhängig vom
                Kaufpreis. Verdeckte Mängel, verschwiegene Vorschäden können durch unabhängige Spezialisten aufgedeckt
                werden.
                </p>
                <p>
                <h2><strong>Besonderheit bei der All Risk-Versicherung*</strong></h2>
                Bei Abschluss einer All Risk Versicherung immer die Vorlage eines Gutachtens notwendig. Für den
                Online-Versicherungsabschluss muss CARISMA das Gutachten allerdings noch nicht zwingend vorliegen und
                kann stattdessen innerhalb von acht Wochen nachgereicht werden. Die Gutachten dürfen generell nicht
                älter als drei Jahre sein.
                <h5 style="font-family: Roboto-Light;">*CARISMA behält sich vor, von diesen Regelungen in Einzelfällen
                    abzuweichen und Sie entsprechend zu informieren.</h5>
                </p>

                <p>Unabhängige Kfz-Sachverständige oder unabhängige Sachverständigenorganisationen finden Sie zum
                    Beispiel hier <a href="https://www.classic-data.de/service/sachverstaendigen-suche/"
                                     target="_blank">Classic Data Sachverständigen-Suche</a>.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseThirteen">
                <a class="accordion-toggle">
                    Welchen Vorteil bietet das CARISMA Premium-Angebot?
                </a>
            </h4>
        </div>
        <div id="collapseThirteen" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Das CARISMA Premium-Angebot ist unser umfassendster Versicherungsschutz.</p>
                <p>
                    <strong>Für PKW gilt: Bei den meisten Oldtimern, Youngtimern und Newtimern </strong>
                    bietet das Premium-Angebot neben der CARISMA Haftpflichtversicherung die CARISMA All Risk
                    Versicherung mit Beweislastumkehr zum Vorteil des Kunden. Diese All Risk deckt alle Schäden ab, die
                    durch die Teilkasko und Vollkaskoversicherung abgedeckt sind, sowie darüber hinaus alle Schäden, die
                    nicht ausdrücklich ausgeschlossen sind. Außerdem ist eine Fahrerschutzversicherung eingeschlossen.
                </p>
                <p>
                    <strong>Für Wohnmobile gilt: Bei den Oldtimern und Youngtimern bietet</strong>
                    das Premium-Angebot ebenfalls die CARISMA Haftpflichtversicherung sowie die CARISMA All Risk
                    Versicherung mit Beweislastumkehr zum Vorteil des Kunden. Diese All Risk deckt alle Schäden ab, die
                    durch die Teilkasko und Vollkaskoversicherung abgedeckt sind, sowie darüber hinaus alle Schäden, die
                    nicht ausdrücklich ausgeschlossen sind. Außerdem ist eine Fahrerschutzversicherung eingeschlossen.
                </p>
                <p>
                    <strong>Für neue und neuere Luxus- bzw. Sportwagen</strong>
                    (Premium Cars) bietet das Premium-Angebot die CARISMA Haftpflichtversicherung sowie die Teil- und
                    Vollkaskoversicherung.
                </p>
                <p>
                    <strong>Für Motorräder, Traktoren, Feuerwehren und LKW</strong>
                    umfasst das Premium Angebot die CARISMA Haftpflichtversicherung sowie die Teil- und
                    Vollkaskoversicherung.
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseFourteen">
                <a class="accordion-toggle">
                    Was bedeutet „All Risk“?
                </a>
            </h4>
        </div>
        <div id="collapseFourteen" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Die CARISMA All Risk Versicherung bietet Versicherungsschutz gegen alle Gefahren, die nicht
                    ausdrücklich ausgeschlossen sind! Das bedeutet, dass die CARISMA All Risk zusätzlich zu den bereits
                    durch die CARISMA Vollkasko versicherten Gefahren noch weitere Deckungsbausteine enthält. Dazu
                    gehören zum Beispiel:</p>
                <ul>
                    <li>verschiedene Betriebsschäden (z.B. Aufschlagen der Motorhaube)</li>
                    <li>Schäden durch chemische Reaktion (z.B. saurer Regen)</li>
                    <li>unbegrenzte Tierbiss- und Kurzschlussfolgeschäden</li>
                </ul>
                <p>Das attraktivste an der All Risk Versicherung ist die Umkehrung der Beweislast. Das bedeutet, dass im
                    Schadenfall nicht der Versicherungsnehmer, sondern der Versicherer auf seine Kosten beweisen muss,
                    ob ein Schaden unter Umständen ausgeschlossen ist. Bei der Teilkasko- und Vollkaskoversicherung muss
                    üblicherweise der Versicherungsnehmer durch die Vorlage der Schadensumstände nachweisen, dass ein
                    Schaden von der Versicherung abgedeckt ist.
                    Dadurch bietet die CARISMA All Risk ihren Kunden noch mehr Sicherheit und Kostenentlastung.</p>
                <p>Zum Abschluss einer CARISMA All Risk Versicherung ist die Vorlage eines Gutachtens notwendig, das
                    nicht älter als drei Jahre ist.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseFifteen">
                <a class="accordion-toggle">
                    Was mache ich im Schadenfall?
                </a>
            </h4>
        </div>
        <div id="collapseFifteen" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Im Schadenfall gehen Sie einfach zum CARISMA Schadenfallformular. Dort können Sie angeben, was
                    passiert ist, und
                    CARISMA setzt sich mit Ihnen in Verbindung und unternimmt alle Schritte, die zur Regulierung des
                    Schadens notwendig sind.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseSixteen">
                <a class="accordion-toggle">
                    Werde ich in den CARISMA-Tarifen nach einem Schadenfall hochgestuft?
                </a>
            </h4>
        </div>
        <div id="collapseSixteen" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Nein, da die Versicherungen, die CARISMA vermittelt, Fahrzeugen vorbehalten sind, die nicht als
                    Alltagsfahrzeuge verwendet
                    werden; und weil für diese Versicherungen keine Schadensfreiheitsklassen existieren, erfolgt auch
                    keine Hochstufung
                    im Schadenfall.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseSeventeen">
                <a class="accordion-toggle">
                    Was bedeutet der Begriff Wiederherstellungswert?
                </a>
            </h4>
        </div>
        <div id="collapseSeventeen" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Der Wiederherstellungswert eines Fahrzeugs beziffert die über den Markt- bzw. Wiederbeschaffungswert
                    hinausgehenden erforderlichen Instandsetzungskosten, um Ihr Fahrzeug in den gegenwärtigen Zustand zu
                    bringen. Das kann also zum Beispiel die Summe aus der Anschaffung des Fahrzeugs und einer
                    nachfolgenden aufwändigen Restauration sein, aber auch für Fahrzeuge gelten, die bisher
                    unrestauriert, aber besonders erhaltenswürdig sind. Die Möglichkeiten sind hier allerdings
                    verschieden und es ist daher immer notwendig den Wiederherstellungswert durch ein detailliertes
                    Gutachten eines unabhängigen Gutachters feststellen zu lassen. In der Regel enthält dieses Gutachten
                    auch den Marktwert und Wiederbeschaffungswert des Fahrzeugs. Um den Wiederherstellungswert Ihres
                    Fahrzeugs über CARISMA zu versichern, darf das Gutachten nicht älter als 3 Jahre sein. Wenn Sie den
                    Wiederherstellungswert versichern möchten, geben Sie diesen Wert beim Versicherungsantrag an und
                    markieren, dass dieser Wert versichert werden soll. Sie haben dann bis zu 8 Wochen Zeit, das
                    erstellte Gutachten vorzulegen. Sie können den Wiederherstellungswert auch noch nachträglich
                    versichern.</p>
                <p>Sollte das versicherte Fahrzeug nicht wieder aufbaubar sein, gelten die Bestimmungen bei Anschaffung
                    eines Fahrzeugs der identischen Baureihe. Die Leistungsgrenze ist in jedem Fall die vereinbarte
                    Versicherungssumme.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseEighteen">
                <a class="accordion-toggle">
                    Wie finde ich unabhängige Kfz-Sachverständige oder Sachverständigenorganisationen?
                </a>
            </h4>
        </div>
        <div id="collapseEighteen" class="panel-collapse collapse">
            <div class="panel-body insurancepanelbody">
                <p>Über folgende Links zur Sachverständigen Suche werden Sie sicher fündig!
                </p>
                <ul>
                    <li><a href="https://www.classic-data.de/service/sachverstaendigen-suche/">Classic Data: Bundesweit über 400 Sachverständige ermitteln bei Bedarf den tatsächlichen Wert Ihres Klassikers, vom Markt-/ Wiederbeschaffungswert bis hin zum Wiederaufbau-/ Wiederherstellungswert.</a></li>

                </ul>
            </div>
        </div>
    </div>

    <p></p>
    <div class="row">
        <div class="text-center">
            <a role="button" class="btn btn-danger btn-huge" href="?article_id=38&clang=1">direkt zum
                Beitragsrechner</a><a role="button" class="btn btn-danger btn-huge" href="/#FAQ"
                                      style="margin-right:15px;">zurück zur Hauptseite</a>
        </div>
    </div>

</div>
