<section id="carStories">
	<div class="jumbotron thirdImageStoriesSub1">
		<div class="row">
			<strong class="robotoMedium">&nbsp;</strong><p></p>
		</div>
	</div>

	<div class="jumbotron">
		<div class="row">
			<div class="mt">
				<h2 class="roboto">Der Trend zum Youngtimer</h2>
				<p>
					<strong>Die Kinder der 1970er und 1980er Jahre entdecken immer häufiger die Autos ihrer Eltern –</strong> vom VW Bulli über den Audi Quattro bis hin zum Volvo 240.<br />In den 1980ern machte Thorben mit seinen Eltern in den Sommerferien regelmäßig Urlaub in Dänemark oder Schweden. Die schwer beladene Familienkutsche: ein Volvo 240. „Wir hatten die Kombi-Version“, erzählt er, „so konnten wir auf dem Dachträger besser unsere Fahrräder und das Windsurfing-Equipment meines Vaters transportieren.“ Vor einigen Monaten holte sich der heute 43-Jährige das prägende Fahrzeug seiner Kindheit und Jugend ins Erwachsenenleben: „Ein blaues Kombi-Modell, extrem gut erhalten, Baujahr 1988.“
				</p>

				<p>
					Was früher „Alltag“ war, ist heute „Kult“: So wie Thorben gehen schon seit einigen Jahren immer mehr Menschen auf einen Nostalgietrip und legen sich Originalmodelle der Autos zu, die sie schon zu Schulzeiten begleiteten. Beliebt bei der „Generation Golf“, also den in den späten 1970ern und 1980ern Geborenen, sind neben dem omnipräsenten VW Golf (Golf I, II und III) unter anderen der weitaus weniger erfolgreiche VW Corrado (gebaut von 1986 bis 1995), die Mercedes-Modelle 200 bis 500 (Baureihe 124, 1984 bis 1997), der Audi Quattro (1980 bis 1991) sowie der Renault Twingo (1993 bis 1998).
				</p>

				<p>
					Bezahlt hat Thorben für seinen Nostalgie-Volvo 5.500 Euro. „Das ist zwar durchaus ein stolzer Preis“, sagt er, „aber weil der Wagen nur 180.000 Kilometer auf dem Tacho und kaum Macken hatte eben auch eine sinnvolle Investition.“ Tatsächlich gelten neben „richtigen“ Oldtimern (älter als 30 Jahre) auch clever gekaufte Youngtimer – also Autos, die üblicherweise zwischen 15 und 30 Jahre alt sind – als <u>Wertanlage.</u>
				</p>

				<p style="text-align:center; width: 80%; margin: 0 auto; font-family:Roboto-BoldItalic !important;">
					„Für mich stehen Youngtimer wie zum Beispiel mein Volvo 240 für ein individuelles Lebensgefühl.“ Thorben (43)
				</p>

				<p>
					In den Urlaub wie zu Kindheitszeiten fährt der Rheinländer mit seinem Volvo 240 Kombi indes nicht. „Die meiste Zeit steht der Wagen in der Garage.“ Beruflich ist Thorben unter der Woche viel unterwegs – mit alle zwei Jahre wechselnden Firmenwagen. „Klar, dass ich zu denen keine persönliche Beziehung aufbauen kann.“ Um so mehr freut er sich aufs Wochenende: Bei gutem Wetter fährt er mit seiner Frau und den beiden sechs- und achtjährigen Söhnen im Youngtimer raus aufs Land. „Meine Kinder sind begeistert und haben unserem Volvo letztens sogar einen Namen gegeben. Er heißt jetzt Björn, passend zu seiner schwedischen Herkunft.“
				</p>

				<p>
					Auch die passende Autowerkstatt hat Thorben bereits gefunden. „Die kennen sich mit Youngtimern aus und besorgen wenn nötig die passenden Ersatzteile.“ Ein defektes Bremslicht hat er letztens selbst gewechselt. „Bei den heutigen mit Elektronik vollgestopften Autos ist so etwas ja gar nicht mehr möglich.“ Wie er seine Faszination für Youngtimer auf den Punkt bringen würde? „Früher hatten die meisten Autos einfach mehr Charakter, spätestens seit der Jahrtausendwende sind sie im Design immer stromlinienförmiger und austauschbarer geworden.“ Und eben deswegen sei es nicht zuletzt ein Ausdruck von Individualität, heutzutage einen kantigen 80er-Jahre-Klassiker zu fahren.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="text-center" style="margin-top: 30px">
				<a role="button" class="btn btn-danger btn-huge" href="?article_id=32&clang=1">direkt zum Beitragsrechner</a><a role="button" class="btn btn-danger btn-huge" href="?article_id=5&clang=1#derTrendZumYoungtimer" style="margin-right:15px;">zurück zu Stories</a>
			</div>
		</div>
	</div>
</section>
