<section id="carStories">
	<div class="jumbotron thirdImageStoriesSub2"></div>

	<div class="jumbotron">
		<div class="row">
			<div class="mt">
				<h2>Autoklassiker als Wertanlage</h2>
				<p>Historische Autos statt Aktien: Durch die niedrigen Zinsen am
					Kapitalmarkt sind Oldtimer in den vergangenen Jahren eine immer beliebtere
					Wertanlage geworden. Ein Indikator: der seit 1999 im Auftrag des
					Verbands der Automobilindustrie (VDA) berechnete Deutsche
					Oldtimerindex. Im Jahr 2016 legte er erneut zu – um 4,4 Prozent.
					Bei der Langzeitwertentwicklung liegt der Volkswagen-Bus Typ 2
					(1967 bis 1972) an der Spitze, gefolgt vom Citroen 2CV 6 („Ente“,
					1969 bis 1976) sowie dem Mercedes-Benz 300 SL „Flügeltürer“ (1954
					bis 1957).</p>
				<p>In der Rangliste nach Wertentwicklung gegenüber dem Vorjahr
					schossen zwei Mercedes-Benz-Fahrzeuge aus den 1950er Jahren an die
					Spitze: auf Platz 1 der W 121 „Ponton“ (1956 bis 1959) und auf
					Platz 3 der 190 SL (1955 bis 1963). Auf Platz 2 liegt der Toyota
					MR-2 (1985 bis 1987). Längst sind auch Youngtimer (jünger als 30
					Jahre) als Investition interessant geworden.</p>
				<p>Eine positive Preisentwicklung hängt davon ab, wie gut das
					Fahrzeug erhalten ist – idealerweise kommt es mit nur leichten
					Gebrauchsspuren, ohne Mängel und ausschließlich mit
					Originalbauteilen daher. Es muss kein Porsche 911 sein, auch
					bezahlbare Alltagsklassiker aus den 1980er und 1990er Jahren sind
					gefragt – etwa der Saab 900 (1978 bis 1998) sowie die erste
					Generation (1989 bis 1998) des Mazda-Cabrios MX-5.</p>
				<img style="max-width: 100%;"
					src="assets/images/stories/1600x800/stories-wertanlage.jpg"
					alt="Autoklassiker als Wertanlage" />
				<p></p>
			</div>
		</div>
		<div class="row">
			<div class="text-center" style="margin-top: 30px">
				<a role="button" class="btn btn-danger btn-huge"
					href="?article_id=38&clang=1">direkt zum Beitragsrechner</a><a
					role="button" class="btn btn-danger btn-huge"
					href="?article_id=5&clang=1#autoklassikerAlsWertanlage"
					style="margin-right: 15px;">zurück zu Stories</a>
			</div>
		</div>
	</div>
</section>
