<div id="ueberUns" class="jumbotron firstJumbo">
	<div class="mt row secondImageHeadline">
		<h2>CARISMA - der neue Versicherungsschutz</h2>

		<p>Willkommen beim Spezialisten für die Versicherung von Liebhaberfahrzeugen!</p>

		<ul>
			<li>Mit CARISMA können Sie für Ihren Klassiker alle Vorteile einer modernen Versicherung nutzen.</li>
			<li>Mit CARISMA können Sie Ihren Versicherungsschutz für Ihren Oldtimer, Youngtimer, Newtimer oder Ihr Premium Car ganz einfach und sicher Online abschließen.</li>
			<li>Mit unserem Sofortschutz-Beitragsrechner können Sie selbst in Ruhe und in wenigen Schritten Ihren gewünschten Tarif wählen und erhalten sofort Ihre eVB und Ihren Versicherungsschein.</li>
		</ul>

		<p>
			Die Idee ist ganz einfach:<br />
			Wir wollen Ihnen einen besonderen Versicherungsschutz für Ihr Liebhaberfahrzeug anbieten.
		</p>

		<img src="assets/images/ueberuns_grafik.svg" class="desktop" />
		<img src="assets/images/ueberuns_grafik_mobile.svg" class="mobile" />

		<p>
			Das ist neu: der Versicherungsschutz für Liebhaberfahrzeuge, für den Sie online Ihren Tarif berechnen können und sofort Ihren Versicherungsschein erhalten, damit Sie Ihr geliebtes Fahrzeug auch sofort fahren können.
		</p>

		<p><small>* Es gelten die Versicherungsbedingungen.</small></p>

	</div>

	<div class="row">
		<div class="text-center">
			<a role="button" class="btn btn-danger btn-huge" href="?article_id=38&amp;clang=1">direkt zum Beitragsrechner</a>
			<a role="button" class="btn btn-danger btn-huge" href="?article_id=1&amp;clang=1#derNeueVersicherungsschutz">zurück zur Hauptseite</a>
		</div>

	</div>
</div>
