<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<link rel="stylesheet"
	href="https://printjs-4de6.kxcdn.com/print.min.css" />
<style>
.btn-default {
	display: block;
	white-space: normal;
	min-width: auto;
	margin: 10px 0 0;
	padding: 10px 30px;
	font: normal 22px/30px "Roboto-Medium";
	height: 80px;
}
</style>
<article class="mtb">
	<section class="module-wrapper clearfix">
		<form method="post" action="#" id="printJS-form">
			<div class="full container mt" id="new">

				<p>
					<span id="todayDate"></span>
				</p>
				<p>
					Sehr geehrte<span id="salutation"></span> <span id="lastname"></span>,
				</p>
				<p>herzlich Willkommen bei CARISMA! Wir bedanken uns f&uuml;r
					ihr Vertrauen und dass Sie Ihr klassisches Fahrzeug &uuml;ber uns
					versichern m&ouml;chten.</p>
				<p>
					Ihre elektronische Versicherungsbest&auml;tigung (eVB) f&uuml;r die
					Anmeldung Ihres Fahrzeugs bei der KFZ Zulassungsstelle lautet: <span
						class="evbNumber">0000</span>. Die eVB ist g&uuml;ltig bis <span
						id="gueltigbis"></span>
				</p>
				<p>
					<strong>Weitere wichtige Informationen zu Ihrer
						Versicherung:</strong>
				</p>
				<ol>
					<li><strong> Was bedeutet eVB (elektronische
							Versicherungsbest&auml;tigung)?</strong></li>
				</ol>
				<p>Die Vergabe einer eVB ist gleichbedeutend mit einem Antrag
					auf vorl&auml;ufigen Versicherungsschutz bei einem Versicherer z.B.
					f&uuml;r die Neuzulassung eines Fahrzeugs oder bei einem
					Versichererwechsel. Bevor die eVB eingef&uuml;hrt wurde, gab es die
					sogenannte Versicherungs-Doppelkarte.</p>
				<ol start="2">
					<li><strong> Anmeldung:</strong></li>
				</ol>
				<p>Der Antrag auf vorl&auml;ufigen Versicherungsschutz gilt als
					angenommen und m&uuml;ndet in einen Versicherungsvertrag (Police),
					wenn Sie ihr Fahrzeug mit Hilfe der oben angezeigten eVB anmelden.</p>
				<p>
					3. <strong>Beginn der Versicherung:</strong>
				</p>
				<p>Der vorl&auml;ufige Versicherungsschutz tritt f&uuml;r die
					verf&uuml;gbaren und von Ihnen gew&auml;hlten
					Versicherungs-Komponenten sofort in Kraft und gilt damit sogar
					schon f&uuml;r die direkte Fahrt mit Ihrem Fahrzeug zur
					Anmeldestelle.</p>
				<p>
					4.<strong> Dokumentations- und Vertragsunterlagen:</strong>
				</p>
				<p>Wir haben Ihnen im Laufe des Online Prozesses folgende
					Dokumente per E-Mail zugeschickt:</p>
				<ul>
					<li>unverbindliches Angebot einschlie&szlig;lich
						Kundeninformation, Produktinformationsblatt und</li>
				</ul>
				<p>Allgemeine und Besondere Versicherungsbedingungen</p>
				<ul>
					<li>den von Ihnen gestellten Antrag auf Versicherungsschutz</li>
				</ul>
				<p>Die Dokumente stellen die rechtliche Grundlage des oben
					beschriebenen Prozesses dar.</p>
				<p>
					5.<strong> Versicherungswert:</strong>
				</p>
				<p>Der von Ihnen Online angegebene Fahrzeugwert entspricht dem
					Versicherungswert und muss von Ihnen innerhalb von 8 Wochen mit dem
					unten beschriebenen Verfahren plausibilisiert werden.</p>
				<p>
					6.<strong> Einzureichende Dokumente:</strong>
				</p>
				<p>
					<strong>Generell gilt, dass Gutachten von
						unabh&auml;ngigen Sachverst&auml;ndigen oder unabh&auml;ngigen
						Sachverst&auml;ndigen-Organisationen erstellt werden m&uuml;ssen.</strong>
				</p>
				<ol>
					<li><strong>Au&szlig;en-Zustand:</strong> Ein 360&deg; Handy
						Video, das das Fahrzeug von au&szlig;en zeigt (bei Cabrios mit
						geschlossenem Verdeck). Gehen Sie dazu einfach einmal langsam, mit
						laufender Videoaufzeichnung und bei guten Lichtverh&auml;ltnissen,
						um das Fahrzeug. Bei Traktoren und Motorr&auml;dern ist
						entsprechend der Bauart zu verfahren.</li>
					<li><strong>Innen-Zustand:</strong> Ein 360&deg; Handy Video,
						welches das Fahrzeug von innen zeigt. &Ouml;ffnen Sie dazu alle
						T&uuml;ren, die Motorhaube und den Kofferraum. Gehen Sie wieder
						mit laufender Videoaufzeichnung um Ihr Fahrzeug und filmen Sie an
						allen T&uuml;ren f&uuml;r einige Sekunden die T&uuml;rverkleidung
						und den Innenraum des Fahrzeugs, sowie den Motor- und Kofferraum.
						Achten Sie hier bitte darauf, dass die Kamera Zeit hat, sich dem
						Lichtunterschied zwischen innen und au&szlig;en anzupassen.
						Au&szlig;erdem ben&ouml;tigen wir im Video eine erkennbare
						Aufnahme des Tachometerstands. Bei Traktoren und Motorr&auml;dern
						ist entsprechend der Bauart zu verfahren.</li>
					<li><strong>Gutachten f&uuml;r
							Marktwert/Wiederbeschaffungswert: </strong>Ein Gutachten (nicht &auml;lter
						als 3 Jahre) ist zum Nachweis des
						Marktwertes/Wiederbeschaffungswertes f&uuml;r folgende Fahrzeuge,
						die &auml;lter als 10 Jahre sind, notwendig:</li>
					<li>Kurzgutachten ab Versicherungswert 40.000 &euro;
						(oberfl&auml;chliche &auml;u&szlig;erliche Pr&uuml;fung des Fahrzeugs).</li>
				</ol>
				
				<p>Detailliertes Gutachten ab Versicherungswert 70.000 &euro; (ausf&uuml;hrliche Beschreibung des Fahrzeugs und seiner einzelnen Baugruppen sowie der
					Fahrzeughistorie)</p>
				<ol>
					<li>Deren Zustandsnote besser als Note 2 eingeordnet wird.</li>
					<li><strong>Gutachten f&uuml;r
							Wiederherstellungswert:</strong></li>
				</ol>
				<p>Sie m&uuml;ssen den Wiederherstellungswert &uuml;ber ein
					detailliertes Gutachten (nicht &auml;lter als 3 Jahre,
					Marktwert/Wiederbeschaffungswert und Wiederherstellungswert sind
					separat ausgewiesen) nachweisen, dass den Wert eindeutig belegt.
					Dazu haben Sie 8 Wochen Zeit. F&uuml;r den Fall, dass Sie nach
					dieser Frist kein Gutachten vorlegen k&ouml;nnen, wird der
					versicherte Wert auf den Marktwert/Wiederbeschaffungswert reduziert
					und der Versicherungsschein ge&auml;ndert.</p>
				<p>Im Schadenfall innerhalb der Frist von 8 Wochen muss der
					Wiederherstellungswert &uuml;ber das bestehende Gutachten nicht
					&auml;lter als 3 Jahre nachweisbar sein.</p>
				<ol start="5">
					<li><strong>Gutachten f&uuml;r die All Risk
							Versicherung:</strong></li>
				</ol>
				<p>F&uuml;r Fahrzeuge, f&uuml;r die eine All Risk Versicherung
					beantragt wird, ist in jedem Fall ein entsprechendes Gutachten
					erforderlich (kurzgutachten bis 70.000 &euro;, detailliertes
					Gutachten ab 70.000 &euro;, wie oben).</p>
				<ol start="6">
					<li><strong>Einzelfallregelungen</strong></li>
				</ol>
				<p>CARISMA beh&auml;lt sich vor, von diesen Regelungen in
					Einzelf&auml;llen abzuweichen und Sie entsprechend zu informieren.</p>
				<p>Generell empfiehlt CARISMA seinen Kunden die Erstellung eines
					Gutachtens als objektiven Wert- und Zustandsnachweis. Das Gutachten
					f&uuml;r das H-Kennzeichen gilt &uuml;brigens nicht als Ersatz
					f&uuml;r ein Wertgutachten.</p>
				<p>
					Alle Dokumente k&ouml;nnen in den <a
						href="https://portal.carisma.auto/viva/f?p=500:101:::::">CARISMA
						Kundenbereich</a> hochgeladen werden.
				</p>
				<p>
					Bei Fragen wenden Sie sich bitte auch gerne an unseren <a
						href="?article_id=7&amp;clang=1">Support</a>.
				</p>
				<p>Mit besten Gr&uuml;&szlig;en Ihr CARISMA Assecuradeur Team</p>
				<p>
					<br /> <br />
				</p>
			</div>
			<div class="full container mt" id="change" style="display: none;">

				<p>
					<span id="todayDate"></span>
				</p>
				<p>
					Sehr geehrte<span id="salutation"></span> <span id="lastname"></span>,
				</p>

				<p>Herzlich Willkommen bei CARISMA! Wir bedanken uns für ihr
					Vertrauen und dass Sie Ihr klassisches Fahrzeug über uns versichern
					möchten.</p>

				<!--  <p>Ihre Versicherungsnummer lautet: abcdef1234567</p>-->

				<!--<p>Datum: <span id="gueltigvon">1.12.2017</span>-->

				<p>
					Es wurde eine elektronische Versicherungsbestätigung (eVB) für Ihren Versichererwechsel erstellt.
				</p>
				
				<p><strong>Wie geht es weiter?</strong><br />
					Die eVB wird durch CARISMA automatisch für die Ummeldung Ihres Fahrzeugs auf die neue Versicherung beim Straßenverkehrsamt verwendet. Sie müssen nur Ihre alte Versicherung fristgerecht, d.h. mindestens einen Monat vor dem jährlichen Ablaufdatum, kündigen. Bei vielen KFZ Versicherungen ist dies der 31.12. In diesem Fall müsste die Kündigung also spätestens am 30.11. beim bestehenden Versicherer eingehen. Der Anmeldetag für die neue Versicherung ist dann zwingend der erste Tag nach dem Ablauf der alten Versicherung. In diesem Beispiel also der 01.01.
					Bei Saisonkennzeichen verfahren viele Versicherer unterschiedlich. Klären sie bitte unbedingt, wann ihr Vertrag endet, z.B. zum 01.01. oder zum Beginn der neuen Saison.
					</p>

				<p>
					<strong>Weitere wichtige Informationen zu Ihrer
						Versicherung:</strong>
				</p>
				<ol>
					<li><strong> Was bedeutet eVB (elektronische
							Versicherungsbest&auml;tigung)?</strong></li>
				</ol>
				<p>Die Vergabe einer eVB ist gleichbedeutend mit einem Antrag
					auf vorl&auml;ufigen Versicherungsschutz bei einem Versicherer z.B.
					f&uuml;r die Neuzulassung eines Fahrzeugs oder bei einem
					Versichererwechsel. Bevor die eVB eingef&uuml;hrt wurde, gab es die
					sogenannte Versicherungs-Doppelkarte.</p>
				<ol start="2">
					<li><strong> Versichererwechsel für Ihr Fahrzeug:</strong></li>
				</ol>
				<p>Wenn Sie Ihre alte Versicherung schon gekündigt haben, müssen Sie nichts weiteres unternehmen.
					Bei einem Versichererwechsel wird ein nahtloser Übergang von alter zu neuer Versicherung gewährleistet.
					Sobald der Versichererwechsel vollzogen ist, werden Sie von CARISMA per E-Mail informiert.
					Wenn Sie Ihre alte Versicherung noch nicht gekündigt haben, ist das grundsätzlich kein Problem. Sie können Ihre Versicherung auch nach Abschluss der neuen Versicherung noch kündigen. Sie müssen ihre alte Versicherung aber mindestens einen Monat vor Ablauf des Vertragsjahres kündigen. In den meisten Fällen der 31.12.
				</p>
				<ol start="3">
					<li><strong>Beginn der Versicherung:</strong></li>
				</ol>
				<p>Der Versicherungsschutz beginnt mit dem ersten Tag nach dem Ablauf der alten Versicherung. Bis zu diesem Tag bleibt Ihr Fahrzeug beim alten Versicherer versichert.</p>
				<ol start="4">
					<li><strong> Dokumentations- und Vertragsunterlagen:</strong></li>
				</ol>
				<p>Wir haben Ihnen im Laufe des Online Prozesses folgende
					Dokumente per E-Mail zugeschickt:</p>
				<ul>
					<li>unverbindliches Angebot einschlie&szlig;lich
						Kundeninformation, Produktinformationsblatt und</li>
				</ul>
				<p>Allgemeine und Besondere Versicherungsbedingungen</p>
				<ul>
					<li>den von Ihnen gestellten Antrag auf Versicherungsschutz</li>
				</ul>
				<p>Die Dokumente stellen die rechtliche Grundlage des oben
					beschriebenen Prozesses dar.</p>
				<ol start="5">
					<li><strong>Versicherungswert:</strong></li>
				</ol>
				<p>Der von Ihnen Online angegebene Fahrzeugwert entspricht dem
					Versicherungswert und muss von Ihnen innerhalb von 8 Wochen mit dem
					unten beschriebenen Verfahren plausibilisiert werden.</p>
				<ol start="6">
					<li><strong> Einzureichende Dokumente:</strong></li>
				</ol>
				<p>
					<strong>Generell gilt, dass Gutachten von
						unabh&auml;ngigen Sachverst&auml;ndigen oder unabh&auml;ngigen
						Sachverst&auml;ndigen-Organisationen erstellt werden m&uuml;ssen.</strong>
				</p>
				<ol>
					<li><strong>Au&szlig;en-Zustand:</strong> Ein 360&deg; Handy
						Video, das das Fahrzeug von au&szlig;en zeigt (bei Cabrios mit
						geschlossenem Verdeck). Gehen Sie dazu einfach einmal langsam, mit
						laufender Videoaufzeichnung und bei guten Lichtverh&auml;ltnissen,
						um das Fahrzeug. Bei Traktoren und Motorr&auml;dern ist
						entsprechend der Bauart zu verfahren.</li>
					<li><strong>Innen-Zustand:</strong> Ein 360&deg; Handy Video,
						welches das Fahrzeug von innen zeigt. &Ouml;ffnen Sie dazu alle
						T&uuml;ren, die Motorhaube und den Kofferraum. Gehen Sie wieder
						mit laufender Videoaufzeichnung um Ihr Fahrzeug und filmen Sie an
						allen T&uuml;ren f&uuml;r einige Sekunden die T&uuml;rverkleidung
						und den Innenraum des Fahrzeugs, sowie den Motor- und Kofferraum.
						Achten Sie hier bitte darauf, dass die Kamera Zeit hat, sich dem
						Lichtunterschied zwischen innen und au&szlig;en anzupassen.
						Au&szlig;erdem ben&ouml;tigen wir im Video eine erkennbare
						Aufnahme des Tachometerstands. Bei Traktoren und Motorr&auml;dern
						ist entsprechend der Bauart zu verfahren.</li>
					<li><strong>Gutachten f&uuml;r
							Marktwert/Wiederbeschaffungswert: </strong>Ein Gutachten (nicht &auml;lter
						als 3 Jahre) ist zum Nachweis des
						Marktwertes/Wiederbeschaffungswertes f&uuml;r folgende Fahrzeuge,
						die &auml;lter als 10 Jahre sind, notwendig:</li>
					<li>Kurzgutachten ab Versicherungswert 40.000 &euro;
						(oberfl&auml;chliche &auml;u&szlig;erliche Pr&uuml;fung des
						Fahrzeugs).</li>
					<li>Detailliertes Gutachten ab Versicherungswert 70.000 &euro;
						(ausf&uuml;hrliche Beschreibung des Fahrzeugs und seiner einzelnen
						Baugruppen sowie der Fahrzeughistorie)</li>
				</ol>
				<p>c.Deren Zustandsnote besser als Note 2 eingeordnet wird.</p>
				<ol start="4">
					<li><strong>Gutachten f&uuml;r
							Wiederherstellungswert:</strong></li>
				</ol>
				<p>Sie m&uuml;ssen den Wiederherstellungswert &uuml;ber ein
					detailliertes Gutachten (nicht &auml;lter als 3 Jahre,
					Marktwert/Wiederbeschaffungswert und Wiederherstellungswert sind
					separat ausgewiesen) nachweisen, dass den Wert eindeutig belegt.
					Dazu haben Sie 8 Wochen Zeit. F&uuml;r den Fall, dass Sie nach
					dieser Frist kein Gutachten vorlegen k&ouml;nnen, wird der
					versicherte Wert auf den Marktwert/Wiederbeschaffungswert reduziert
					und der Versicherungsschein ge&auml;ndert.</p>
				<p>Im Schadenfall innerhalb der Frist von 8 Wochen muss der
					Wiederherstellungswert &uuml;ber das bestehende Gutachten nicht
					&auml;lter als 3 Jahre nachweisbar sein.</p>
				<ol start="5">
					<li><strong>Gutachten f&uuml;r die All Risk
							Versicherung:</strong></li>
				</ol>
				<p>F&uuml;r Fahrzeuge, f&uuml;r die eine All Risk Versicherung
					beantragt wird, ist in jedem Fall ein entsprechendes Gutachten
					erforderlich (kurzgutachten bis 70.000 &euro;, detailliertes
					Gutachten ab 70.000 &euro;, wie oben).</p>
				<ol start="6">
					<li><strong>Einzelfallregelungen</strong></li>
				</ol>
				<p>CARISMA beh&auml;lt sich vor, von diesen Regelungen in
					Einzelf&auml;llen abzuweichen und Sie entsprechend zu informieren.</p>
				<p>Generell empfiehlt CARISMA seinen Kunden die Erstellung eines
					Gutachtens als objektiven Wert- und Zustandsnachweis. Das Gutachten
					f&uuml;r das H-Kennzeichen gilt &uuml;brigens nicht als Ersatz
					f&uuml;r ein Wertgutachten.</p>
				<p>
					Alle Dokumente k&ouml;nnen in den<a
						href="https://portal.carisma.auto/viva/f?p=500:101:::::"> CARISMA
						Kundenbereich</a> hochgeladen werden.
				</p>
				<p>Bei Fragen wenden Sie sich bitte auch gerne an unseren
					 <a href="?article_id=7&amp;clang=1">Support</a>.
				<p>Mit besten Gr&uuml;&szlig;en Ihr CARISMA Assecuradeur Team</p>
			</div>
		</form>
		<div class="row footer">
			<button type="button" onclick="printJS('printJS-form', 'html')"
				class="btn btn-default" style="margin-bottom: 20px;">Seite
				drucken</button>
			<a class="link_home" href="?article_id=1&amp;clang=1" onclick="deleteSessionStorage()">zurück zur Homepage</a>
		</div>
	</section>
</article>
<script src="assets/js/beitragsrechner.js"></script>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1260810,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('eVB-Abschlussseite')
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
	<p style="margin:0;padding:0;border:0;">
		<img src="https://track.adform.net/Serving/TrackPoint/?pm=1260810&ADFPageName=eVB-Abschlussseite&ADFdivider=|" width="1" height="1" alt="" />
	</p>
</noscript>
<!-- Adform Tracking Code END -->