<style type="text/css">
#formWrapper { margin: 50px auto 0; width: 95%; max-width: 600px; }
#formWrapper h3 { font-weight: bold; }
#formWrapper p { margin-bottom: 30px; }
#formWrapper p,
#formWrapper label { font: normal 14px/18px "Roboto-Regular"; transition: color .4s; }
#formWrapper label { width: 100%; height: auto; margin: 0 0 15px; }
#formWrapper label span { display: inline-block; padding: 5px 0; }
#formWrapper input { width: 100%; height: 50px; margin: 10px 0 0; padding: 0 10px; border: 2px solid #aaaabb; font-size: 16px; transition: border .4s, box-shadow .5s; }

#formWrapper input[type=checkbox] { position: relative; top: 0; display: inline-block; width: 20px; height: 20px; margin: 0 15px 0 0; vertical-align: middle; }

#formWrapper img.infoIcon { width: 25px; height: auto; margin: 0 0 0 10px; }

#formWrapper .submitButton { margin-top: 30px; text-align: center; }
#formWrapper .submitButton a { display: inline-block; width: 235px; height: 66px; margin: 0 auto; background-color: #d1232a; color: #fff; font-size: 20px; line-height: 60px; border: 2px solid #d1232a; }

#formWrapper p.registrieren { text-align: center; padding: 15px 0; }


#formWrapper label.error { transition: color .2s; color: #ff0000; }
#formWrapper input.error { transition: border .2s, box-shadow .5s; border: 2px solid #ff0000; box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.6);  }
#thankyoudiv { display: none;}
.submitButton a { font: normal 18px/60px "Roboto-Medium"; display: inline-block; width: 235px; height: 66px; margin: 0 auto; background-color: #d1232a; color: #fff; border: 2px solid #d1232a; }
</style>


<!-- Login -->
<div class="jumbotron" style="height:700px;">
<div class="wrapper">
	<div id="formWrapper">
		<form action="" method="" name="passlostWindowForm" onsubmit="return false;">
			<h3 class="tarifShortTitle">Passwort vergessen</h3>
			<p>Wir senden Ihnen eine E-Mail mit Ihrem aktuellen Passwort an die angegebene E-Mail-Adresse. Bitte überprüfen Sie Ihr E-Mail- Konto.</p>

			<label class=""><b>Ihre E-Mail-Adresse*</b><br />
				<input type="text" name="e-mail-adresse" id="e-mail-adresse"/>
			</label>
			<div class="submitButton">
				<button id="resendBtn" class="btn btn-danger btn-huge" href="">Passwort zusenden</button>
				
			</div>
		</form>
		<div class="center submitButton" id="thankyoudiv">
			<span >Vielen Dank, die E-Mail mit Ihrem Passwort wurde versendet.</span>
			<a role="button" id="backBtn" href="?article_id=17&clang=1">zurück zum Login</a>
		</div>
	</div>
</div>
<div>
<!-- Login -->
<script src="assets/js/beitragsrechner.js"></script>
