
<div id="insuranceJumbotron" class="jumbotron">
	<div class="row">
		<div class="content-wrapper">
			<h2 class="mobile">Ihr Sofortschutz-Beitragsrechner</h2>
			<div class="intro">
				<h2 class="monserratSemiBold desktop">Sofortschutz-Beitragsrechner</h2>
				<p>
					F&uuml;r Ihr Fahrzeug bieten wir Ihnen mit unseren Tarifen BASIS, KOMFORT und PREMIUM den passenden Versicherungsschutz für Ihre Bed&uuml;rfnisse.
				</p>
				<p>
					<strong>Mit unserem Sofortschutz-Beitragsrechner</strong> k&ouml;nnen Sie jetzt in wenigen Schritten Ihren gewünschten Tarif für Ihren Oldtimer, Youngtimer, Newtimer oder für Ihr Premium Car w&auml;hlen, die Preise vergleichen und erhalten sofort Ihre eVB und Ihren Versicherungsschein!
				</p>
				<p id="changeCarHref">(<a href="#" data-js-action="toggle" id="toggle38CalcFirst2" ><span style="color:red;">Hier</span></a> Ihre Fahrzeugdaten ansehen oder &auml;ndern)</p>
				<p>
					<strong>Unsere Tarife bieten:</strong>
				</p>
				<ul>
					<li>bessere und g&uuml;nstigere Konditionen als herk&ouml;mmliche Kfz-Versicherungen</li>
					<li>keine Schadenfreiheitsklassen, keine Hochstufung im Schadenfall</li>
					<li>Marktwertversicherung Ihres Fahrzeugs und nicht nur Zeitwert</li>
				</ul>
				<p class="desktop hideByScreenSize">
					<strong>Jetzt den gew&uuml;nschten Tarif w&auml;hlen und Ihren Versicherungsbeitrag berechnen lassen!</strong>
				</p>
				<div class="lastButtonDiv desktop hideByScreenSize" >
					<a href="#" id="toggleCalcFirst" data-js-action="toggle" class="btn btn-danger btn-huge">Hier Ihre Fahrzeugdaten eingeben!</a>
				</div>
			</div>

			<div class="carbox mobile">
				<strong>Beispiel-Tarife f&uuml;r:</strong>
				<strong><span class="_car"></span></strong>, Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug:
			</div>

			<div id="tarifeBoxWrapper" class="mobile">
				<div class="tarifbox38 basis basix center"  style="padding-top:3%;">
					<div class="panel-group" id="accordionBasis">
						<div class="panel panel-default">
							<p class="boxTextLine1">Basis</p>
							<div class="toggle">
					            <ul class="baseli">

					            </ul>
	                            <p>
	                                <strong><span></span><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <p class="boxTextLine3"><span>ab&nbsp;</span><span class="insurancePrice1 insurancePrice"> </span></p>
	                <p class="boxTextLine3"><span>pro Jahr</span></p>
	                <!-- <p class="boxTextLine4"><a href="#" class="open-trigger">Details <span>&#8250;</span></a></p>
	                <p class="boxTextLineCenter"><a href="#" class="basicHref btn btn-danger btn-huge">Jetzt<br />Basis-Tarif w&auml;hlen!</a></p> -->
	            </div>

				<div class="tarifbox38 komfort comfort center">
					<div class="panel-group" id="accordionKomfort">
						<div class="panel panel-default">
							<p class="panel-title collapsed boxTextLine1">Komfort</p>
							<div class="toggle">
							    <ul class="comfortli">

							    </ul>
	                            <p>
	                                <strong><span></span><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <p class="boxTextLine3"><span>ab&nbsp;</span><span class="insurancePrice2 insurancePrice"> </span></p>
	                <p class="boxTextLine3"><span>pro Jahr</span></p>
	                <!-- <p class="boxTextLine4"><a href="#" class="open-trigger">Details <span>&#8250;</span></a></p>
	                <p class="boxTextLineCenter"><a href="#" class="komfortHref btn btn-danger btn-huge">Jetzt<br />Komfort-Tarif w&auml;hlen!</a></p> -->
	            </div>

				<div class="tarifbox38 premium center">
					<div class="panel-group" id="accordionPremium">
						<div class="panel panel-default">
							<p class="panel-title collapsed boxTextLine1">Premium</p>
							<div class="toggle">
	                            <ul class="premiumli">

	                            </ul>
	                            <p>
	                                <strong><span></span><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <p class="boxTextLine3"><span>ab&nbsp;</span><span class="insurancePrice3 insurancePrice"> </span></p>
	                <p class="boxTextLine3"><span>pro Jahr</span></p>
	                <!-- <p class="boxTextLine4"><a href="#" class="open-trigger">Details <span>&#8250;</span></a></p>
	                <p class="boxTextLineCenter"><a href="#" class="premiumHref btn btn-danger btn-huge">Jetzt<br />Premium-Tarif w&auml;hlen!</a></p> -->
	            </div>
				<p class="medium">
					Hier Fahrzeugdaten eingeben und sofort Tarif-Angebot erhalten!
					<br /> <br />
					Danach gewünschten Tarif wählen und schon heute versichert sein!
				</p>
				<!-- <p class="medium">
					Sie m&ouml;chten die Fahrzeugdaten &auml;ndern und die Tarife neu berechnen lassen? Kein Problem:
				</p>
				-->
				<p class="center">
					<a href="#" data-js-action="toggle" class="btn btn-danger btn-huge" style="display: none;">Beitragsrechner neu starten</a>
				</p>
	        </div>


			<div class="calculator">
				<div style="min-height:90%;height:auto !important;height:100%;margin: 0 auto -5px;position:relative;">
					<form method="post" action="?article_id=32&amp;clang=1" class="rechnerForm">
						<div class="tarifShortTitle">
							Ihr Fahrzeug
						</div>
						<div class="form-group tarifgroup">
							<label for="sel1" class="tariflabel">Fahrzeugart</label>
							<select class="form-control tarifselect" id="sel1">
								<option></option>
							</select>
						</div>
						<div class="form-group tarifgroup">
							<label for="sel2" class="tariflabel">Fahrzeugmarke</label>
							<select class="form-control tarifselect" id="sel2">
								<option></option>
							</select>
						</div>
						<div class="form-group tarifgroup">
							<label for="sel3" class="tariflabel">Baujahr (ca.)</label>
							<select class="form-control tarifselect" id="sel3">
								<option></option>
							</select>
						</div>
						<div class="form-group tarifgroup">
							<label for="sel4" class="tariflabel">Fahrzeugtyp</label>
							<select class="form-control tarifselect" id="sel4">
								<option></option>
							</select>
						</div>
						<div class="form-group tarifgroup">
							<label for="sel5" class="tariflabel">Fahrzeug</label>
							<select class="form-control tarifselect" id="sel5">
								<option></option>
							</select>
						</div>
					</form>
				</div>
				<!-- <div class="calcButtoDiv" >
					<a href="#" id="clearBackButton" class="btn btn-default" data-js-action="toggle" style="display:none;">zur&uuml;ck</a>
					<a href="#" id="clearButton" class="btn btn-default" data-js-action="clear" style="padding-top:18px;">&auml;ndern</a>
					<button id="tarifBtn" class="btn btn-danger" style="display:none;padding:10px 34px;width:350px;" disabled>Fahrzeugdaten bestätigen <br />und Tarife berechnen lassen</button>
					<a href="#" class="btn btn-danger" id="toggleButton" data-js-action="toggle" style="display:none;">Fahrzeugdaten best&auml;tigen<br />und zurück zu den Tarifen</a>
				</div> -->
				<div style="position: absolute; bottom:0;left:0; width:93.3%; min-width:90%;">
					<a href="#" id="clearBackButton" class="btn btn-default" data-js-action="toggle" style="display:none;">zur&uuml;ck</a>
					<a href="#" id="clearButton" class="btn btn-default" data-js-action="clear" style="padding-top:18px;">Fahrzeug &auml;ndern</a>
					<button id="tarifBtn" class="btn btn-danger" style="display:none;">Jetzt Tarife <br />berechnen lassen</button>
					<a href="#" style="padding:10px;" class="btn btn-danger" id="toggleButton" data-js-action="toggle" style="display:none;">Fahrzeugdaten best&auml;tigen<br />und zurück zu den Tarifen</a>
				</div>
			</div>
			<div class="result desktop">
				<table>
					<tr>
						<th class="col_basis">Basis</th>
						<th class="col_komfort">Komfort</th>
						<th class="col_premium">Premium</th>
					</tr>
					<tr>
						<td class="col_copy basix">
							<ul class="baseli">

							</ul>
					    </td>
					    <td class="col_copy comfort" >
					        <ul class="comfortli">

					        </ul>
					    </td>
					    <td class="col_copy premium" id="premiumtd">
					        <ul class="premiumli">

					        </ul>
					    </td>
					</tr>
					<tr>
						<td colspan="3" class="col_spanned" id="spannedRow">
							<strong>Beispiel-Tarife für Ihren <span class="_car"></span></strong><br />
							Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug
						</td>
					</tr>
					<tr>
						<th class="col_basis"><small>ab </small><span class="insurancePrice1"> 290€</span><br /><small>pro Jahr</small></th>
						<th class="col_komfort"><small>ab </small><span class="insurancePrice2"> 350€</span><br /><small>pro Jahr</small></th>
						<th class="col_premium"><small>ab </small><span class="insurancePrice3"> 350€</span><br /><small>pro Jahr</small></th>
					</tr>
	                <tr class="notValidHoverButton">
	                    <td class="basix" style="height:80px;"><a class="btn btn-danger btn-huge" href="" style="border: none !important;">Jetzt<br>Basis-Tarif
	                        w&auml;hlen</a></td>
	                    <td class="comfort" style="height:80px;"><a class="btn btn-danger btn-huge" href="" style="border: none !important;">Jetzt<br>Komfort-Tarif
	                        w&auml;hlen</a></td>
	                    <td class="premium" style="height:80px;"><a class="btn btn-danger btn-huge" href="" style="border: none !important;">Jetzt<br>Premium-Tarif
	                        w&auml;hlen</a></td>
	                </tr>
                </table>
			</div>
		</div>
	</div>
	<div class="row footer">
		<a clas="link_home" style='font:normal 19px/23px "Roboto-Light"; float:right; padding:2% 2% 0 0;' href="?article_id=1&amp;clang=1&restart=1">zurück zur Homepage</a>
	</div>
</div>

<script type="text/javascript">
    var innerLink = '';
    function getHoverEffect(e) {

        // console.log( e.type );
        // console.log( innerLink );

        if (e.type == 'mouseout' && innerLink != '') {
            this.classList.remove('hoverStyle');
            this.innerHTML = innerLink;
            innerLink = '';
        }


        if (e.type == 'mouseover' && innerLink == '') {
            this.classList.add('hoverStyle');
            innerLink = this.innerHTML;
            this.innerHTML = '<a class="btn btn-danger btn-huge basicHref" href="#">Bitte geben Sie <br />Ihre Fahrzeugdaten ein!';
            this.style.color = '#000';
        }
    }


    (function () {
        'use strict';

        document.addEventListener("DOMContentLoaded", function (event) {
            let buttonBasic = document.querySelector('tr.notValidHoverButton td.basix'),
                buttonComfort = document.querySelector('tr.notValidHoverButton td.comfort'),
                buttonPremium = document.querySelector('tr.notValidHoverButton td.premium');

            buttonBasic.addEventListener("mouseover", getHoverEffect);
            buttonComfort.addEventListener("mouseover", getHoverEffect);
            buttonPremium.addEventListener("mouseover", getHoverEffect);
            buttonBasic.addEventListener("mouseout", getHoverEffect);
            buttonComfort.addEventListener("mouseout", getHoverEffect);
            buttonPremium.addEventListener("mouseout", getHoverEffect);

            /*
             */
        });

    }());

</script>
