<section id="carStories">
	<div class="jumbotron thirdImageStories">
		<div class="row">
			<strong>Classic Car Stories</strong>

			<p class="robotoRegular">
				Infos, Filme und Stories<br />
				über Liebhaberfahrzeuge –<br />
				und Menschen, die sie lieben.
			</p>
		</div>
	</div>

	<div class="jumbotron">
		<a id="derTrendZumYoungtimer" name="derTrendZumYoungtimer"></a>
		<div class="row">
			<div class="mt">
				<h2>Der Trend zum Youngtimer</h2>
				<p><strong style="font-weight:normal !important;">Die Kinder der 1970er und 1980er Jahre entdecken immer häufiger die Autos ihrer Eltern –
				vom VW Bulli über den Audi Quattro bis hin zum Volvo 240.</strong><br />
				In den 1980ern machte Thorben mit seinen Eltern in den Sommerferien regelmäßig Urlaub in Dänemark oder Schweden. Die schwer beladene Familienkutsche: ein Volvo 240. „Wir hatten die Kombi-Version“, erzählt er, „so konnten wir auf dem Dachträger besser... <a href="?article_id=30&clang=1">weiterlesen</a></p>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="mt">
				<h2>CARISMA Archive</h2>
				<p>
					<video controls poster="assets/images/stories_video-teaser.jpg" style="width: 100%;">
						<source src="assets/images/Carisma-Classic-Car-Stories-1-720p.mp4" />
						Your browser does not support the video tag.
					</video>
				</p>
			</div>
		</div>

		<hr />

		<a id="autoklassikerAlsWertanlage" name="autoklassikerAlsWertanlage"></a>
		<div class="row">
			<div class="mt">
				<h2>Autoklassiker als Wertanlage</h2>
				<p>Historische Autos statt Aktien: Durch die niedrigen Zinsen am Kapitalmarkt sind Oldtimer in den
				vergangenen Jahren eine immer beliebtere Wertanlage geworden. Ein Indikator: Der seit 1999 im
				Auftrag des Verbands der Automobilindustrie (VDA) berechnete Deutsche Oldtimerindex. Im Jahr
				2016 legte er erneut zu – um 4,4 Prozent. Bei der Langzeitwertentwicklung liegt...<a href="?article_id=31&clang=1">weiterlesen</a></p>
			</div>
		</div>

		<hr />

		<div class="row">
			<p class="text-center" style="margin-top: 30px">
			<a role="button" class="btn btn-danger btn-huge" href="?article_id=38&clang=1">direkt zum Beitragsrechner</a><a role="button" class="btn btn-danger btn-huge" href="?article_id=1&clang=1#classicCarStories" style="margin-right:15px;">zurück zur Homepage</a>
			</p>
		</div>
	</div>
</section>
