<div class="jumbotron">
<!-- Login -->
<div class="wrapper">
	<div id="formWrapper" class="kontaktFromWrapper">
		<h3>Ihre Fragen sind uns wichtig!</h3>
		<p>
			Sie haben Fragen, Anregungen oder Kommentare?<br />
			Mit Hilfe des Kontaktformulars können Sie uns erreichen. 24 Stunden am Tag und sieben Tage in der Woche. Ihr CARISMA Support-Team freut sich darauf, Ihre Fragen so schnell wie möglich zu beantworten.
		</p>

		<label class="">Ihre E-Mail-Adresse*<br />
			<input type="text" name="e-mail-adresse" />
		</label>

		<label class="halfSize first">Vorname<br />
			<input type="text" name="vorname" />
		</label><label class="halfSize">Nachname<br />
			<input type="text" name="nachname" />
		</label>

		<label class="">Ihre Nachricht<br />
			<textarea id="messageBody"></textarea>
		</label>
		<div class="g-recaptcha" data-sitekey="6LfxND0UAAAAAFAgarR4NUw7Tcv8IUXah-aplmu9"></div>
		<div class="submitButton"><a role="button" href="">Abschicken</a></div>
	</div>
</div>
<!-- Login -->
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div id="confirmationOverlay">
	<div class="boxWrapper">
		<div class="contentBoxWrapper">
			<div class="contentBox">
				<h3>Vielen Dank!</h3>
				<p>
					Wir haben Ihre Nachricht erhalten und unser Support-Team wird sich so schnell wie möglich unter der angegebenen E-Mail-Adresse bei Ihnen melden. Wir haben Ihnen auch eine Bestätigungs E-Mail zu Ihrer Anfrage zugesandt.
				</p>

				<p class="team">
					Ihr CARISMA Support-Team
				</p>

				<button id="closeOverlay" class="btn btn-danger">ok</button>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
var input, submit = true, focus = false, activeTimeout;

function setError(obj) {
	obj.className = 'error';
	obj.parentNode.className = 'error';

	if ( !focus ) {
		obj.focus();
		focus = true;
	}
}

function removeError(obj) {
	obj.className = '';
	obj.parentNode.className = '';
}

function validateRegistration() {
	if ( this.value.length >= 3 ) {
		if ( this.id === 'pwInputB' ) {
			window.clearTimeout(activeTimeout);
			if ( this.value === input[3].value ) {
				removeError(this);
				this.nextElementSibling.className = '';
				submit = true;
			} else {
				var _this = this;
				activeTimeout = setTimeout(function(){
					setError(_this);
					_this.nextElementSibling.className = 'error';
					submit = false;
				}, 500);
			}
		} else {
			removeError(this);
			submit = true;
		}
	} else {
		if ( this.value.length <= 0 ) {
			setError(this);
			submit = false;
		}
	}
}

(function() {
	'use strict';

	document.addEventListener("DOMContentLoaded", function(event) {
		var submitButton = document.querySelector('#formWrapper .submitButton a');
		input = document.querySelectorAll('#formWrapper input');

			input[0].addEventListener('input', validateRegistration );
			if (typeof input[3] != 'undefined' ) { input[3].addEventListener('input', validateRegistration ); }
			if (typeof input[4] != 'undefined' ) { input[4].addEventListener('input', validateRegistration ); }

		submitButton.addEventListener('click', function(e){
			e.preventDefault();

			if ( input[0].value === '' ) {
				setError(input[0]);
				submit = false;
			}

			if ( typeof input[3] != 'undefined' && input[3].value === '' ) {
				setError(input[3]);
				submit = false;
			}

			if ( typeof input[4] != 'undefined' && input[4].value === '' ) {
				setError(input[4]);
				submit = false;
			}

			focus = false;

			if ( !submit ) {
				return false;
			}else{
				var postData = {"command": "contForm",
								"fromMail": $('input[name="e-mail-adresse"]').val(),
								"fromName": $('input[name="vorname"]').val()+" "+$('input[name="nachname"]').val(),
								"messageBody": $('textarea#messageBody').val()
								};
				$.ajax({
					url: "../ajaxtest.php",
		            method: "post",
		            data: postData
				});
			}

			if(window.innerWidth < 375){
				$('#confirmationOverlay .contentBoxWrapper').css('width',window.innerWidth);
			}else if (window.innerWidth < 570){
				$('#confirmationOverlay .contentBoxWrapper').css('width','auto');
			}
			$('body').css('overflow','hidden');
			$('#confirmationOverlay').css('display','table').css('overflow','hidden').fadeIn();
		});

		document.getElementById('closeOverlay').addEventListener("click", function(event) {
			$('body').css('overflow','auto');
			$('#confirmationOverlay').fadeOut();
		});

	});

}());

</script>
