<div id="overlay" style="display:none;">
		<div class="boxWrapper">
			<div class="contentBox">
				<h3 class="tarifShortTitle">Herzlich willkommen bei CARISMA!</h3>
				<p>
					Ihre Bankdaten wurden erfolgreich gespeichert.
				</p>
				<button class="btn btn-danger" id="furtherOk">OK</button>
			</div>
		</div>
	</div>
