<?php include('_included_template/_4.htm') ?>

<script type="text/javascript" src="<?= rex_url::base('resources/js/jquery.min.js') ?>"></script>
<script type="text/javascript" src="<?= rex_url::base('assets/js/bootstrap.min.js') ?>"></script>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default mainNavBar" role="navigation">
  <div class="container">
	<div class="navbar-collapse collapse navbar-default">
		<!-- Navigation -->
		<?php include('_included_template/_6.htm') ?>
		<!--/Navigation -->

	</div><!--/.nav-collapse -->
  </div>
</div>

<!-- *******************************************************
Headerpic
******************************************************* -->
<?php include('_included_template/_5.htm') ?>

<?php
// Breadcrumb
$path = explode("|",$this->getValue("path").$this->getValue("article_id")."|");
$secondLevel = $path[2];

if ($secondLevel != '') { // show breadcrumb only in second level or deeper
	echo '<div class="container breadcrumb-wrapper">';
		echo 'Du bist hier: ';
		$startArticle = rex_article::get(rex_article::getSiteStartArticleId());
		$startArticleUrl = $startArticle->getUrl();
		$startArticleName = $startArticle->getName();
		echo '<a href="'.$startArticleUrl.'"><span class="home_link">'.$startArticleName.'</a></span>';

		$nav = rex_navigation::factory();
		echo $nav->showBreadcrumb('', true);
	echo '</div>';
}

/*
If "01 . Standard", content-container has full width
*/
if (SITE_TYPE == 'col1') { ?>
	<article class="mtb">
		<?php echo $this->getArticle('1'); ?>
	</article>
<?php }

/*
If "02 . Zweispalter", there is a main column and a side column with 2/3 - 1/3 width
*/
if (SITE_TYPE == 'col2') { ?>
	<div class="container mtb">
		<div class="row">

			<div class="col-lg-8 col-sm-12">
				<?php echo $this->getArticle('1'); ?>
			</div>

			<div class="col-lg-3 col-lg-offset-1 sidebar hidden-xs hidden-sm">
				<!-- Subnavigation -->
				<?php include('_included_template/_8.htm') ?>
				<!-- /Subnavigation -->

				<!-- more Content -->
				<?php echo $this->getArticle('2'); ?>
			</div>

		</div>
	</div>
<?php } ?>

<!-- *******************************************************
 FOOTER
 ******************************************************* -->
<?php include('_included_template/_7.htm') ?>

<!-- Javascripts -->

<script type="text/javascript" src="<?= rex_url::base('assets/js/default.js') ?>"></script>

</body>
</html>
