<?php include('_included_template/_10.htm') ?>
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="?article_id=1&amp;clang=1&restart=1"><img src="assets/images/logo.svg" alt="CARISMA Logo" /></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="?article_id=18&amp;clang=1" class="regButtonMenu">Registrieren</a>
            </li>
            <li>
                <a href="?article_id=17&amp;clang=1" class="loginButtonMenu">Login</a>
            </li>
			<li>
				<div id="burger-menu-icon" class="close">
				  <span class="nth-child-1"></span>
				  <span class="nth-child-2"></span>
				  <span class="nth-child-3"></span>
				</div>
            </li>
        </ul>
    </div>
</nav>

<div id="navigationOverlay">
	<div id="burger-menu-icon-close">
	  <span class="nth-child-1"></span>
	  <span class="nth-child-2"></span>
	</div>

	<hr />

	<ul class="nav navbar-nav">
		<li>
			<a href="?article_id=18&clang=1" class="regButtonMenu">Registrieren</a>
		</li>
		<li>
			<a href="?article_id=17&clang=1" class="loginButtonMenu">Login</a>
		</li>
	</ul>

	<hr />

	<ul class="nav navbar-nav">
		<li>
			<a href="?article_id=38&clang=1">Beitragsrechner</a>
		</li>
	</ul>

	<hr />

	<ul class="nav navbar-nav">
		<li>
			<a href="?article_id=2&clang=1">Unsere Versicherungsleistungen</a>
		</li>
		<li>
			<a href="?article_id=33&clang=1">CARISMA - der neue Versicherungsschutz</a>
		</li>
		<li>
			<a href="?article_id=5&clang=1">Classic Car Stories</a>
		</li>
		<li>
			<a href="?article_id=4&clang=1">Termine, Orte und Services</a>
		</li>
		<li>
			<a href="?article_id=3&clang=1">FAQ</a>
		</li>
	</ul>

	<hr />

	<ul class="nav navbar-nav">
		<li>
			<a href="?article_id=28&clang=1">Versicherungsbedingungen</a>
		</li>
		<li>
			<a href="?article_id=26&clang=1">Rechtliche Hinweise zum Vertragsabschluss</a>
		</li>
		<li>
			<a href="?article_id=27&clang=1">Schadenmeldung</a>
		</li>
		<li>
			<a href="?article_id=7&clang=1">Kontakt</a>
		</li>
		<li>
			<a href="https://portal.carisma.auto" target="_new">Kundenbereich</a>
		</li>
		<li>
			<a href="?article_id=24&clang=1">Nutzungsbedingungen, rechtliche Hinweise</a>
		</li>
		<li>
			<a href="?article_id=39&clang=1">Datenschutz</a>
		</li>
	</ul>

	<hr />

	<ul class="nav navbar-nav">
		<li>
			<a href="?article_id=29&clang=1">Sitemap</a>
		</li>
		<li>
			<a href="?article_id=35&clang=1">Impressum</a>
		</li>
	</ul>

	<hr />

</div>
<!-- Navigation -->
