<!-- <div id="footerwrap">
   <div class="container">
	   <div class="row">
		   <div class="col-md-12">

		   REX_ARTICLE[id=6]
		   <?php
		   // Include content of article 6. You can do it this way too:
		   // $footer = new rex_article_content(6);
		   // echo $footer->getArticle('1');
		   ?>

		   </div>
	   </div>
   </div>
</div>-->

<footer class="jumbotron fifthImage">
	<div>
	   <ul class="fifthJumbuUL">
		   <li class="fifthJumbuULLI"><a href="?article_id=38&clang=1">Beitragsrechner</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=27&clang=1">Schadenmeldung</a></li>
		   <li class="fifthJumbuULLI"><a href="https://portal.carisma.auto" target="_new">Kundenbereich</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=26&clang=1">Rechtliche Hinweise zum Vertragsabschluss</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=28&clang=1">Versicherungsbedingungen</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=2&clang=1">Unsere Versicherungsleistungen</a></li>
	   </ul>

	   <ul class="fifthJumbuUL">
		   <li class="fifthJumbuULLI"><a href="?article_id=3&clang=1">FAQ</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=24&clang=1">Nutzungsbedingungen, rechtliche Hinweise</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=39&clang=1">Datenschutz</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=29&clang=1">Sitemap</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=7&clang=1">Kontakt</a></li>
		   <li class="fifthJumbuULLI"><a href="?article_id=35&clang=1">Impressum</a></li>
	   </ul>
   </div>
</footer>
<?php include('_included_template/_11.htm') ?>
