<link rel="stylesheet" href="assets/css/style.css">
<style type="text/css">
    div.wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000;
        z-index: 10;
        background-color: #fff;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, .6);
    }

    #overlay h3 {
        font-weight: bold;
    }

    #overlay p {
        margin-bottom: 30px;
    }

    #overlay p {
        font: normal 14px/18px "Roboto-Regular";
        transition: color .4s;
    }

    #overlay .boxWrapper {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 15%;
    }

    #overlay .contentBox {
        width: 40%;
        height: 275px;
        max-width: 450px;
        margin: 0 auto;
        padding: 20px 30px;
        background-color: #fff;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, .4);
    }

    #overlay button {
        padding: 0 15px;
        background-color: #d1232a;
        color: #fff;
        font-size: 16px;
        border: 2px solid #d1232a;
        min-width: 50px;
    }
	<!--[if gt IE 8]>
    select.styled-select, .form-control, input[type=text]{
        height: 38px !important;
    }
	<![endif]-->
</style>

<div id="beitragsrechner_step4" class="jumbotron">
    <div class="row">
        <h2 class="mobile">Ihr Sofortschutz-Beitragsrechner</h2>

        <div class="navigation">
            <h3 class="desktop">Beitragsrechner</h3>

            <div>
                <ul>
                    <li>
                        <span><a id="wizard1" href="">1</a></span>
                        <div>Fahrzeug&shy;daten</div>
                    </li>
                    <li>
                        <span><a id="wizard2" href="">2</a></span>
                        <div>Tarifdaten</div>
                    </li>
                    <li>
                        <span><a id="wizard3" href="">3</a></span>
                        <div>Ihr Tarif-Angebot</div>
                    </li>
                    <li>
                        <span class="active"><a id="wizard4" href="">4</a></span>
                        <div>Persönliche Daten</div>
                    </li>
                    <li>
                        <span><a id="wizard5" href="">5</a></span>
                        <div>Kontodaten</div>
                    </li>
                    <li>
                        <span><a id="wizard6" href="">6</a></span>
                        <div>Zusammen&shy;fassung</div>
                    </li>
                    <li>
                        <span><a id="wizard7" href="">7</a></span>
                        <div>evB und Vertrags&shy;abschluss</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="row">
            <h2 id="headlineData"></h2>
        </div>
    </div>
    <div class="row">
        <a class="link_back" href="?article_id=20&amp;clang=1" style="padding:0;">zurück</a>
        <a class="link_home" href="?article_id=1&amp;clang=1&restart=1" style="padding:0;">zurück zur
            Homepage</a>
    </div>
    <div class="row copy">
    	<span style="font-size: 0.7em">Die mit einem * gekennzeichneten
			Felder sind erforderlich</span>
    
        <h4>Ihre persönlichen Daten</h4>

        <form id="userform" method="post" action="?article_id=22&clang=1" onsubmit="return false;" data-toggle="validator" role="form">
            <div class="form-group row">
                <label for="form_of_address">Anrede</label>
                <div>
                    <select type="text" class="form-control styled-select" id="form_of_address" name="form_of_address">
                        <option value="-1" selected disabled hidden></option>
                        <option value="236001">Frau</option>
                        <option value="236002">Herr</option>
						<!-- <option value="236003">Firma</option>
						<option value="236004">Familie</option>
						<option value="236005">Eheleute</option> -->
                    </select>
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstname">Vorname*</label>
                <div>
                    <input type="text" class="form-control" id="firstname" name="firstname">
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname">Nachname*</label>
                <div>
                    <input type="text" class="form-control" id="lastname" name="lastname">
                    <div class="validation"></div>

                </div>
            </div>
            <div class="form-group row">
                <label for="gebdate">Geburtsdatum*</label>
                <div>
                    <select class="form-control styled-select" onchange="onChangeMacOs(this)" name="birthday" id="birthday" style="width:30%;float:left;margin-right:5%;height:38px !important;">
                        <option value=""></option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select class="form-control styled-select" id="birthmonth"
                            name="birthmonth" onchange="onChangeMacOs(this)"
                            style="width:30%;float:left;height:38px !important;">
                        <option value=""></option>
                        <option value="JAN">Januar</option>
                        <option value="FEB">Februar</option>
                        <option value="MAR">März</option>
                        <option value="APR">April</option>
                        <option value="MAY">Mai</option>
                        <option value="JUN">Juni</option>
                        <option value="JUL">Juli</option>
                        <option value="AUG">August</option>
                        <option value="SEP">September</option>
                        <option value="OCT">Oktober</option>
                        <option value="NOV">November</option>
                        <option value="DEC">Dezember</option>
                    </select>
                    <select class="form-control styled-select" id="birthyear"
                            name="birthyear" onchange="onChangeMacOs(this)"
                            style="width: 30%;float: right;height:38px !important;">
                    </select>
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="mobilenumber">Mobilrufnummer*</label>
                <div>
                    <input type="text" class="form-control" id="mobilenumber" pattern="\d*" name="mobilenumber">
                    <div class="validation"></div>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="newAddress"></label>
                <div>
                    Mein Wohnort
                </div>
            </div>
            
            <div class="form-group row">
                <label for="street">Straße,Hausnummer*</label>
                <div>
                    <div style="width: calc(100% - 100px); float: left;">
                        <input type="text" class="form-control" id="street" name="street" pattern="^[a-zA-ZüöäÜÖÄß\.\-\s]+$">
                        <div class="validation"></div>
                    </div>
                    <div style="width: 100px; float: left; padding: 0 0 0 10px;">
                        <input type="text" class="form-control" id="housenumber" name="housenumber"
                               data-error="Die eingegebene Hausnummer ist ungültig">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="addressAdding">Adresszusatz (z.B. 'A' falls Hausnummer z.B. '5A' lautet oder z.B. '2. Hof')</label>
                <div>
                    <input type="text" class="form-control" id="addressAdding" name="addressAdding">
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="zip">PLZ,Wohnort*</label>
                <div>
                    <div style="width: 100px; float: left; padding: 0 10px 0 0;">
                        <input type="text" class="form-control" id="zip" name="zip"
                               data-error="Deine Postleitzahl oder dein Wohnort ist ungültig">
                    </div>
                    <div style="width: calc(100% - 100px); float: left;">
                        <input type="text" class="form-control" id="city" name="city">
                        <div class="validation"></div>
                    </div>
                </div>
            </div>
			
            <br />
            <div class="form-group row">
                <label for="sameAddress"></label>
                <div>
                    <input type="checkbox" class="" id="sameAddress" name="sameAddress"/><b style="font-weight:normal;">Fahrzeugstandort gleich Wohnort</b>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="newAddress"></label>
                <div>
					Fahrzeug Standort
                </div>
            </div>
            <div class="form-group row">
                <label for="personalStreet">Straße,Hausnummer*</label>
                <div>
                    <div style="width: calc(100% - 100px); float: left;">
                        <input type="text" class="form-control" id="personalStreet" name="personalStreet">
                        <div class="validation"></div>
                    </div>
                    <div style="width: 100px; float: left; padding: 0 0 0 10px;">
                        <input type="text" class="form-control" id="personalHousenumber" name="personalHousenumber"
                               data-error="Die eingegebene Hausnummer ist ungültig">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="addressAdding">Adresszusatz (z.B. 'A' falls Hausnummer z.B. '5A' lautet oder z.B. '2. Hof')</label>
                <div>
                    <input type="text" class="form-control" id="personalAddressAdding" name="personalAddressAdding">
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="personalzip">PLZ,Wohnort*</label>
                <div>
                    <div style="width: 100px; float: left; padding: 0 10px 0 0">
                        <input type="text" class="form-control" id="personalzip" name="personalzip"
                               data-error="Ihre Postleitzahl oder dein Wohnort ist ungültig">
                    </div>
                    <div style="width: calc(100% - 100px); float: left;">
                        <input type="text" class="form-control" id="personalcity" name="personalcity">
                        <div class="validation"></div>
                    </div>
                </div>
            </div>
            <table class="desktop">
                <tr>
                    <td class="small-text">
                        <small>Hier geht es weiter zur Eingabe Ihrer Bankdaten.</small>
                    </td>
                    <td><button type="submit" class="btn btn-default finish_btn" style="padding-top: 5px;">weiter zu Ihren Bankdaten</button></td>
                </tr>
                <!--<tr>
                    <td class="small-text">
                        <small>Sie können beliebig viele Berechnungsergebnisse speichern und wieder abrufen (erfordert
                            Registrierung)
                        </small> -->
                    </td>
                    <td>
                        <!-- <button class="btn btn-default save_btn">Berechnungsergebnis<br/> speichern</button>
                    </td>
                </tr> -->
                <tr>
                    <td class="small-text">
                        <small>Sie können alle Angaben ändern und eine neue Berechnungsvariante erstellen.</small>
                    </td>
                    <td><a role="button" class="btn btn-default change_btn" href="?article_id=32&clang=1&restart=1#calculator"
                           style="padding-top: 22px;">Eingaben ändern und neu berechnen</a></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="row copy mobile button">
        <button type="submit" id="mobileSubmitButton" class="btn btn-default finish_btn">weiter zu Ihren
            Bankdaten</button><br/><br/>
        <button class="btn btn-default save_btn">Berechnungsergebnis speichern</button>
        <br/><br/>
        <a role="button" class="btn btn-default change_btn" href="?article_id=32&clang=1&restart=1#calculator">Eingaben ändern
            und<br/>neu berechnen</a><br/><br/>
    </div>

    <div class="row footer">
    	<a class="link_back" href="?article_id=20&amp;clang=1">zurück</a>
        <a class="link_home" href="?article_id=1&amp;clang=1&restart=1">zurück zur Homepage</a>
    </div>
</div>

<div id="confirmationOverlay">
	<div class="boxWrapper">
		<div class="contentBoxWrapper">
			<div class="contentBox">
				<h3>Vielen Dank!</h3>
				<p id="modalMessageBody">

            	</p>
	            <div class="progress progress-striped active" style="margin-bottom:0;">
	                <div class="progress-bar" style="width: 100%"></div>
	            </div>
				<p class="team"></p>
				<button id="closeOverlay" class="btn btn-danger">ok</button>
                <button id="toLogin" class="btn btn-danger" style="display:none;">zum Login</button>
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/beitragsrechner.js"></script>
    <script src="assets/js/default.js"></script>
