<link rel="stylesheet" href="assets/css/style.css">
<style type="text/css">
    div.wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000;
        z-index: 10;
        background-color: #fff;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, .6);
    }

    #overlay h3 {
        font-weight: bold;
    }

    #overlay p {
        margin-bottom: 30px;
    }

    #overlay p {
        font: normal 14px/18px "Roboto-Regular";
        transition: color .4s;
    }

    #overlay .boxWrapper {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 15%;
    }

    #overlay .contentBox {
        width: 40%;
        height: 275px;
        max-width: 450px;
        margin: 0 auto;
        padding: 20px 30px;
        background-color: #fff;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, .4);
    }

    #overlay button {
        padding: 0 15px;
        background-color: #d1232a;
        color: #fff;
        font-size: 16px;
        border: 2px solid #d1232a;
        min-width: 50px;
    }
    #confirmationOverlay .contentBoxWrapper{
    	height:470px;
    }
</style>

<div id="beitragsrechner_step3" class="jumbotron">
    <div class="row">
        <h2 class="mobile">Ihr Sofortschutz-Beitragsrechner</h2>

        <div class="navigation">
            <h3 class="desktop">Beitragsrechner</h3>

            <div>
                <ul>
                    <li>
                        <span><a id="wizard1" href="">1</a></span>
                        <div>Fahrzeug&shy;daten</div>
                    </li>
                    <li>
                        <span><a id="wizard2" href="">2</a></span>
                        <div>Tarifdaten</div>
                    </li>
                    <li>
                        <span class="active"><a id="wizard3" href="">3</a></span>
                        <div>Ihr Tarif-Angebot</div>
                    </li>
                    <li>
                        <span><a id="wizard4" href="">4</a></span>
                        <div>Persönliche Daten</div>
                    </li>
                    <li>
                        <span><a id="wizard5" href="">5</a></span>
                        <div>Kontodaten</div>
                    </li>
                    <li>
                        <span><a id="wizard6" href="">6</a></span>
                        <div>Zusammen&shy;fassung</div>
                    </li>
                    <li>
                        <span><a id="wizard7" href="">7</a></span>
                        <div>evB und Vertrags&shy;abschluss</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="row">
            <h2 id="headlineData"></h2>
        </div>
    </div>
    <div class="row">
        <a class="link_back" href="?article_id=19&amp;clang=1" style="padding:0;">zurück</a>
        <a class="link_home" href="?article_id=1&amp;clang=1&restart=1" style="padding:0;">zurück zur
            Homepage</a>
    </div>
    <div class="row copy desktop">

        <form action="" method="post" name="tarifberechnung" onsubmit="return false;">
            <table>
                <tr>
                    <th><h1>Versicherungsbeitrag pro Jahr</h1></th>
                    <td><h1><strong class="versichprojahr"></strong> Euro</h1></td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 10px;"></td>
                </tr>
                <tr>
                    <th style="font-family: Roboto-Medium !important;">Beitrag Haftpflicht pro Jahr</th>
                    <td><b id="haftprojahr"></b></td>
                </tr>
                <tr>
                    <th style="font-family: Roboto-Medium !important;">Beitrag Kasko pro Jahr</th>
                    <td><b id="kaskoprojahr"></b></td>
                </tr>
                <tr id="teilkasko">
                    <th>Teilkasko, Selbstbeteiligung <span class="teilkaskoPrice">150</span></th>
                    <td></td>
                </tr>
                <tr id="vollkasko">
                    <th>Vollkasko, Selbstbeteiligung <span class="vollkaskoPrice">300</span></th>
                    <td></td>
                </tr>
                <tr id="allrisk">
                    <th>Allrisk, Selbstbeteiligung <span class="allRiskPrice">300</span></th>
                    <td></td>
                </tr>
                <tr id="glasbruch" style="display: none;">
                    <th>Glasbruch, Selbstbeteiligung<span class="glasbruchPrice"></span></th>
                    <td></td>
                </tr>
                <tr id="saisonprice" style="display: none;">
                    <th style="vertical-align: top;">Saison <span id="saisonstart"></span> bis einschliesslich <span id="saisonende"></span></th>
                    <td>Der angezeigte Tarif berücksichtigt die angegebenen Saisondaten</td>
                </tr>
                <tr style="display:none;" id="fahrerschutz">
                    <th style="font-family: Roboto-Medium !important;">Beitrag Fahrerschutz pro Jahr</th>
                    <td><b id="fahrerschutzAmount"></b></td>
                </tr>
                <!-- <tr>
                    <td colspan="2" style="height: 10px;"></td>
                </tr> -->


                <tr>
                    <th id="zahlweise">Die Zahlungsweise ist <span class="paytime">jährlich</span>.</th>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 30px;"></td>
                </tr>
                <tr class="grey" id="Comfort">
                    <td style="color: #000;"><h2>Upgrade zum CARISMA Komfort-Paket<br/>ab Versicherungsbeitrag</h2></td>
                    <td><h2 style="font-family: Roboto-Bold"><span class="comfortGrossPrice"></span> Euro</h2>
                        <button class="btn btn-default upgrade_btn" id="ComfortBtn">Upgrade</button>
                    </td>
                </tr>
                <tr class="grey" id="Premium">
                    <td style="color: #000;"><h2>Upgrade zum CARISMA Premium-Paket<br/>ab Versicherungsbeitrag</h2></td>
                    <td><h2 style="font-family: Roboto-Bold"><span class="premiumGrossPrice"></span> Euro</h2>
                        <button class="btn btn-default upgrade_btn" id="PremiumBtn">Upgrade</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 30px;"></td>
                </tr>
                <tr>
                    <td class="small-text">
                        <small>Hier geht es weiter zur Eingabe Ihrer persönlichen Daten, zur Erteilung einer eVB und
                            Ihrem Versicherungsabschluss.
                        </small>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default finish_btn redirectBtn">weiter zu den <br/>
                            Versicherungsnehmerdaten
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="small-text">
                        <small>Sie können beliebig viele Berechnungsergeb- nisse speichern und wieder abrufen (erfordert
                            Registrierung).
                        </small>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default finish_btn save_btn">Berechnungsergebnis<br/>
                            speichern
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="small-text">
                        <small>Sie können alle Angaben ändern und eine neue Berechnungsvariante erstellen.</small>
                    </td>
                    <td><a class="btn btn-default finish_btn change_btn" style="padding-top:25px;" role="button" href="?article_id=32&clang=1&restart=1#calculator">Eingaben ändern und neu
                            berechnen
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="row copy mobile">
        <form action="" method="post" name="tarifberechnung_mobil" id="tarifberechnung_mobil">
            <h1>
                <strong class="versichprojahr" style="font-weight:normal !important;">340,89</strong> Euro<br/>
                Versicherungsbeitrag pro Jahr
            </h1>

            <p>
                <b id="haftprojahrMobile">214,35 Euro</b><br/>
                Beitrag Haftpflicht pro Jahr
            </p>

            <p>
                <b id="kaskoprojahrMobile">126,44 Euro</b><br/>
                Beitrag Kasko pro Jahr
            </p>
			
			<p id="fahrerschutzMobileP" style="display:none;">
                <b id="fahrerschutzMobileAmount">126,44 Euro</b><br/>
                Beitrag Fahrerschutz pro Jahr
            </p>

            <p>
                <span id="teilkaskoMobile">Teilkasko Selbstbeteiligung <span class="teilkaskoPrice">150</span> Euro</span><br/>
                <span id="glasbruchMobile" style="display: none;">Glasbruch, Selbstbeteiligung <span class="glasbruchPrice"></span> Euro</span><br/>
                <span id="vollkaskoMobile">Vollkasko Selbstbeteiligung <span class="vollkaskoPrice">300</span> Euro</span><br/>
                <span id="allriskMobile">Allrisk <span class="allRiskPrice">300</span> Euro</span><br/>
            </p>

            <p>
                <b>Die Zahlungsweise ist <span class="paytime">jährlich</span>.</b>
            </p>
        </form>
    </div>

    <div class="row copy mobile grey" id="ComfortMobile">
        <b>Alternativangebot:</b><br/>
        Upgrade zum <b>CARISMA Komfort-Paket</b><br/>
        ab Versicherungsbeitrag<br/>

        <h2 class="comfortGrossPrice">378,13 Euro</h2>

        <div style="text-align: center">
            <button class="btn btn-default upgrade_btn ComfortBtn" id="ComfortBtn">Upgrade-Angebot einsehen</button>
        </div>
    </div>

    <div class="row copy mobile grey" id="PremiumMobile">
        <b>Alternativangebot:</b><br/>
        Upgrade zum <b>CARISMA Premium-Paket</b><br/>
        ab Versicherungsbeitrag<br/>

        <h2 class="premiumGrossPrice">378,13 Euro</h2>

        <div style="text-align: center">
            <button class="btn btn-default upgrade_btn PremiumBtn" id="PremiumBtn">Upgrade-Angebot einsehen</button>
        </div>
    </div>

    <div class="row copy mobile button">
        <button type="button" class="btn btn-default finish_btn redirectBtn">Weiter zu den <br/>
            Versicherungsnehmerdaten
        </button>
        <br/><br/>
        <button class="btn btn-default save_btn">Berechnungsergebnis<br/> speichern</button>
        <br/><br/>
        <a role="button" href="?article_id=32&clang=1&restart=1">
            <button class="btn btn-default change_btn">Eingaben ändern und<br/>neu berechnen</button>
        </a><br/><br/>
    </div>

    <div class="row footer">
    	<a class="link_back" href="?article_id=19&amp;clang=1">zurück</a>
        <a class="link_home" href="?article_id=1&amp;clang=1&restart=1">Zurück zur Homepage</a>
    </div>


</div>

<div id="confirmationOverlay">
    <div class="boxWrapper">
        <div class="contentBoxWrapper">
            <div class="contentBox">
                <h3>Vielen Dank!</h3>
                <p id="modalMessageBody">

                </p>
                <div style="display:none;" id="deductibleDiv">
                    <div class="form-group row" id="fahrerschutzversicherungsDiv">
                        <div class="zustandsDiv" style="width:100%">
                            <div class="radio" style=" float:left;">
                                <label for="" style='text-align:left;font: normal 23px/35px "Roboto-Light"; '><input class="radio_yes"
                                    name="optradio" id="mit_fahrschutz" value="yes" type="radio" />Mit Fahrerschutzversicherung</label>
                            </div>
                            <div class="radio" style=" float:left;">
                                <label for="" style='text-align:left;font: normal 23px/35px "Roboto-Light"; '><input class="radio_no"
                                    name="optradio" id="ohne_fahrschutz" value="no" type="radio" />Ohne Fahrerschutzversicherung</label>
                            </div>
                        </div>
                    </div>
                    <label for="selbstbehalt_paket">Selbstbehalt Paket*</label>
                    <div>
                        <select class="form-control styled-select" id="selbstbehalt_paket"
                            name="selbstbehalt_paket" onchange="onChangeMacOs(this)">
                            <option value=""></option>
                        </select>
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="progress progress-striped active" style="margin-bottom:0; display:none;" >
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <p class="team"></p>

                <button id="closeOverlay" class="btn btn-danger">ok</button>
                <button id="hiddenRegButton" class="btn" style="background-color: #4b7596; color: white;display:none;">zur Registrierung</button>
                <button id="cancelOverlay" style="background-color: #7f90a7;display: none;" class="btn btn-danger">Abbruch</button>
            </div>
        </div>
    </div>
</div>

<div id="progressModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;" id="modalh3"></h3></div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1260810,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Beitragsrechner-Angebot')
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=1260810&ADFPageName=Beitragsrechner-Angebot&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/beitragsrechner.js"></script>
<script src="assets/js/default.js"></script>
