<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/datepicker.css" />
<style>
select.styled-select, .form-control {
    height: 38px !important;
}

</style>
<div id="beitragsrechner_step2" class="jumbotron">
	<div class="row">
		<h2 class="mobile">Ihr Sofortschutz-Beitragsrechner</h2>

		<div class="navigation">
			<h3 class="desktop">Beitragsrechner</h3>

			<div>
				<ul>
					<li><span><a id="wizard1" href="">1</a></span>
						<div>Fahrzeug&shy;daten</div></li>
					<li><span class="active"><a id="wizard2" href="">2</a></span>
						<div>Tarifdaten</div></li>
					<li><span><a id="wizard3" href="">3</a></span>
						<div>Ihr Tarif-Angebot</div></li>
					<li><span><a id="wizard4" href="">4</a></span>
						<div>Persönliche Daten</div></li>
					<li><span><a id="wizard5" href="">5</a></span>
						<div>Kontodaten</div></li>
					<li><span><a id="wizard6" href="">6</a></span>
						<div>Zusammen&shy;fassung</div></li>
					<li><span><a id="wizard7" href="">7</a></span>
						<div>evB und Vertrags&shy;abschluss</div></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="banner" style="margin: 0 auto;">
		<div class="row">
			<h2 id="headlineData"></h2>
		</div>
	</div>

	<div class="banner-select">
		<div class="row">
			<div class="panel-group " id="accordion">
				<div class="panel panel-default tarif-default">
					<div class="panel-heading tarfiheading-default">
						<h4 class="panel-title collapsed tarfititle"
							data-toggle="collapse" data-parent="#accordion"
							data-target="#collapseOne">
							<a class="accordion-toggle"> Die Voraussetzungen für die
								CARISMA Versicherungsschutz-Tarife sind erfüllt </a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body tarif-body">
							<ul id="allapproved">

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<a class="link_back" href="?article_id=15&amp;clang=1" style="padding:0;">zurück</a>
		<a class="link_home" href="?article_id=1&amp;clang=1&restart=1" style="padding:0;">zurück zur
			Homepage</a>
	</div>
	<div class="row copy">
		<span style="font-size: 0.7em">Die mit einem * gekennzeichneten
			Felder sind erforderlich</span>
		<form method="post" action="?article_id=20&clang=1"
			id="fahrzeugdaten2" name="Fahrzeugdaten2" data-toggle="validator"
			role="form" >
			<input type="hidden" name="herstellerschluesselnummer" value="">
			<input type="hidden" name="typschluesselnummer" value="">
			<div class="form-group row" style="margin-bottom: 40px;">
				<label for="selbstbehalt_paket">Selbstbehalt-Paket*</label>
				<div>
					<select class="form-control styled-select" id="selbstbehalt_paket"
						name="selbstbehalt_paket" onchange="onChangeMacOs(this)">
						<option value=""></option>
					</select>
					<div class="validation"></div>
				</div>
			</div>
			<div class="form-group row" id="fahrerschutzversicherungsDiv">
				<label for="mit_fahrschutz" ><span style="font-size: 0.7em">Die Fahrerschutz-Versicherung schützt den Fahrer des versicherten Fahrzeugs bei einem selbstverschuldeten Unfall.</span></label>
				<div class="zustandsDiv">
					<div class="radio">
						<label for="mit_fahrschutz"><input class="radio_yes"
							name="optradio" id="mit_fahrschutz" value="yes" type="radio" />Mit Fahrerschutzversicherung</label>
					</div>
					<div class="radio">
						<label for="ohne_fahrschutz"><input class="radio_no"
							name="optradio" id="ohne_fahrschutz" value="no" type="radio" />Ohne Fahrerschutzversicherung</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="geplante_zulassung">Geplante Zulassung*<br /><span style="font-size: 0.7em">Bei Versichererwechsel muss der Tag der geplanten Zulassung der Tag nach dem Ablauf der Vorversicherung sein.</span></label>
				<div>
					<input type="text" class="form-control " id="geplante_zulassung"
						name="geplante_zulassung" />
					<div class="validation"></div>
				</div>
			</div>
			<div class="form-group row">
				<label for="grund_der_versicherung">Neuzulassung /
					Versicherungswechsel*</label>
				<div>
					<select class="form-control styled-select"
						id="grund_der_versicherung" name="grund_der_versicherung"
						onchange="onChangeMacOs(this)">
						<option value=""></option>
						<option value="new">Neuzulassung</option>
						<option value="change">Versicherungswechsel</option>
					</select>
					<div class="validation"></div>
					<div id="changeTextFloating" style="font-size: 0.7em; display:none;">
					<strong style="font-weight:normal;">Ein Versichererwechsel ist einfach!</strong><br />

					<p style="font:normal 15px/23px Roboto-Light">Sie müssen nur folgendes beachten. Sie können hier sofort einen Antrag auf vorläufigen Versicherungsschutz mit elektronischer Versicherungsbestätigung (eVB) erhalten. Die eVB wird durch den neuen Versicherer automatisch für die Ummeldung beim Strassenverkehrsamt verwendet. Sie müssen hier nichts weiter unternehmen.
					Das einzige was aus Ihrer Sicht zu tun ist, ist eine fristgerechte, formlose Kündigung ihres bestehenden Versicherungsvertrages. D.h. Sie müssen mindestens einen Monat vor dem jährlichen Ablaufdatum ihrer Versicherung kündigen. Bei vielen KFZ Versicherungen ist dies der 31.12. In diesem Fall müsste die Kündigung also vor dem 30.11. beim bestehenden Versicherer eingehen. Der Anmeldetag für die neue Versicherung ist dann zwingend der erste Tag nach dem Ablauf der alten Versicherung.
					Bei Saisonkennzeichen verfahren viele Versicherer unterschiedlich. Klären sie bitte unbedingt, per wann ihr Vertrag endet, z.B. zum 01.01. oder zum Beginn der neuen Saison.</p>

					<p style="font:normal 15px/23px Roboto-Light">WICHTIG: Sie können aber auf jeden Fall auch schon vor der Kündigung hier eine eVB für den Wechsel beantragen und erhalten.</p>
						Schritt für Schritt Beispiel:
						<ul style="list-style:disc !important;margin-top:0px; margin-bottom:10px;padding-left:40px;font:normal 15px/23px Roboto-Light">
							<li>Ihre Hauptfälligkeit ist der 31.12.</li>
							<li>Damit ist der Versichererwechsel zum 1.1. möglich,</li>
							<li>Sie beantragen und erhalten die eVB am 15.10. hier bei CARISMA</li>
							<li>Beim Ausfüllen des Formulars geben Sie dazu im Feld geplante Zulassung den 01.01. des Folgejahres ein.</li>
							<li>Sie können dies bis zu einem halben Jahr im Voraus tun. </li>
							<li>Der neue Versicherer erhält die eVB und das Datum 1.1. für den Wechsel und meldet Ihr Fahrzeug automatisch am 1.1. auf die neue Versicherung an.</li>
							<li>Kündigen Sie Ihre alte Versicherung fristgerecht und formlos, am besten per Einschreiben. </li>
							<li>Natürlich können Sie auch schon vor dem Erhalt einer eVB bei CARISMA Ihre alte Versicherung kündigen.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-group row" style="display: none;"
				id="fahrzeugkennzeichen_row">
				<label for="fahrzeugkennzeichen">Fahrzeugkennzeichen*</label>
				<div>
					<input type="text" class="form-control"
						id="fahrzeugkennzeichen"
						name="fahrzeugkennzeichen" />
					<div class="validation"></div>
				</div>
			</div>
			<div class="form-group row" style="display: none;"
				id="fin_row">
				<label for="fin">Fahrzeug-Identifikationsnummer (FIN)*</label>
				<div>
					<input type="text" class="form-control"
						maxlength="17" id="fin"
						name="fin" />
					<div class="validation"></div>
					<!-- <div id="finTextFloating" style="font-size: 0.7em; display:none;">
						<p>Nach dem Erwerb von älteren Fahrzeugen, die lange nicht zugelassen waren, kann es vorkommen, dass keine 17 stellige FIN existiert. Wenden Sie sich in diesem Fall bitte an Ihre Zulassungsstelle. Für die Online Beantragung einer eVB hier, ist auf jeden Fall eine 17 stellige FIN notwendig.</p>
					</div> -->
				</div>
			</div>
			<div class="form-group row" style="display: none;"
				id="nofincheckbox_row">
				<div>
					<label class="checkbox" for="nofincheckbox">
				 	<input id="nofincheckbox" type="checkbox" name="nofincheckbox"/>
					<b style="font-weight:normal;">Für mein Fahrzeug gibt es keine gültige FIN</b>
				</label>
				</div>
			</div>

			<div class="row button" id="finnotice" style="display: none;">
				<p>
					Nach dem Erwerb von älteren Fahrzeugen, die lange nicht zugelassen waren, kann es vorkommen, dass keine 17 stellige FIN existiert. Wenden Sie sich in diesem Fall bitte an Ihre Zulassungsstelle. Für die Online Beantragung einer eVB hier, ist auf jeden Fall eine FIN notwendig <a
						href="?article_id=7&amp;clang=1" class="red">CARISMA
						Kontaktformular</a>.
				</p>
				<!-- a role="button" href="?article_id=7&amp;clang=1" class="btn btn-default btn-huge">Kontaktformular.</a -->
			</div>

			<div id="noFinHideDiv">
				<div class="form-group row" style="display: none;"
					id="herstellerschluesselnummer_row">
					<label for="herstellerschluesselnummer">Herstellerschlüsselnummer*</label>
					<div>
						<input type="text" class="form-control"
							maxlength="4" id="herstellerschluesselnummer"
							name="herstellerschluesselnummer" />
						<div class="validation"></div>
					</div>
				</div>
				<div class="form-group row" style="display: none;"
					id="typschluesselnummer_row">
					<label for="typschluesselnummer">Typschlüsselnummer*</label>
					<div>
						<input type="text" class="form-control" maxlength="3"
							id="typschluesselnummer" name="typschluesselnummer" />
						<div class="validation"></div>
					</div>
				</div>
				<div class="form-group row">
					<label for="erstzulassung">Erstzulassung*</label>
					<div>
						<select class="form-control styled-select" onchange="onChangeMacOs(this)" name="erstzulassung_tag" id="erstzulassung_tag" style="width:30%;float:left;margin-right:5%;height:38px !important;">
							<option value=""></option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
						<select class="form-control styled-select" id="erstzulassung_monat"
								name="erstzulassung_monat" onchange="onChangeMacOs(this)"
								style="width:30%;float:left;height:38px !important;">
							<option value=""></option>
							<option value="JAN">Januar</option>
							<option value="FEB">Februar</option>
							<option value="MAR">März</option>
							<option value="APR">April</option>
							<option value="MAY">Mai</option>
							<option value="JUN">Juni</option>
							<option value="JUL">Juli</option>
							<option value="AUG">August</option>
							<option value="SEP">September</option>
							<option value="OCT">Oktober</option>
							<option value="NOV">November</option>
							<option value="DEC">Dezember</option>
						</select>
						<select class="form-control styled-select" id="erstzulassung"
								name="erstzulassung" onchange="onChangeMacOs(this)"
								style="width: 30%;float: right;height:38px !important;">
						</select>
						<div class="validation"></div>
					</div>
				</div>
				<div class="form-group row">
					<label for="tacho_einheit">Tachometereinheit*</label>
					<div>
						<select class="form-control styled-select" id="tacho_einheit"
							name="tacho_einheit" onchange="onChangeMacOs(this)">
							<option value="" selected></option>
							<option value="km">Kilometer</option>
							<option value="mi">Meilen</option>
						</select>
						<div class="validation"></div>
					</div>
				</div>
				<div class="form-group row">
					<label for="tacho_stand">Tachometerstand*</label>
					<div>
						<input type="text" class="form-control" id="tacho_stand"
							name="tacho_stand">
						<div class="validation"></div>
					</div>
				</div>
				<div class="form-group row" id="kilometerLeistung">
					<label for="fahrleistung">Voraussichtliche Fahrleistung pro Jahr in km*<br /> <span style="font-size: 0.7em">Bitte
							Geben Sie diesen Wert in Kilometern an, auch wenn Sie bei
							"Tachometereinheit" Meilen angewählt haben"</span>
					</label>
					<div>
						<select class="form-control styled-select" id="fahrleistung"
							name="fahrleistung" onchange="onChangeMacOs(this)">
							<option value=""></option>
						</select>
						<div class="validation"></div>
					</div>
				</div>
				<div class="form-group row">
					<label for="marktwert_tausend">Marktwert/Wiederbeschaffungswert in Euro*
					</span>
					</label>
					<div>
						<select class="form-control styled-select" id="marktwert_tausend"
							name="marktwert_tausend" onchange="onChangeMacOs(this)"
							style="width: 163px; float: left; margin: 0 5px 0 0;">
						</select>
						<select class="form-control styled-select" id="marktwert_hundert"
							name="marktwert_hundert" onchange="onChangeMacOs(this)"
							style="width: calc(100% - 168px);">

						</select>
						<div class="validation"></div>
						<label id="completeMarktwert" for="nix" style="font-size: 0.7em"></label>
					</div>
				</div>
				<input type="hidden" id="marktwert" value="0" name="marktwert" />
				<div class="form-group row">
					<label for="wiederherstellungswert_tausend">Wiederherstellungswert in Euro <br /><span style="font-size: 0.7em">Nur wenn in Gutachten ausgewiesen.</span>
					</label>
					<div>
						<select class="form-control styled-select" id="wiederherstellungswert_tausend"
								name="marktwert_tausend" onchange="onChangeMacOs(this)"
								style="width: 163px; float: left; margin: 0 5px 0 0;">
						</select>
						<select class="form-control styled-select" id="wiederherstellungswert_hundert"
								name="marktwert_hundert" onchange="onChangeMacOs(this)"
								style="width: calc(100% - 168px);">

						</select>
						<div class="validation"></div>
						<label id="completeWiederherstellungswert" for="nix" style="font-size: 0.7em"></label>
					</div>
				</div>
				<div class="form-group row">
					<label for="reusecheckbox"></label>
					<div style="top:-30px;">
						<label class="checkbox" for="reusecheckbox">
					 		<input id="reusecheckbox" type="checkbox" name="reusecheckbox" disabled style="top:0;" />
							<b style="font-weight:normal;"><span style="font-size: 0.7em">Ich möchte den Wiederherstellungswert meines Fahrzeugs versichern.</span></b>
						</label>
						<div class="reusetext" style="display:none;">
							<span style="font-size: 0.7em">Sie können Gutachten und andere Dokumente wie Bilder nach dem Online-Erhalt einer eVB hochladen</span>
						</div>
					</div>

				</div>
				<div class="form-group row">
					<label for="zustandsDivID" >Zustandsnote*</label>
					<div class="zustandsDiv" id="zustandsDivID">
						<div class="radio">
							<label for="zustands_note1"> <input class="radio_yes"
								type="radio" name="custom_type" value="1" id="zustands_note1"
								style="top: 0;" />Note 1
							</label>
						</div>
						<div class="radio">
							<label for="zustands_note2"> <input class="radio_yes"
								type="radio" name="custom_type" value="2" id="zustands_note2"
								style="top: 0;" />Note 2
							</label>
						</div>
						<div class="radio">
							<label for="zustands_note3"> <input class="radio_yes"
								type="radio" name="custom_type" value="3" id="zustands_note3"
								style="top: 0;" />Note 3
							</label>
						</div>
						<div class="radio">
							<label for="zustands_note45"> <input class="radio_no"
								type="radio" name="custom_type" value="4" id="zustands_note45"
								style="top: 0;" />Note 4 und 5
							</label>
						</div>
					</div>
				</div>

				<div class="row button" id="notice" style="display: none;">
					<p>
						Ein Online-Abschluss ist nur für die Fahrzeug-Zustandsnoten 1 bis 3
						möglich. Wie geht es weiter, wenn der Zustand Ihres Fahrzeugs den
						Zustandsnoten 4 oder 5 entspricht? Gerne erfahren wir mehr über
						Sie und Ihr Fahrzeug. Nutzen Sie einfach das <a
							href="?article_id=7&amp;clang=1" class="red">CARISMA
							Kontaktformular</a>.
					</p>
					<!-- a role="button" href="?article_id=7&amp;clang=1" class="btn btn-default btn-huge">Kontaktformular.</a -->
				</div>

				<div id="underNotice">
					<div class="form-group row">
						<label for="kennzeichen">Kennzeichenart*</label>
						<div>
							<select class="form-control styled-select" id="kennzeichen"
								name="kennzeichen" onchange="onChangeMacOs(this)">
								<option value=""></option>
								<option value="105002">Normales schwarzes Kennzeichen</option>
								<option value="105001" id="historischesKennzeichen">Historisches Kennzeichen</option>
								<option value="105003">Saisonkennzeichen</option>
								<option value="105012" id="historischesKennzeichenSaison">Historisches Saisonkennzeichen</option>
							</select>
							<div class="validation"></div>
						</div>
					</div>

					<div class="form-group row" style="display: none;" id="saisonstart">
						<label for="saison_start">Saisonstart*</label>
						<div>
							<select class="form-control styled-select" id="saison_start"
								name="saison_start" onchange="onChangeMacOs(this)">
								<option value="0"></option>
								<option value="03">März</option>
								<option value="04">April</option>
								<option value="05">Mai</option>
								<option value="06">Juni</option>
								<option value="07">Juli</option>
								<option value="08">August</option>
								<option value="09">September</option>
								<option value="10">Oktober</option>
							</select>
							<div class="validation"></div>
						</div>
					</div>
					<div class="form-group row" style="display: none;" id="saisonende">
						<label for="saison_ende">Saisonende*</label>
						<div>
							<select class="form-control styled-select" id="saison_ende"
								name="saison_ende" onchange="onChangeMacOs(this)" disabled>
								<option value="0"></option>
							</select>
							<div class="validation"></div>
						</div>
					</div>
					<input type="hidden" value="0" id="monthBetweenSaison" />
					<div class="form-group row">
						<label for="fahreralter">Fahreralter*</label>
						<div>
							<select class="form-control styled-select" id="fahreralter"
								name="fahreralter" onchange="onChangeMacOs(this)">
								<option value=""></option>
							</select>
							<div class="validation"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="leasing">Leasing*</label>
						<div>
							<select class="form-control styled-select" id="leasing"
								name="leasing" onchange="onChangeMacOs(this)">
								<option value=""></option>
							</select>
							<div class="validation"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="kaufjahr">Kaufjahr*</label>
						<div>
							<select class="form-control styled-select" id="kaufjahr"
								name="kaufjahr" onchange="onChangeMacOs(this)">
								<option value=""></option>
							</select>
							<div class="validation"></div>
						</div>
					</div>
					<div class="form-group row button desktop">
						<label></label>
						<div>
							<button id="submitButton" type="submit"
								class="btn btn-huge btn-default btn_goon">Angebot
								berechnen</button>
						</div>
					</div>
					<div class="form-group row button mobile">
						<button id="submitButton" type="submit"
							class="btn btn-huge btn-default btn_goon">Angebot
							berechnen</button>
					</div>
				</div>
			</div>
		</form>
		<div class="row footer">
			<a class="link_back" href="?article_id=15&amp;clang=1">zurück</a>
			<a class="link_home" href="?article_id=1&amp;clang=1&restart=1">zurück zur
				Homepage</a>
		</div>
	</div>
</div>

<div id="confirmationOverlay">
	<div class="boxWrapper">
		<div class="contentBoxWrapper">
			<div class="contentBox">
				<h3>Hinweis!</h3>
				<p id="modalMessageBody">
      			</p>
				<p class="team"></p>
				<button id="closeOverlay" class="btn btn-danger">ok</button>
			</div>
		</div>
	</div>
</div>

<div id="progressModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;" id="modalh3">Ihre Daten werden geladen</h3></div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/bootstrap-datepicker.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/beitragsrechner.js"></script>
<script src="assets/js/default.js"></script>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1260810,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Beitragsrechner-Tarfidaten')
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=1260810&ADFPageName=Beitragsrechner-Tarfidaten&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->