<link rel="stylesheet" href="assets/css/style.css">
<style type="text/css">
    div.wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000;
        z-index: 10;
        background-color: #fff;
    }

</style>
<div id="beitragsrechner_step5" class="jumbotron">
    <div class="row">
        <h2 class="mobile">Ihr Sofortschutz-Beitragsrechner</h2>

        <div class="navigation">
            <h3 class="desktop">Beitragsrechner</h3>

            <div>
                <ul>
                    <li>
                        <span><a id="wizard1" href="">1</a></span>
                        <div>Fahrzeug&shy;daten</div>
                    </li>
                    <li>
                        <span><a id="wizard2" href="">2</a></span>
                        <div>Tarifdaten</div>
                    </li>
                    <li>
                        <span><a id="wizard3" href="">3</a></span>
                        <div>Ihr Tarif-Angebot</div>
                    </li>
                    <li>
                        <span><a id="wizard4" href="">4</a></span>
                        <div>Persönliche Daten</div>
                    </li>
                    <li>
                        <span class="active"><a id="wizard5" href="">5</a></span>
                        <div>Kontodaten</div>
                    </li>
                    <li>
                        <span><a id="wizard6" href="">6</a></span>
                        <div>Zusammen&shy;fassung</div>
                    </li>
                    <li>
                        <span><a id="wizard7" href="">7</a></span>
                        <div>evB und Vertrags&shy;abschluss</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="row">
            <h2 id="headlineData">Komfort-Tarif Angebot für meinen Mercedes 200 von 1989 mit 118 PS</h2>
        </div>
    </div>
    <div class="row">
        <a class="link_back" href="?article_id=21&amp;clang=1" style="padding:0;">zurück</a>
        <a class="link_home" href="?article_id=1&amp;clang=1" style="padding:0;">zurück zur
            Homepage</a>
    </div>
    <div class="row copy">
        <span style="font-size: 0.7em">Die mit einem * gekennzeichneten
            Felder sind erforderlich</span>


        <h4>Ihre Bankdaten</h4>

        <form id="bankform" class="center" method="post" data-toggle="validator" role="form" action="?article_id=23&clang=1" onsubmit="return false;">
            <div class="form-group row">
                <label for="sameperson">Kontoinhaber gleich Antragsteller</label>
                <div>
                    <input type="checkbox" class="" id="sameperson" name="sameperson"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="accountholder">Kontoinhaber*</label>
                <div>
                    <input type="text" class="form-control" id="accountholder" name="accountholder">
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="iban">IBAN*</label>
                <div>
                    <input type="text" class="form-control" id="iban" name="iban">
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for=""></label>
                <div>
                    <button class="btn btn-danger" id="takeoverIban" name="takeoverIban" style="width:100%;">Iban übernehmen</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="bic">BIC</label>
                <div>
                    <input type="text" class="form-control" id="bic" name="bic" disabled>
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="nameofbank">Name des Geldinstituts</label>
                <div>
                    <input type="text" class="form-control" id="nameofbank" name="nameofbank" disabled>
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="way_of_payment">Zahlungsweise</label>
                <div>
                    <select class="form-control styled-select" id="way_of_payment" name="way_of_payment" disabled>
                        <option value="-1" disabled hidden></option>
                        <option value="1" selected>jährlich</option>
                    </select>
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="type_of_payment">Zahlungsart</label>
                <div>
                    <select class="form-control styled-select" id="type_of_payment" name="type_of_payment" disabled>
                        <option value="-1" disabled hidden></option>
                        <option value="1" selected>Bankeinzug</option>
                    </select>
                    <div class="validation"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="amount">Betrag</label>
                <div>
                    <input type="text" class="form-control" id="amount" name="amount" disabled>
                    <div class="validation"></div>
                </div>
            </div>

            <table class="desktop">
                <tr>
                    <td class="small-text">
                        <small>Hier geht es weiter zu Ihrer Zusammenfassung Ihres gewählten Vertrages.</small>
                    </td>
                    <td><button class="btn btn-default finish_btn"
                           style="padding-top:12px;">Weiter zur Zusammenfassung Ihrer <br/> Daten</button></td>
                </tr>
                <tr>
                    <td class="small-text">
                        <!--<small>Sie können beliebig viele Berechnungsergebnisse speichern und wieder abrufen (erfordert
                            Registrierung)
                        </small> -->
                    </td>
                    <td>
                        <!-- <a style="padding-top:12px;" href="#" role="button" class="btn btn-default save_btn">Berechnungsergebnis<br/> speichern</a> -->
                    </td>
                </tr>
                <tr>
                    <td class="small-text">
                        <small>Sie können alle Angaben ändern und eine neue Berechnungsvariante erstellen.</small>
                    </td>
                    <td><a role="button" class="btn btn-default change_btn" href="?article_id=32&clang=1&restart=1#calculator"
                           style="padding-top: 23px;">Eingaben ändern und neu berechnen</a></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="row copy mobile button">
        <button class="btn btn-default finish_btn" id="mobileSubmitButton" style="padding: 4% !important;">Weiter zur Zusammenfassung
            Ihrer Daten</button><br/><br/>
        <button class="btn btn-default save_btn">Berechnungsergebnis<br/> speichern</button>
        <br/><br/>
        <a role="button" class="btn btn-default change_btn" href="?article_id=32&clang=1&restart=1#calculator">Eingaben ändern
            und<br/>neu berechnen</a><br/><br/>
    </div>

    <div class="row footer">
        <a class="link_back" href="?article_id=21&amp;clang=1">zurück</a>
        <a class="link_home" href="?article_id=1&amp;clang=1">zurück zur Homepage</a>
    </div>
</div>

<div id="progressModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;" id="modalh3"></h3></div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmationOverlay">
    <div class="boxWrapper">
        <div class="contentBoxWrapper">
            <div class="contentBox">
                <h3>Hinweis!</h3>
                <p id="modalMessageBody">
        </p>
                <p class="team"></p>
                <button id="closeOverlay" class="btn btn-danger">ok</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/beitragsrechner.js"></script>
<script src="assets/js/default.js"></script>
