<link rel="stylesheet" href="assets/css/style.css">

<div id="beitragsrechner_step1" class="jumbotron">
	<div class="row">
		<h2 class="mobile">Ihr Sofortschutz-Beitragsrechner</h2>

		<div class="navigation">
			<h3 class="desktop">Beitragsrechner</h3>

			<div>
					<ul>
					<li>
						<span class="active"><a id="wizard1" href="">1</a></span>
						<div>Fahrzeug&shy;daten</div>
					</li>
					<li>
						<span><a id="wizard2" href="">2</a></span>
						<div>Tarifdaten</div>
					</li>
					<li>
						<span><a id="wizard3" href="">3</a></span>
						<div>Ihr Tarif-Angebot</div>
					</li>
					<li>
						<span><a id="wizard4" href="">4</a></span>
						<div>Persönliche Daten</div>
					</li>
					<li>
						<span><a id="wizard5" href="">5</a></span>
						<div>Kontodaten</div>
					</li>
					<li>
						<span><a id="wizard6" href="">6</a></span>
						<div>Zusammen&shy;fassung</div>
					</li>
					<li>
						<span><a id="wizard7" href="">7</a></span>
						<div>evB und Vertrags&shy;abschluss</div>
					</li>
					</ul>
				</div>
		</div>
	</div>

	<div class="banner">
		<div class="row">
			<h2 id="headlineData"></h2>
		</div>
	</div>
	<div class="row">
		<a class="link_back" href="?article_id=32&amp;clang=1" style="padding:0;">zurück</a>
		<a class="link_home" href="?article_id=1&amp;clang=1&restart=1" style="padding:0;">zurück zur
			Homepage</a>
	</div>
	<div class="row copy">
		<h4>Voraussetzungen für die CARISMA Versicherungsschutz-Tarife</h4>

		<ul id="allapproved">
			<li>Der überwiegende Abstellplatz meines Fahrzeugs ist: <span id="carport">Garage</span>.</li>
			<li>Mein Fahrzeug wird für Freizeitfahrten genutzt und es steht für alle Fahrer ein Alltagsfahrzeug zur Verfügung.</li>
			<li>Mein Fahrzeug wird weder gewerblich noch landwirtschaftlich oder forstwirtschaftlich genutzt.</li>
			<li>Mein Fahrzeug befindet sich in einem guten Zustand. (auf einer Skala von 1-5 mindestens Note 3).</li>
			<li>Mein Fahrzeug ist weitgehend im Originalzustand oder es wurden nur Baureihen typische, zeitgenössische Veränderungen vorgenommen.</li>
			<!-- <li>Bei Saisonkennzeichen: Zulassungen sind nicht ausschliesslich nur für die Wintermonate  (zum Beispiel Dezember bis März) möglich.</li> -->
			<li>Das Fahrzeug wird überwiegend im Familienkreis gefahren.</li>
			<li id="driversAge"></li>
			<li id="driversSubAge" style="display:none;list-style-type:none;">(durch spätere Auswahl eingeschränkt auf <span class="fahreralter"></span>)</li>
			<li>Alle Fahrer haben den Führerschein mindestens 4 Jahre.</li>
			<li>Die Versicherung wurde nicht aus Schadensfallgründen, durch Zahlungverzug oder Obligenheitsverletzung durch den Vorversicherung gekündigt.</li>
		</ul>
	</div>

	<div class="row copy">
		<div class="radio">
			<label><input type="radio" class="radio_yes" name="optradio" value="yes">Alle Bedingungen sind erfüllt.</label>
		</div>
		<div class="radio">
			<label><input type="radio" class="radio_no" name="optradio" value="no" >Nicht alle Bedingungen sind erfüllt.</label>
		</div>
	</div>

	<div class="row button" style="display: none;">
		<button class="btn btn-huge btn-default btn_goon" onclick="location.href='?article_id=19&amp;clan=1'">
			Weiter im Beitragsrechner
		</button>
	</div>

	<div class="row button" id="notice">
		<p>
			Wie geht es weiter, wenn nicht alle Bedingungen für den Online-Abschluss erfüllt sind? Gerne erfahren wir mehr über Sie und Ihr Fahrzeug. Nutzen Sie einfach das <a href="?article_id=7&amp;clang=1" class="red">CARISMA Kontaktformular</a>.
		</p>
		<!-- a role="button" href="?article_id=7&amp;clang=1" class="btn btn-default btn-huge">Kontaktformular.</a -->
	</div>

	<div class="row footer">
		<a class="link_back" href="?article_id=32&amp;clang=1&restart=1">zurück</a>
		<a class="link_home" href="?article_id=1&amp;clang=1&restart=1">zurück zur Homepage</a>
	</div>
</div>

<div id="confirmationOverlay">
	<div class="boxWrapper">
		<div class="contentBoxWrapper">
			<div class="contentBox">
				<h3>Hinweis!</h3>
				<p id="modalMessageBody">
				</p>
				<p class="team"></p>
				<button id="closeOverlay" class="btn btn-danger">ok</button>
			</div>
		</div>
	</div>
</div>

<script>
$('#beitragsrechner_step1 .radio_yes').click(function(){
	if($('#beitragsrechner_step1 input:checked').val()){
		$('#beitragsrechner_step1 button').parent().show();
		$('#beitragsrechner_step1 #notice').hide();
        sessionStorage.setItem("Anforderung","erfüllt");
        var elem = $('#allapproved');
        sessionStorage.setItem("anforderungLi",elem[0].innerHTML);
	}
});

$('#beitragsrechner_step1 .radio_no').click(function(){
	$('#beitragsrechner_step1 button').parent().hide();
	$('#beitragsrechner_step1 #notice').show();
        sessionStorage.setItem("Anforderung","nichterfüllt");
});
</script>
<script src="assets/js/beitragsrechner.js"></script>
<script src="assets/js/default.js"></script>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1260810,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Beitragsrechner-Fahrzeugdaten')
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=1260810&ADFPageName=Beitragsrechner-Fahrzeugdaten&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->