<link rel="stylesheet" href="assets/css/style.css">
<style type="text/css">
    div.wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000;
        z-index: 10;
        background-color: #fff;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, .6);
    }

    #overlay h3 {
        font-weight: bold;
    }

    #overlay p {
        margin-bottom: 30px;
    }

    #overlay p {
        font: normal 14px/18px "Roboto-Regular";
        transition: color .4s;
    }

    #overlay .boxWrapper {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 15%;
    }

    #overlay .contentBox {
        width: 40%;
        height: 275px;
        max-width: 450px;
        margin: 0 auto;
        padding: 20px 30px;
        background-color: #fff;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, .4);
    }

    #overlay button {
        padding: 0 15px;
        background-color: #d1232a;
        color: #fff;
        font-size: 16px;
        border: 2px solid #d1232a;
        min-width: 50px;
    }
</style>
<div id="beitragsrechner_summary" class="jumbotron">
    <div class="row">
        <h2 class="mobile">Ihr Sofortschutz-Beitragsrechner</h2>

        <div class="navigation">
            <h3 class="desktop">Beitragsrechner</h3>

            <div>
                <ul>
                    <li>
                        <span><a id="wizard1" href="">1</a></span>
                        <div>Fahrzeug&shy;daten</div>
                    </li>
                    <li>
                        <span><a id="wizard2" href="">2</a></span>
                        <div>Tarifdaten</div>
                    </li>
                    <li>
                        <span><a id="wizard3" href="">3</a></span>
                        <div>Ihr Tarif-Angebot</div>
                    </li>
                    <li>
                        <span><a id="wizard4" href="">4</a></span>
                        <div>Persönliche Daten</div>
                    </li>
                    <li>
                        <span><a id="wizard5" href="">5</a></span>
                        <div>Kontodaten</div>
                    </li>
                    <li>
                        <span class="active"><a id="wizard6" href="">6</a></span>
                        <div>Zusammen&shy;fassung</div>
                    </li>
                    <li>
                        <span><a id="wizard7" href="">7</a></span>
                        <div>evB und Vertrags&shy;abschluss</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="row">
            <h2 id="headlineData"></h2>
        </div>
    </div>
    <div class="row">
        <a class="link_back" href="?article_id=22&amp;clang=1" style="padding:0;">zurück</a>
        <a class="link_home" href="?article_id=1&amp;clang=1" style="padding:0;">zurück zur
            Homepage</a>
    </div>
    <div class="row copy">
        <h2 class="desktop">Zusammenfassung Ihrer Daten</h2>
		
		Vorraussetzungen für die CARISMA Versicherungsschutz-Tarife
		<ul id="allFine">
			
		</ul>
		<div class="checkbox"  >
         	<label class="checkbox" for="allFine_chk" style="width:70%;">
	 			<input type="checkbox" id="allFine_chk" name="allFine_chk" disabled="disabled" checked/>
				<b style="font-weight:normal; color: #ccc;">JA, alle Vorraussetzungen sind erfült.</b>
			</label>
        </div>
		
        <h4>
            Mein <span id="fahrzeug"></span>
        </h4>

        <b>Ihr gewähltes Angebot</b>
        <ul id="defaultInfo">
            <li>CARISMA <span id="tarifname"></span><span id="selbstbeteiligung"></span></li>
            <li>Versicherungsbeitrag: <span class="insuranceamount"></span> Euro</li>
            <li>Geplante Zulassung: <span id="geplante_zulassung"></span></li>
            <li>Erstzulassung: <span id="erstzulassung"></span></li>
            <li>Grund der Versicherung: <span id="reason"></span><span id="grund_der_versicherung"></span></li>
            <li>Tachometereinheit: <span id="tachoeinheit"></span></li>
            <li>Tachometerstand: <span id="kilometerstand"></span></li>
            <li>Voraussichtliche Kilometer Fahrleistung pro Jahr: <span id="fahrleistung"></span></li>
            <li>Marktwert des Fahrzeugs: <span id="marktwert"> </span>Euro</li>
            <li>Zustandsnote: <span id="zustandsnote"></span></li>
            <li>Fahrzeugstandort: <span id="standort"></span></li>
            <li>Kennzeichenart: <span id="kennzeichen"></span></li>
            <li>Fahreralter: <span class="fahreralter1"></span></li>
        </ul>
        <br/>

        <b>Persönliche Daten</b>
        <ul>
            <li>Anrede: <span id="anrede"></span></li>
            <li>Vorname: <span id="prename"> </span></li>
            <li>Nachname: <span id="lastname"></span></li>
            <li>Anschrift: <span id="address"></span></li>
            <li>Geburtsdatum: <span id="gebDate"></span></li>
        </ul>

        <br/>

        <b>Inkassodaten</b>
        <ul>
        	<li>Kontoinhaber: <span id="accountholder"></span></li>
            <li>IBAN: <span id="iban"></span></li>
            <li>BIC: <span id="bic"></span></li>
            <li>Zahlungsweise: <span id="way_of_payment"></span></li>
            <li>Zahlungsart: <span id="type_of_payment"></span></li>
            <li>Betrag: <span class="insuranceamount"></span> Euro</li>
        </ul>
        <br/>

        <form action="?article_id=36&clang=1" method="post" data-toggle="validator" onsubmit="return false;" role="form" id="summaryForm">
        	<div class="checkbox">
            	<label class="checkbox" for="correct" style="width:84%;">
                    <input type="checkbox" id="correct" value="data_ok" required="required">
                    <b style="font-weight:normal;">Alle meine Angaben sind korrekt</b>
                </label>
            </div>
            <br/>
            <div id="rechtlicheHinweisBox" style="display:none;">
	            <h3 style="font:normal 19px/23px Roboto-Medium;">Rechtliche Hinweise</h3>
	            <ul>
	                <li>Vorvertragliche Anzeigepflicht</li>
	                <li id="rightAnchor">Widerrufsinformation</li>
	                <li>Information über die vorläufige Deckung in der Kfz-Versicherung</li>
	                <li>Einzugsermächtigung</li>
	                <li>Information und Einwilligung zur Datenverarbeitung</li>
	                <li>Beratungsverzichtserklärung</li>
	                
	            </ul>
	            <button data-toggle="collapse" data-target="#rechtlicherHinweis" class="btn btn-default save_btn" id="rightButton">Bitte rechtliche Hinweise öffnen
	            </button>
	            <br/>
	            <div id="rechtlicherHinweis" class="collapse">
	            	<p><span style="font-weight: bold;">Hinweise zum Vertragsabschluss</span></p>
	            	<p><span>Ihr Antrag stellt ein Angebot an uns zum Abschluss eines Versicherungsvertrages dar. Durch Ausfüllen der notwendigen Felder und Abschicken Ihrer Informationen durch Anklicken des Buttons „Weiter zur eVB und Ihrem Versicherungsantrag“ haben Sie ein für Sie verbindliches Angebot zum Abschluss eines Kfz-Versicherungsvertrages bei uns getätigt.
Ihre Angaben können Sie vor Absenden des Antrages noch einmal überprüfen und bei Bedarf korrigieren. Ihr Antrag und die Vertragsbedingungen werden Ihnen an Ihre angegebene E-Mail-Adresse zugeschickt.
Dies stellt noch keine Annahme des Versicherungsantrages dar, sondern soll Sie lediglich darüber informieren, dass wir Ihren Antrag erhalten haben.
Nachdem Sie uns die zusätzlichen Dokumente, die wir von Ihnen auf CARISMA.auto erbeten haben oder mittels E-Mail abfragen, zugesendet haben, prüfen wir Ihren Antrag. Der Versicherungsvertrag kommt durch Zusendung des Versicherungsscheins an Sie zustande.</span>
	            	</p>
	            	
	            	<p><span style="font-weight: bold;">Vorvertragliche Anzeigepflicht</span></p>
	            	<p>Damit Ihr Versicherungsantrag ordnungsgemäß geprüft werden kann, ist es notwendig, dass Sie die nachfolgenden Fragen vollständig und wahrheitsgemäß beantworten. Sie gefährden Ihren Versicherungsschutz, wenn Sie die Fragen unvollständig oder nicht wahrheitsgemäß beantworten. Einzelheiten zur vorvertraglichen Anzeigepflicht und den Folgen einer Anzeigepflichtverletzung können Sie der Kundeninformation unter A. 8. entnehmen.</p>
					<p>&nbsp;</p>
					<p><span>Widerrufsinformation</span>
					<p>&nbsp;</p>
	                <p><span style="font-weight: bold;">Widerrufsrecht</span></p>
	                <p><span>Sie können Ihre Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z.B. E-Mail, Telefax oder Brief) widerrufen. Die Frist beginnt, nachdem Sie den Versicherungsschein, die Vertragsbestimmungen einschließlich der Allgemeinen Versicherungsbedingungen, die weiteren Informationen nach § 7 Abs. 1 und 2 des Versicherungsvertragsgesetzes in Verbindung mit den §§ 1 bis 4 der VVG-Informationspflichtenverordnung und diese Belehrung jeweils in Textform (z.B. E-Mail, Telefax oder Brief) erhalten haben, jedoch nicht vor Erfüllung unserer Pflichten gemäß § 312 i Abs. 1 Satz 1 des Bürgerlichen Gesetzbuches in Verbindung mit Artikel 246 c des Einführungsgesetzes zum Bürgerlichen Gesetzbuch. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs. Der Widerruf ist als Vertreter der Versicherer zu richten an:</span>
	                </p>
	                <p><span>CARISMA Assecuradeur GmbH, Herrengraben3, 20459 Hamburg, Fax: +49 (0) 40 4011337-99, E-Mail: <a href="mailto:widerruf@carisma.auto">widerruf@carisma.auto </a></span></p>
	                <p><span>Widerrufsfolgen: </span></p>
	                <p><span>Im Falle eines wirksamen Widerrufs endet der Versicherungsschutz, und wir erstatten Ihnen den auf die Zeit nach Zugang des Widerrufs entfallenden Teil des Beitrags, wenn Sie zugestimmt haben, dass der Versicherungsschutz vor dem Ende der Widerrufsfrist beginnt. Den Teil des Beitrags, der auf die Zeit bis zum Zugang des Widerrufs entfällt, dürfen wir in diesem Fall einbehalten. Dieser Betrag ermittelt sich wie folgt:
Anzahl der Tage, an denen Versicherungsschutz bestand, multipliziert mit - je nach vereinbarter Zahlungsperiode - 1/360 des Jahresbeitrags bzw. 1/180 des Halbjahresbeitrags bzw. 1/90 des Vierteljahresbeitrags bzw. 1/30 des Monatsbeitrags.
Die Erstattung zurückzuzahlender Beträge erfolgt unverzüglich, spätestens 30 Tage nach Zugang des Widerrufs.
Beginnt der Versicherungsschutz nicht vor dem Ende der Widerrufsfrist, hat der wirksame Widerruf zur Folge, dass empfangene Leistungen zurück zu gewähren und gezogene Nutzungen (z. B. Zinsen) herauszugeben sind.
Haben Sie Ihr Widerrufsrecht nach § 8 des Versicherungsvertragsgesetzes wirksam ausgeübt, sind Sie auch an einen mit dem Versicherungsvertrag zusammenhängenden Vertrag nicht mehr gebunden. Ein zusammenhängender Vertrag liegt vor, wenn er einen Bezug zu dem widerrufenen Vertrag aufweist und eine Dienstleistung des Versicherers oder eines Dritten auf der Grundlage einer Vereinbarung zwischen dem Dritten und dem Versicherer betrifft. Eine Vertragsstrafe darf weder vereinbart noch verlangt werden.</span>
	                </p>
	                <p><span>Besondere Hinweise: </span></p>
	                <p><span>Ihr Widerrufsrecht erlischt, wenn der Vertrag auf Ihren ausdrücklichen Wunsch sowohl von Ihnen als auch von uns vollständig erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben.</span>
	                </p>
	                <p><span>Ende der Widerrufsbelehrung</span></p>
	                <p>&nbsp;</p>
	                <p><span style="font-weight: bold;">Vorläufiger Versicherungsschutz (auch vorläufige Deckung genannt) </span>
	                </p>
	                <p><span>Sofern der Versicherer Ihren Antrag unverändert angenommen hat und Sie den Versicherungsschein nicht durch rechtzeitige Zahlung des Erstbeitrags (unverzüglich nach Ablauf von zwei Wochen nach Zugang des Versicherungsscheins) eingelöst haben, entfällt der Vertrag über die vorläufige Deckung rückwirkend.<br />
Sie können dann keine Ansprüche gegenüber dem Versicherer aus dem Vertrag mehr geltend machen.<br/>
Darüber hinaus ist der Versicherer berechtigt, bereits erbrachte Leistungen aus diesem Vertrag von Ihnen zurückzufordern. Neuen Versicherungsschutz erhalten Sie erst ab dem Zeitpunkt, an dem Sie die geforderte Prämie gezahlt haben.
Wenn Sie allerdings den Versicherungsschein unverschuldet nicht rechtzeitig eingelöst haben, bleibt der vorläufige Versicherungsschutz dennoch bestehen, falls Sie die Zahlung unverzüglich nachholen.</span>
	                </p>
	                <p><span>Einzugsermächtigung </span></p>
	                <p><span>Sofern Zahlungen mittels Lastschrift eingezogen werden sollen, benötigen wir Ihr Einverständnis in Form des komplett ausgefüllten und unterschriebenen SEPA-Lastschriftmandates. Das SEPA-Lastschriftmandat ist als Anlage beigefügt.</span>
	                </p>
	                
	                <p>&nbsp;</p>
	                <p><span style="font-weight: bold;">Information zur Datennutzung, Bestätigung und Widerruf </span></p>
	                <p><span>Das Bundesdatenschutzgesetz erlaubt es unter bestimmten Voraussetzungen, dass personenbezogene Daten gespeichert und verarbeitet werden dürfen. </span>
	                </p>
	                <p><span>Im Rahmen unserer Tätigkeiten ist es erforderlich, dass wir, d.h. die Carisma Assecuradeur GmbH, Ihre personenbezogenen Daten in unserer EDV verarbeiten und ggf. an Dritte weitergeben bzw. von Dritten in Empfang nehmen und ebenfalls speichern bzw. weiterverarbeiten. </span><span>Die Art und der Umfang der jeweils erforderlichen Daten hängen vom gewünschten bzw. bestehenden Versicherungsschutz und unserem dementsprechenden Dienstleistungsspektrum ab.</span>
	                </p>
	                <p><span> Es können z.B. folgende Daten von Ihnen erfragt, von uns gespeichert und genutzt und an Dritte weitergegeben oder durch uns von Dritten abgefragt werden:</span>
	                </p>
	                <p><span> Name, Anschrift, Geburtsdatum, Telefonnummer, Faxnummer, E-Mail, Familienstand, Beruf, Gesundheitsdaten, Objektdaten, Unternehmensdaten, Einkommen, Umsatz, steuerliche Daten, sonstige persönliche oder wirtschaftliche Verhältnisse, sowie Vertragsdaten über bestehende oder beendete Verträge. </span>
	                </p>
	                <p><span>Wir schützen Ihre Daten gegen unbefugten Zugriff und unbefugte Weitergabe. Unsere Mitarbeiter, die mit der Verarbeitung ihrer Daten befasst sein können, sind auf die Wahrung des Datengeheimnisses nach &sect; 5 BDSG verpflichtet. </span>
	                </p>
	                <p><span>Im Rahmen des Austausches von Daten kommen insbesondere folgende Kategorien von Dritten in Betracht: </span>
	                </p>
	                <p><span>&bull; Versicherer, hier speziell die XL Insurance Company SE, Direktion für Deutschland sowie die Württembergische Versicherung AG (siehe nachfolgend)</span>
	                </p>
	                <p><span>&bull; Rückversicherer </span></p>
	                <p><span>&bull; Kooperierende Versicherungsmakler und/oder Maklerpools </span></p>
	                <p>
	                    <span>&bull; Technische Dienstleister, insbesondere Kfz-Sachverständige (z.B. Classic Data GmbH)</span>
	                </p>
	                <p><span> &bull; Untervermittler &bull; Tippgeber </span></p>
	                <p><span>&bull; Rechtsanwälte, Steuerberater, Wirtschaftsprüfer</span></p>
	                <p><span> &bull; Versicherungs-Ombudsmänner</span></p>
	                <p><span> &bull; Bundesanstalt für Finanzdienstleistungsaufsicht (BaFin) </span></p>
	                <p><span>&bull; Dienstleister zur Bonitätsprüfung (z.B. SCHUFA, Infoscore Consumer Data GmbH, Creditreform Boniversum GmbH etc.)</span>
	                </p>
	                <p><span>Einwilligungserklärung zur Datennutzung und Widerruf:</span></p>
	                <p><span>Ich wurde darüber informiert, dass die von mir aufgegebenen und oder auch durch Dritte erhobenen oder an Dritte weitergegebenen Daten die im Zusammenhang mit dem von mir hier beantragen Versicherungsschutz stehen, für die dafür entsprechend notwendige Verarbeitung und zukünftige Verwaltung bzw. Weiterverarbeitung, wie oben dargestellt, gespeichert und genutzt und weiterverarbeitet werden. Dieser gesamte Prozess geschieht unter der Einhaltung der dafür nötigen Vorgaben und Richtlinien durch das Bundesdatenschutzgesetz. </span>
	                </p>
	                <p>&nbsp;</p>
	                <p>- Hiermit erkläre ich meine Einwilligung, dass meine Daten gemäß obiger Darstellung bzw. im Rahmen des Bundesdatenschutzgesetzes gespeichert und genutzt werden.</p>
	                
	                <p><span>Mir ist bekannt, dass ich diese Einwilligung jederzeit, ganz oder teilweise, für die Zukunft widerrufen kann. Mir ist ebenfalls bekannt, dass der Widerruf dazu führen kann, dass der Versicherer und oder Carisma im Rahmen des hier beantragen Versicherungsschutzes ihre zugesicherten auch zukünftigen Dienstleistungen nicht mehr erbringen können. Bei einem Widerruf werden meine Daten entweder gelöscht oder zunächst gesperrt. Dies hängt von folgenden Umständen ab: Personenbezogene Daten werden unverzüglich gelöscht, wenn die Verarbeitung nicht zulässig war oder sich aufgrund nachträglicher Umstände als unzulässig erweist oder die Kenntnis der Daten zur Erfüllung der Aufgaben des Versicherers oder Carisma nicht mehr erforderlich ist. Anstelle der Löschung tritt eine Sperrung, soweit der Löschung gesetzliche, satzungsmäßige oder vertragliche Aufbewahrungsfristen entgegenstehen. Eine längerfristige Speicherung von personenbezogenen Daten kann insbesondere aufgrund der nach dem Versicherungsvertragsgesetz dem Versicherer oder Versicherungsvermittler obliegenden Dokumentationspflichten, bzw. als etwaiges Beweismittel, erforderlich sein. Eine Sperrung gilt auch dann als zweckmäßig, wenn eine Löschung nicht oder nur mit unverhältnismäßigem Aufwand möglich wäre oder schutzwürdige Interessen der Betroffenen beeinträchtigt würden. Die Daten werden ferner gesperrt, soweit ihre Richtigkeit vom Betroffenen bestritten wird und sich weder die Richtigkeit noch Unrichtigkeit feststellen lässt.</span>
	                </p>
	                <p>&nbsp;</p>
	                <p><span style="font-weight: bold;">Beratungsverzichtserklärung </span></p>
	                <p><span>Aufgrund des Versicherungsvertragsgesetzes sowie der geltenden EU-Vermittlerrichtlinien weist die Carisma Assecuradeur GmbH darauf hin, dass nur Angebote der Versicherer, mit denen die Carisma Assecuradeur GmbH im Bereich der Kfz-Versicherung und im Rahmen der eigenen Deckungskonzepte zusammenarbeitet, unterbreitet werden. Eine weitergehende Beratung in Hinsicht auf andere Versicherer und / oder Versicherungssparten und / oder Kfz-Risiken wird nicht durchgeführt. Dieses kann sich für den Versicherungsnehmer nachteilig auf die Möglichkeit auswirken, gegen die Versicherer und den Versicherungsvermittler Schadenersatzansprüche geltend zu machen. </span>
	                </p>
	                <p><span>Ja, im Sinne der obigen Erklärung verzichte ich auf eine weitergehende Beratung.</span>
	                    <br/>
	                    
	                    <button class="btn btn-default save_btn" data-toggle="collapse" data-target="#rechtlicherHinweis" id="rightButtonClose">
	                        Rechtliche Hinweise schliessen
	                    </button>
	                </p>
	            </div>
	            <div class="checkbox"  >
	            	<label class="checkbox" for="correct_right" style="width:70%;">
					 	<input id="correct_right" type="checkbox" name="correct_right" disabled="disabled" />
						<b style="font-weight:normal; color: #ccc;">Ich habe den Inhalt der rechtlichen Hinweise zur Kenntnis genommen und bin einverstanden. Durch das Ankreuzen der Checkbox wird mir ein unverbindliches Angebot an meine E-Mail Adresse gesendet. Nach dem Versand des Angebots, geht es unten weiter zu eVB und Versicherungsantrag (rotes Feld). </b>
					</label>
	            </div>
	        </div>
            <br/>

            <table class="desktop">
                <tr>
                    <td class="small-text">
                        <small>Wenn Sie hier klicken, stellen Sie einen Antrag auf KFZ-Versicherung mit vorläufiger Deckung und erhalten eine eVB.
                        </small>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default finish_btn">Weiter zur eVB und Ihrem<br/>Versicherungsantrag
                        </button>
                    </td>
                </tr>
                <tr id="saveDataRow">
                    <td class="small-text">
                        <small>Sie können beliebig viele Berechnungsergebnisse speichern und wieder abrufen (erfordert
                            Registrierung)
                        </small>
                    </td>
                    <td>
                        <button class="btn btn-default save_btn savebankData">Berechnungsergebnis <br/>speichern
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="small-text">
                        <small>Sie können alle Angaben ändern und eine neue Berechnungsvariante erstellen.</small>
                    </td>
                    <td>
                        <a role="button" href="/?article_id=32&clang=1&restart=1" class="btn btn-default change_btn" style="padding-top: 10px;">Eingaben ändern und<br/> neu berechnen</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="row copy mobile button">
        <button id="mobileSubmitButton" class="btn btn-default finish_btn srcollToButton">Weiter zu eVB und Ihrem <br/>Versicherungsabschluss
        </button>
        <br/><br/>
        <button class="btn btn-default save_btn savebankData">Berechnungsergebnis <br/>speichern</button>
        <br/><br/>
        <a role="button" href="/?article_id=32&clang=1&restart=1" class="btn btn-default change_btn">Eingaben ändern und<br />neu berechnen</a>
        <br/><br/>
    </div>

    <div class="row footer">
        <a class="link_back" href="?article_id=22&amp;clang=1">zurück</a>
        <a class="link_home" href="?article_id=1&amp;clang=1">zurück zur Homepage</a>
    </div>
</div>

<div id="confirmationOverlay">
	<div class="boxWrapper">
		<div class="contentBoxWrapper">
			<div class="contentBox">
				<h3>Vielen Dank!</h3>
				<p id="modalMessageBody">

            	</p>
	            <div class="progress progress-striped active" style="margin-bottom:0;">
	                <div class="progress-bar" style="width: 100%"></div>
	            </div>
				<p class="team"></p>

				<button id="closeOverlay" class="btn btn-danger">ok</button>
                <button id="cancelOverlay" style="background-color: #7f90a7; display: none;" class="btn btn-danger" style="display:none;">Abbruch</button>
			</div>
		</div>
	</div>
</div>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1260810,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Beitragsrechner-Zusammenfassung')
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=1260810&ADFPageName=Beitragsrechner-Zusammenfassung&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/beitragsrechner.js"></script>
<script src="assets/js/default.js"></script>
