<div id="insuranceJumbotron" class="jumbotron">
    <div class="row">
        <div class="insuranceJumbotronHeadline">
            <h2 class="monserratSemiBold desktop">Sofortschutz-Beitragsrechner</h2>
        </div>
        <div class="intro">
            <p>
                Für Ihr Fahrzeug bieten wir Ihnen mit unseren Tarifen BASIS, KOMFORT und PREMIUM den passenden Versicherungsschutz für Ihre Bedürfnisse.
            </p>
            <p>
                <strong>In der Tarifübersicht sehen Sie bereits Beispiel-Angebote für Ihr Fahrzeug:</strong>
            </p>
            <p id="customerCar"><strong></strong></p>
            <p>
                <strong>Mit unserem Sofortschutz-Beitragsrechner</strong> können Sie jetzt in wenigen Schritten Ihren gewünschten Tarif für Ihren Oldtimer, Youngtimer, Newtimer oder für Ihr Premium Car wählen, die Preise vergleichen und erhalten sofort Ihre eVB und Ihren Versicherungsschein!
            </p>
            <p>
                <strong>Unsere Tarife bieten:</strong>
            </p>
            <ul>
                <li>Bessere und günstigere Konditionen als herkömmliche KFZ-versicherungen</li>
                <li>Keine Schadenfreiheitsklassen, keine Hochstufung im Schadensfall</li>
                <li>Marktwertversicherung Ihres Fahrzeuges und nicht nur Zeitwert</li>
            </ul>
            <p>
                <strong>Jetzt den gewünschten Tarif wählen und Ihren Versicherungsbeitrag berechnen lassen!</strong>
            </p>
            <p class="desktop hideByScreenSize">
                <a href="#" data-js-action="toggle" class="btn btn-danger btn-huge">Ihre Fahrzeugdaten ansehen oder ändern</a>
            </p>

            <div id="tarifeBoxWrapper" class="mobile">
                <p class="headline  ">Ihre Tarifangebote:</p>                

                <div class="tarifbox basis center">
                    <div class="panel-group" id="accordionBasis">
                        <div class="panel panel-default">
                            <p class="boxTextLine1">Basis</p>
                            <div id="collapseBasis" class="panel-collapse collapse">
                                <ul class="baseli">

				            </ul>
                                <p>
                                    <strong><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="boxTextLine2"><span>ab</span> <span class="insurancePrice1"> </span></p>
                    <p class="boxTextLine3"><span>pro Jahr</span></p>
                    <p class="boxTextLine4"><a href="#" class="openDetailbox " data-toggle="collapse" data-parent="#accordionBasis" data-target="#collapseBasis" data-tarif="Basis-Tarif">Details<span>&nbsp;&#8250;</span></a></p>
                </div>

                <div class="tarifbox komfort center">
                    <div class="panel-group" id="accordionKomfort">
                        <div class="panel panel-default">
                            <p class="panel-title collapsed boxTextLine1">Komfort</p>
                            <div id="collapseKomfort" class="panel-collapse collapse">
                                <ul class="comfortli">

						    </ul>
                                <p>
                                    <strong><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="boxTextLine2"><span>ab</span> 350 €</p>
                    <p class="boxTextLine3"><span>pro Jahr</span></p>
                    <p class="boxTextLine4"><a href="#" class="openDetailbox" data-toggle="collapse" data-parent="#accordionKomfort" data-target="#collapseKomfort" data-tarif="Komfort-Tarif">Details<span>&nbsp;&#8250;</span></a></p>
                </div>

                <div class="tarifbox premium center">
                    <div class="panel-group" id="accordionPremium">
                        <div class="panel panel-default">
                            <p class="panel-title collapsed boxTextLine1">Premium</p>
                            <div id="collapsePremium" class="panel-collapse collapse">
                                <ul class="comfortli">

				</ul>
                                <p>
                                    <strong><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="boxTextLine2"><span>ab</span> 410 €</p>
                    <p class="boxTextLine3"><span>pro Jahr</span></p>
                    <p class="boxTextLine4"><a href="#" class="openDetailbox" data-toggle="collapse" data-parent="#accordionPremium" data-target="#collapsePremium" data-tarif="Premium-Tarif">Details<span>&nbsp;&#8250;</span></a></p>
                </div>

                <p class="center">
                    <a href="#" data-js-action="toggle" class="btn btn-danger btn-huge">Alle Tarife im Detail ansehen</a>
                </p>

                <p class="medium">
                    Sie möchten die Fahrzeugdaten ändern und die Tarife neu berechnen lassen? Kein Problem:
                </p>

                <p class="center">
                    <a href="#" data-js-action="toggle" class="btn btn-danger btn-huge">Beitragsrechner neu starten</a>
                </p>
            </div>
        </div>

        <div class="calculator" style="display:none;">
			<form>
				<div class="tarifShortTitle">
					Ihr Fahrzeug
				</div>
				<div class="form-group tarifgroup">
					<label for="sel1" class="tariflabel">Fahrzeugart</label>
					<select class="form-control tarifselect" id="sel1">
						<option></option>
					</select>
				</div>
				<div class="form-group tarifgroup">
					<label for="sel2" class="tariflabel">Fahrzeugmarke</label>
					<select class="form-control tarifselect" id="sel2">
						<option></option>
					</select>
				</div>
				<div class="form-group tarifgroup">
					<label for="sel3" class="tariflabel">Baujahr</label>
					<select class="form-control tarifselect" id="sel3">
						<option></option>
					</select>
				</div>
				<div class="form-group tarifgroup">
					<label for="sel4" class="tariflabel">Fahrzeugtyp</label>
					<select class="form-control tarifselect" id="sel4">
						<option></option>
					</select>
				</div>
				<div class="form-group tarifgroup">
					<label for="sel5" class="tariflabel">Fahrzeug</label>
					<select class="form-control tarifselect" id="sel5">
						<option></option>
					</select>
				</div>
			</form>

			<a href="#" id="clearButton" class="btn btn-default" data-js-action="clear">Fahrzeug ändern</a>
			<a href="#" id="tarifBtn" class="btn btn-danger" style="display:none;">weiter und sofort<br/>Angebot erhalten</a>
			<a href="#" class="btn btn-danger" data-js-action="toggle" style="display:none;">Fahrzeugdaten bestätigen<br />und zurück zu den Tarifen</a> 
		</div>

		<div class="result desktop">
			<table>
				<tr>
					<th class="col_basis">Basis</th>
					<th class="col_komfort">Komfort</th>
					<th class="col_premium">Premium</th>
				</tr>
				<tr>
					<td class="col_copy basix">
						<ul class="baseli">

						</ul>
				    </td>
				    <td class="col_copy comfort" >
				        <ul class="comfortli">

				        </ul>
				    </td>
				    <td class="col_copy premium" style="height:348px;" id="premiumtd">
				        <ul class="premiumli">

				        </ul>
				    </td>
				</tr>
				<tr>
					<td colspan="3" class="col_spanned" id="spannedRow">
						<strong>Beispiel-Tarife für Ihren <span class="_car"></span></strong><br />
						Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug
					</td>
				</tr>
				<tr>
					<th class="col_basis"><small>ab</small><span class="insurancePrice1"> 290€</span><br /><small>pro Jahr</small></th>
					<th class="col_komfort"><small>ab</small><span class="insurancePrice2"> 350€</span><br /><small>pro Jahr</small></th>
					<th class="col_premium"><small>ab</small><span class="insurancePrice3"> 350€</span><br /><small>pro Jahr</small></th>
				</tr>
            <tr class="notValidHoverButton">
                <td class="basix"><a class="btn btn-danger btn-huge basicHref" href="" id="">Jetzt<br>Basis-Tarif wählen</a></td>
                <td class="comfort"><a class="btn btn-danger btn-huge komfortHref" href="" id="">Jetzt<br>Komfort-Tarif wählen</a></td>
                <td class="premium"><a class="btn btn-danger btn-huge premiumHref" href="" id="">Jetzt<br>Premium-Tarif wählen</a></td>
            </tr>
            </table>
        </div>
    </div>
</div>
<style>
    label{
        float:left;
    }
    input[type=checkbox] {
        width: 24px;
        height: 24px;
    }
    input[type=checkbox] { position: relative; top: 0px; left: 0; -webkit-appearance: none;  -moz-appearance: none; border: 1px solid #cacece; border-radius: 0px; outline: none; padding: 9px; cursor: pointer; top: 4px; margin: 0 10px 0 0 !important; }
    input[type=checkbox]:checked { background: url("./assets/images/cross.svg") no-repeat center center; background-size: cover; outline: none; }
    .checkbox { margin: 20px 0 !important; }
    .checkbox label { position: relative; font-family: "Roboto-Medium"; padding: 5px 0 0 30px; text-align: left; width: 350px; }
</style>
<div id="confirmationOverlay">
    <div class="boxWrapper">
        <div class="contentBoxWrapper" style="width:50%; height:50%;">
            <div class="contentBox" style="text-align: left;">
                <h3>Sofortschutz Beitragsrechner</h3>
                <p id="modalMessageBody">
                <p>Für Ihre Fahrzeug bieten wir Ihnen mit unseren Tarifen BASIS, KOMFORT und PREMIUM den passenden Versicherungsschutz für Ihre Bedürfnisse.</p>
                <p><strong>Mit unserem Sofortschutz-Beitragsrechner</strong> können Sie jetzt in wenigen Schritten Ihren gewünschten Tarif für Ihren Oldtimer, Yountimer, Newtimer oder für Ihr Premium Car wählen, die Preise vergleichen und erhalten sofort Ihre eVB und ihren Versicherungsschein!</p>
                <p><strong>Unsere Tarife bieten:</strong>
                <ul class="page32Li">
                    <li><span>bessere und günstigere Konditionen als herkommliche Kft-Verischerungen</span></li>
                    <li><span>keine Schadensfreiheitsklassen, keine Hochstufung im Schadenfall</span></li>
                    <li><span>Marktwertsicherung Ihres Fahrzeugs und nicht nur Zeitwert</span></li>
                </ul></p>
                </p>
                <p class="team"></p>
                <button id="closeOverlay" class="btn btn-danger" style="margin-left:20%;">ok</button>
                <br />
                <label for="notShowAgain">
                    <input id="notShowAgain" type="checkbox" name="notShowAgain"/>
                    <b style="font-weight:normal;">Diese Information in Zukunft nicht mehr anzeigen</b>
                </label>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var innerLink = '';
function getHoverEffect(e) {

    // console.log( e.type );
    // console.log( innerLink );
    console.log( this );

    if ( e.type == 'mouseout' && innerLink != '' ) {
        this.classList.remove('hoverStyle');
        this.innerHTML = innerLink;
        innerLink = '';
    }


    if ( e.type == 'mouseover' && innerLink == '' ) {
        this.classList.add('hoverStyle');
        innerLink = this.innerHTML;
        this.innerHTML = "<p>Bitte geben Sie Ihre Fahrzeugdaten ein!</p>";
        this.style.color = '#000';
    }
}


(function() {
    'use strict';

    document.addEventListener("DOMContentLoaded", function(event) {
        let buttonBasic = document.querySelector('tr.notValidHoverButton td.basix'),
            buttonComfort = document.querySelector('tr.notValidHoverButton td.comfort'),
            buttonPremium = document.querySelector('tr.notValidHoverButton td.premium');

        buttonBasic.addEventListener("mouseover", getHoverEffect);
        buttonComfort.addEventListener("mouseover", getHoverEffect);
        buttonPremium.addEventListener("mouseover", getHoverEffect);
        buttonBasic.addEventListener("mouseout", getHoverEffect);
        buttonComfort.addEventListener("mouseout", getHoverEffect);
        buttonPremium.addEventListener("mouseout", getHoverEffect);

/*
*/
    });

}());

</script>

