<div id="insuranceJumbotron" class="jumbotron">
	<div class="row">
		<div class="content-wrapper">
			<h2 class="mobile">Ihr Sofortschutz-Beitragsrechner</h2>
			<div class="intro">
				<h2 class="monserratSemiBold desktop">Ihr Sofortschutz-Beitragsrechner</h2>
				<p>
					F&uuml;r Ihr Fahrzeug bieten wir Ihnen mit unseren Tarifen BASIS, KOMFORT und PREMIUM den passenden Versicherungsschutz für Ihre Bed&uuml;rfnisse.
				</p>
				<p>
					<strong>In der Tarif&uuml;bersicht sehen Sie bereits Beispielangebote f&uuml;r Ihr Fahrzeug:</strong>
				</p>
				<p id="customerCar"><strong></strong></p>
				<p id="changeCarHref">(<a href="#" data-js-action="toggle" id="toggle38CalcFirst2" ><span style="color:red;">Hier</span></a> Ihre Fahrzeugdaten ansehen oder &auml;ndern</span>)</p>
				<p>
					<strong>Mit unserem Sofortschutz-Beitragsrechner</strong> k&ouml;nnen Sie jetzt in wenigen Schritten Ihren gewünschten Tarif für Ihren Oldtimer, Youngtimer, Newtimer oder für Ihr Premium Car w&auml;hlen, die Preise vergleichen und erhalten sofort Ihre eVB und Ihren Versicherungsschein!
				</p>
				<p>
					<strong>Unsere Tarife bieten:</strong>
				</p>
				<ul>
					<li>bessere und g&uuml;nstigere Konditionen als herk&ouml;mmliche Kfz-Versicherungen</li>
					<li>keine Schadenfreiheitsklassen, keine Hochstufung im Schadenfall</li>
					<li>Marktwertversicherung Ihres Fahrzeugs und nicht nur Zeitwert</li>
				</ul>
				
				<p>
					<strong>Jetzt den gew&uuml;nschten Tarif w&auml;hlen und Ihren Versicherungsbeitrag berechnen lassen!</strong>
				</p>
				<div class="lastButtonDiv desktop hideByScreenSize" style="position: absolute; bottom:0;left:0; padding-right:6.8%;">
					<a href="#" id="toggle38CalcFirst" data-js-action="toggle" class="btn btn-danger btn-huge">Hier Ihre Fahrzeugdaten ansehen oder ändern</a>
				</div>
				
				<p class="headline mobile">Ihre Tarifangebote:</p>
			</div>

			<!-- <div class="carbox mobile">
				<strong>Beispiel-Tarife f&uuml;r:</strong>
				<strong><span class="_car"></span></strong>, Baujahr <span class="_carbau">, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug:
			</div> -->

			<div id="tarifeBoxWrapper" class="mobile">
				<div class="tarifbox basis basix center">
					<div class="panel-group" id="accordionBasis">
						<div class="panel panel-default">
							<p class="panel-title collapsed boxTextLine1" id="basixBoxMobile">Basis</p>
							<div class="toggle">
					            <ul class="baseli">

					            </ul>
	                            <p>
	                                <strong><span></span><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <p class="boxTextLine3"><span>ab&nbsp;</span><span class="insurancePrice1 insurancePrice"> </span></p>
	                <p class="boxTextLine3"><span>pro Jahr</span></p>
	                <p class="boxTextLine4"><a href="#" class="open-trigger">Details <span>&#8250;</span></a></p>
	                <p class="boxTextLineCenter"><a href="#" class="basicHref btn btn-danger btn-huge">Jetzt<br />Basis-Tarif w&auml;hlen!</a></p>
	            </div>

				<div class="tarifbox komfort comfort center">
					<div class="panel-group" id="accordionKomfort">
						<div class="panel panel-default">
							<p class="panel-title collapsed boxTextLine1" id="komfortBoxMobile">Komfort</p>
							<div class="toggle">
							    <ul class="comfortli">

							    </ul>
	                            <p>
	                                <strong><span></span><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <p class="boxTextLine3"><span>ab&nbsp;</span><span class="insurancePrice2 insurancePrice"> </span></p>
	                <p class="boxTextLine3"><span>pro Jahr</span></p>
	                <p class="boxTextLine4"><a href="#" class="open-trigger">Details <span>&#8250;</span></a></p>
	                <p class="boxTextLineCenter"><a href="#" class="komfortHref btn btn-danger btn-huge">Jetzt<br />Komfort-Tarif w&auml;hlen!</a></p>
	            </div>

				<div class="tarifbox premium center">
					<div class="panel-group" id="accordionPremium">
						<div class="panel panel-default">
							<p class="panel-title collapsed boxTextLine1">Premium</p>
							<div class="toggle">
	                            <ul class="premiumli">

	                            </ul>
	                            <p>
	                                <strong><span></span><span class="coRed">Beispiel-Tarif für Ihren <span class="_car"></span></span><br />Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug</strong>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <p class="boxTextLine3"><span>ab&nbsp;</span><span class="insurancePrice3 insurancePrice"> </span></p>
	                <p class="boxTextLine3"><span>pro Jahr</span></p>
	                <p class="boxTextLine4"><a href="#" class="open-trigger">Details <span>&#8250;</span></a></p>
	                <p class="boxTextLineCenter"><a href="#" class="premiumHref btn btn-danger btn-huge">Jetzt<br />Premium-Tarif w&auml;hlen!</a></p>
	            </div>

	            <p class="center">
					<a href="#" class="btn btn-danger btn-huge open-trigger-all" id="detailAll">Alle Tarife im Detail ansehen</a>
				</p>

				<p class="medium">
					Sie m&ouml;chten die Fahrzeugdaten &auml;ndern und die Tarife neu berechnen lassen? Kein Problem:
				</p>

				<p class="center">
					<a href="#" data-js-action="toggle" class="btn btn-danger btn-huge" id="toggle38CalcFirstMobile">Beitragsrechner neu starten</a>
				</p>
	        </div>


			<div class="calculator">
				<div style="min-height:100%;height:auto !important;height:100%;margin: 0 auto -5px;position:relative;">
					<form method="post" action="?article_id=32&amp;clang=1" class="rechnerForm">
						<div class="tarifShortTitle">
							Ihr Fahrzeug
						</div>
						<div class="form-group tarifgroup">
							<label for="sel1" class="tariflabel">Fahrzeugart</label>
							<select class="form-control tarifselect" id="sel1">
								<option></option>
							</select>
						</div>
						<div class="form-group tarifgroup" >
							<label for="sel2" class="tariflabel">Fahrzeugmarke</label>
							<select class="form-control tarifselect" id="sel2">
								<option></option>
							</select>
						</div>
						<div class="form-group tarifgroup">
							<label for="sel3" class="tariflabel">Baujahr</label>
							<select class="form-control tarifselect" id="sel3">
								<option></option>
							</select>
						</div>
						<div class="form-group tarifgroup">
							<label for="sel4" class="tariflabel">Fahrzeugtyp</label>
							<select class="form-control tarifselect" id="sel4">
								<option></option>
							</select>
						</div>
						<div class="form-group tarifgroup">
							<label for="sel5" class="tariflabel">Fahrzeug</label>
							<select class="form-control tarifselect" id="sel5">
								<option></option>
							</select>
						</div>
					</form>
				</div>
				<div style="position: absolute; bottom:0;left:0; width:93.3%; min-width:90%;">
					<!-- <a href="#" id="clearBackButton" class="btn btn-default" data-js-action="toggle" style="display:none;">zur&uuml;ck</a> -->
					<!-- <a href="#" id="clearButton" class="btn btn-default" data-js-action="clear" style="padding-top:28px;">Fahrzeug &auml;ndern</a> -->
					<button id="tarifBtn" class="btn btn-danger" style="display:none;">Jetzt Tarifbeispiele <br />neu berechnen lassen</button>
					<!-- <a href="#" style="padding:10px;" class="btn btn-danger" id="toggleButton" data-js-action="toggle" style="display:none;">Fahrzeugdaten best&auml;tigen<br />und zurück zu den Tarifen</a> -->
				</div>
			</div>

			<div class="result desktop">	
				<table>
					<tr>
						<th class="col_basis" id="basixBox">Basis</th>
						<th class="col_komfort" id="komfortBox">Komfort</th>
						<th class="col_premium">Premium</th>
					</tr>
					<tr>
						<td class="col_copy basix">
							<ul class="baseli">

							</ul>
					    </td>
					    <td class="col_copy comfort" >
					        <ul class="comfortli">

					        </ul>
					    </td>
					    <td class="col_copy premium" style="height:348px;" id="premiumtd">
					        <ul class="premiumli">

					        </ul>
					    </td>
					</tr>
					<tr>
						<td colspan="3" class="col_spanned" id="spannedRow">
							<strong>Beispiel-Tarife für Ihren <span class="_car"></span></strong><br />
							Baujahr <span class="_carbau"></span>, guter Zustand, Wert <span class="_carvalue"></span> Euro, kein Alltagsfahrzeug
						</td>
					</tr>
					<tr>
						<th class="col_basis"><small>ab </small><span class="insurancePrice1"> ---€</span><br /><small>pro Jahr</small></th>
						<th class="col_komfort"><small>ab </small><span class="insurancePrice2"> ---€</span><br /><small>pro Jahr</small></th>
						<th class="col_premium"><small>ab </small><span class="insurancePrice3"> ---€</span><br /><small>pro Jahr</small></th>
					</tr>
					<tr>
						<td class="basix" ><a class="btn btn-danger btn-huge basicHref" href="" style="border: none !important;" >Jetzt<br>Basis-Tarif w&auml;hlen</a></td>
						<td class="comfort"><a class="btn btn-danger btn-huge komfortHref" href="" style="border: none !important;" >Jetzt<br>Komfort-Tarif w&auml;hlen</a></td>
						<td class="premium"><a class="btn btn-danger btn-huge premiumHref" href="" style="border: none !important;" >Jetzt<br>Premium-Tarif w&auml;hlen</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="row footer">
		<a clas="link_home" style='font:normal 19px/23px "Roboto-Light"; float:right; padding:2% 2% 0 0;' href="?article_id=1&amp;clang=1&restart=1">zurück zur Homepage</a>
	</div>
</div>
<style>
	label{
		float:left;
	}
	input[type=checkbox] {
		width: 24px;
		height: 24px;
	}
	input[type=checkbox] { position: relative; top: 0px; left: 0; -webkit-appearance: none;  -moz-appearance: none; border: 1px solid #cacece; border-radius: 0px; outline: none; padding: 9px; cursor: pointer; top: 4px; margin: 0 10px 0 0 !important; }
	input[type=checkbox]:checked { background: url("./assets/images/cross.svg") no-repeat center center; background-size: cover; outline: none; }
	.checkbox { margin: 20px 0 !important; }
	.checkbox label { position: relative; font-family: "Roboto-Medium"; padding: 5px 0 0 30px; text-align: left; width: 350px; }
</style>
<div id="confirmationOverlay">
	<div class="boxWrapper">
		<div class="contentBoxWrapper" style="width:50%; height:50%;">
			<div class="contentBox" style="text-align: left;">
				<h3>Sofortschutz Beitragsrechner</h3>
				<p id="modalMessageBody">
					<p>Für Ihre Fahrzeug bieten wir Ihnen mit unseren Tarifen BASIS, KOMFORT und PREMIUM den passenden Versicherungsschutz für Ihre Bedürfnisse.</p>
					<p><strong>Mit unserem Sofortschutz-Beitragsrechner</strong> können Sie jetzt in wenigen Schritten Ihren gewünschten Tarif für Ihren Oldtimer, Yountimer, Newtimer oder für Ihr Premium Car wählen, die Preise vergleichen und erhalten sofort Ihre eVB und ihren Versicherungsschein!</p>
					<p><strong>Unsere Tarife bieten:</strong>
					<ul class="page32Li">
						<li><span>bessere und günstigere Konditionen als herkommliche Kft-Verischerungen</span></li>
						<li><span>keine Schadensfreiheitsklassen, keine Hochstufung im Schadenfall</span></li>
						<li><span>Marktwertsicherung Ihres Fahrzeugs und nicht nur Zeitwert</span></li>
					</ul></p>
				</p>
				<p class="team"></p>
				<button id="closeOverlay" class="btn btn-danger" style="margin-left:20%;">ok</button>
				<br />
				<label for="notShowAgain">
					<input id="notShowAgain" type="checkbox" name="notShowAgain"/>
					<b style="font-weight:normal;">Diese Information in Zukunft nicht mehr anzeigen</b>
				</label>
			</div>
		</div>
	</div>
</div>

<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1260810,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Beitragsrechner-Übersicht')
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=1260810&ADFPageName=Beitragsrechner-%C3%9Cbersicht&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->