<header id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" ></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>


    <div id="billboardSlider" class="carousel-inner">
        <div class="item active">
            <div class="image"></div>
            <div class="carousel-caption">
                <div class="priceCaption">
                    <div class="priceCaptionFirstLine">ab <span class="cheapPrice">383 €</span> pro Jahr</div>
                    <div class="priceCaptionSecondLine">Beispiel Premium-Tarif (KH+TK+VK+All Risk) für Ford Mustang Fastback,<br />
                        BJ 1965, Wert 43.300 €, Fahrer zwischen 25 und 75 Jahre</div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="image"></div>
            <div class="carousel-caption">
                <div class="priceCaption">
                    <div class="priceCaptionFirstLine">ab <span class="cheapPrice">237 €</span> pro Jahr</div>
                    <div class="priceCaptionSecondLine">Beispiel Premium-Tarif (KH+TK+VK+All Risk) für Opel Monza 3.0E (A2),<br />
                        BJ 1983, Wert 10.900 €, Fahrer zwischen 25 und 75 Jahre</div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="image"></div>
            <div class="carousel-caption">
                <div class="priceCaption">
                    <div class="priceCaptionFirstLine">ab <span class="cheapPrice">216 €</span> pro Jahr</div>
                    <div class="priceCaptionSecondLine">Beispiel Komfort-Tarif (KH+TK+VK) für VW Transporter T1,<br />
                        BJ 1961, Wert 29.800 €, Fahrer zwischen 35 und 75 Jahre</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="image"></div>
            <div class="carousel-caption">
                <div class="priceCaption">
                    <div class="priceCaptionFirstLine">ab <span class="cheapPrice">172 €</span> pro Jahr</div>
                    <div class="priceCaptionSecondLine">Beispiel Komfort-Tarif (KH+TK+VK) für DKW Junior de Luxe,<br />
                        BJ 1962, Wert 9.300 €, Fahrer zwischen 25 und 75 Jahre</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="image"></div>
            <div class="carousel-caption">
                <div class="priceCaption">
                    <div class="priceCaptionFirstLine">ab <span class="cheapPrice">119 €</span> pro Jahr</div>
                    <div class="priceCaptionSecondLine">Beispiel Basis-Tarif (KH+TK) für Volvo P 121,<br />
                        BJ 1965, Wert 13.300 €, Fahrer zwischen 25 und 75 Jahre</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="image"></div>
            <div class="carousel-caption">
                <div class="priceCaption">
                    <div class="priceCaptionFirstLine">ab <span class="cheapPrice">314 €</span> pro Jahr</div>
                    <div class="priceCaptionSecondLine">Beispiel Komfort-Tarif (KH+TK+VK) für Mercedes Benz 220 SEb Coupe (111),<br />
                        BJ 1963, Wert 50.000 €, Fahrer zwischen 35 und 75 Jahre</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="image"></div>
            <div class="carousel-caption">
                <div class="priceCaption">
                    <div class="priceCaptionFirstLine">ab <span class="cheapPrice">757 €</span> pro Jahr</div>
                    <div class="priceCaptionSecondLine">Beispiel Premium-Tarif (KH+TK+VK+All Risk) für Lamborghini Urraco P 300,<br />
                        BJ 1977, Wert 136.000 €, Fahrer zwischen 45 und 75 Jahre</div>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel-caption">
        <div class="titleCaption">
            <div><h2>Classic Cars einfach richtig gut versichert</h2></div>

        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<div id="contentBox2" class="jumbotron mobile">
    <div class="row">
        <strong>Jetzt einfach online abschließen &mdash; mit sofort-eVB und sofort-Versicherungsvertrag!</strong>
    </div>
</div>

<div id="contentBox3" class="tarifrechner">
    <div class="container">
        <div>
            <form method="post" action="?article_id=32&amp;clang=1">
                <div class="transBackgroudWhite">
                    <div class="tarifShortTitle">Ihr Sofortschutz-<br />Beitragsrechner</div>
                    <div class="form-group tarifgroup">
                        <label for="sel1" class="tariflabel">Fahrzeugart</label>
                        <select class="form-control tarifselect" id="sel1" name="fahrzeugart">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group tarifgroup">
                        <label for="sel2" class="tariflabel">Fahrzeugmarke</label>
                        <select class="form-control tarifselect" id="sel2" name="fahrzeugmarke">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group tarifgroup">
                        <label for="sel3" class="tariflabel">Baujahr</label>
                        <select class="form-control tarifselect" id="sel3" name="baujahr">

                        </select>
                    </div>
                    <div class="form-group tarifgroup">
                        <label for="sel4" class="tariflabel">Fahrzeugtyp</label>
                        <select class="form-control tarifselect" id="sel4" name="fahrzeugtyp">
                            <option></option>

                        </select>
                    </div>
                    <div class="form-group tarifgroup">
                        <label for="sel5" class="tariflabel">Fahrzeug</label>
                        <select class="form-control tarifselect" id="sel5" name="fahrzeug">
                            <option></option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button id="tarifBtn" class="btn btn-danger" >weiter und sofort<br/>
                            Angebot erhalten</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div id="contentBox4" class="jumbotron firstJumbo">
    <div class="row h3">
        <strong>CARISMA –</strong><br />
        <strong>Der Spezialist für Ihre Classic-Car-Versicherung!</strong>
    </div>
    <div class="row">
        <ul class="firstJumboUL">
            <li class="firstJumboUlli">
                <img src='assets/images/tick_red.svg' width="32"/><strong>Neu:</strong> Einfach direkt online versichern und direkt losfahren!
            </li>
            <li class="firstJumboUlli">
                <img src='assets/images/tick_red.svg' width="32"/><strong>Schnell:</strong> Antrag auf Versicherung und eVB-Nummer sofort erhalten
            </li>
            <li class="firstJumboUlli">
                <img src='assets/images/tick_red.svg' width="32"/><strong>Attraktiv:</strong> Die maßgeschneiderte Versicherung für Ihr klassiches Fahrzeug
            </li>
            <li class="firstJumboUlli">
                <img src='assets/images/tick_red.svg' width="32"/><strong>Sicher:</strong> Sofortschutz für klassische Automobile, Motorräder und Traktoren
            </li>
        </ul>
    </div>
    <div class="row">
        <span class="bold-text" >In wenigen Schritten zum Classic-Car-Versicherungsschutz – einfach online!</span>
    </div>

    <div id="tarifRechnerSteps" class="jumbotron firstJumbo">
        <div class="row">
            <div class="overlay-images">
                <figure><img src="assets/images/steps.png" alt="Sofort-Schutz Beitragsrechner starten - SOFORT die eVB erhalten - SOFORT Versicherungsschein erhalten - SOFORT versichert sein!" /></figure>
                <div class="image-overlay text1">
                    <div class="table"><div class="tableCell"><p><b>Starten Sie unseren<br/>CARISMA Beitragsrechner</b> und melden Sie Ihr Liebhaberfahrzeug schon heute an! Schneller geht’s nicht.</p></div></div>
                </div><div class="image-overlay text2">
                    <div class="table"><div class="tableCell"><p><b>Mit unserem Online-Beitragsrechner</b> erhalten Sie mit wenigen Klicks Ihren Wunschtarif</p></div></div>
                </div><div class="image-overlay text3">
                    <div class="table"><div class="tableCell"><p><b>Bei CARISMA</b> erhalten Sie Online und sofort Ihren maßgeschneiderten Antrag auf Versicherungsschutz mit eVB.</p></div></div>
                </div><div class="image-overlay text4">
                    <div class="table"><div class="tableCell"><p><b>So versichert man sein Fahrzeug heute:</b> schnell, unkompliziert, günstig und mit Sofortschutz für Ihr Classic Car.</p></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row marginTopZiro marginBottomZiro">
        <div style="position: relative;">
            <img src="assets/images/steps_mobile.svg" alt="Sofort-Schutz Beitragsrechner starten - SOFORT die eVB erhalten - SOFORT Versicherungsschein erhalten - SOFORT versichert sein!" class="mobile" />
        </div>
    </div>

    <div class="row marginTopZiro">
        <div class="text-center">
            <a role="button" class="btn btn-danger btn-huge" href="?article_id=38&amp;clang=1" >Jetzt Beitragsrechner starten!</a>
        </div>
    </div>
</div>

<a id="versicherungsleistungen" name="versicherungsleistungen"></a>
<div id="contentBox5">
    <div class="header">
        <div class="center">
            <strong>Unsere<br class="mobile" /> Versicherungsleistungen</strong>
        </div>
    </div>

    <div class="center">
        <ul>
            <li>Günstiger als eine herkömmliche Kfz-Versicherung!</li>
            <li>Wir versichern den Marktwert Ihres Fahrzeugs!</li>
            <li>Sofortschutz für Classic Cars!</li>
        </ul>
    </div>

    <div class="center">
        <p>
            <strong>Das Beste vorweg:</strong>
            Gegenüber einer herkömmlichen Kfz-Versicherung bietet Ihnen CARISMA deutlich günstigere Beiträge für Ihre Oldtimer-, Youngtimer-, Newtimer und Premium-Car-Versicherung.
			Der Grund dafür ist einfach: Die meisten Liebhaberfahrzeuge werden seltener und mit deutlich mehr Bedacht gefahren, als Alltagsfahrzeuge. Weil dadurch weniger Schäden entstehen, können wir Ihnen bessere Tarife anbieten. Ein weiterer Vorteil für Sie: Wir versichern den Marktwert/Wiederbeschaffungswert und auf Wunsch auch den Wiederherstellungswert Ihres klassischen Fahrzeugs und nicht nur den herkömmlichen Listenwert („Schwacke-/DAT-Wert“).
        </p>
    </div>

    <div class="center">
        <p>
            <strong>Wussten Sie schon?</strong>
            Bereits nach 15 Jahren ab Erstzulassung kann Ihr Fahrzeug als Youngtimer gelten und bei uns günstig versichert werden. Die wichtigsten Voraussetzungen dafür sind, dass Ihr Fahrzeug in einem guten Zustand ist und Sie es nicht als Alltagsfahrzeug nutzen. Testen Sie in diesem Fall noch heute und ganz unverbindlich unseren Beitragsrechner und erfahren Sie sofort, wie viel Geld Sie pro Jahr sparen können!
        </p>
    </div>

    <div class="footer">
        <a role="button" class="btn btn-danger btn-huge" href="?article_id=2&amp;clang=1">zu unseren Versicherungsleistungen</a>
    </div>
</div>

<div id="contentBox6" class="jumbotron secondJumbo">
    <div class="row h3">
        <strong>Jetzt CARISMA Sofortschutz-Beitragsrechner starten!</strong>
    </div>
    <div class="row">
        <div class="text-center">
            <a role="button" class="btn btn-danger btn-huge" href="?article_id=38&amp;clang=1" >zum Beitragsrechner</a>
        </div>
    </div>
</div>

<a id="classicCarStories" name="classicCarStories"></a>

<div id="contentBox7" class="jumbotron thirdImage">
    <div class="row">
        <strong class="h3">Classic Car Stories</strong>

        <p>
            Infos, Filme und Stories<br />
            über Liebhaberfahrzeuge –<br />
            und Menschen, die sie lieben.
        </p>
    </div>

    <div class="row">
        <div class="text-center">
            <a role="button" class="btn btn-danger btn-huge" href="?article_id=5&amp;clang=1" >mehr erfahren</a>
        </div>
    </div>
</div>


<a id="derNeueVersicherungsschutz" name="derNeueVersicherungsschutz"></a>
<div id="contentBox8" class="jumbotron thirdJumbo">
    <div class="row h3">
        <strong>
            CARISMA – der neue Versicherungsschutz für<br />
            Ihr Classic Car – mit eVB und Versicherungsvertrag<br />
            einfach und sofort online!
        </strong>
    </div>

    <div class="row">
        <ul class="thirdJumboUL">
            <li class="thirdJumboUlli">
                <span><strong>CARISMA:</strong> <br class="mobile">Wer sind wir?</span>
            </li>
            <li class="thirdJumboUlli">
                <span><strong>Die Idee:</strong> <br class="mobile">Warum eine neue Classic-Car-Versicherung?</span>
            </li>
            <li class="thirdJumboUlli">
                <span><strong>Die Vorteile:</strong> <br class="mobile">Einfach schnell und gut versichert sein!</span>
            </li>
            <li class="thirdJumboUlli">
                <span><strong>Das Versprechen:</strong> <br class="mobile">Der Sofortschutz für Ihr Liebhaberstück!</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="text-center">
            <a role="button" class="btn btn-danger btn-huge" href="?article_id=33&amp;clang=1">mehr erfahren</a>
            <a role="button" class="btn btn-danger btn-huge" href="?article_id=38&amp;clang=1" >direkt zum Beitragsrechner</a>
        </div>
    </div>
</div>



<a id="termine-orte-services" name="termine-orte-services"></a>
<div id="contentBox9" class="jumbotron fourthImage">
    <figure><img src="assets/images/startseite/800x800/termine-orte-services.jpg" width="100%" height="auto" /></figure>
    <div class="row">
        <strong>Termine, Orte und Services</strong>
        <ul class="fourthJumboUL">
            <li class="fourthJumboUlli"><span>Youngtimer- und Oldtimer-Treffen</span></li>
            <li class="fourthJumboUlli"><span>Rallyes + Rennen</span></li>
            <li class="fourthJumboUlli"><span>Messen</span></li>
            <li class="fourthJumboUlli"><span>Ausstellungen</span></li>
            <li class="fourthJumboUlli"><span>Museen</span></li>
        </ul>
    </div>
    <div class="row">
        <div class="text-center">
            <a role="button" class="btn btn-danger btn-huge" href="?article_id=4&amp;clang=1#eventRow">mehr erfahren</a>
        </div>
    </div>
</div>


<a id="FAQ" name="FAQ"></a>
<div id="contentBox10" class="jumbotron fourthJumbo">
    <div class="row marginBottomZiro">
        <strong>FAQ – alle Fragen und Antworten rund um Liebhaberfahrzeuge und den CARISMA Versicherungsschutz.</strong>
    </div>

    <div class="row">
        <div class="text-center">
            <a role="button" class="btn btn-danger btn-huge" href="?article_id=3&amp;clang=1" >mehr erfahren</a>
        </div>
    </div>
</div>


<div id="confirmationOverlay">
    <div class="boxWrapper">
        <div class="contentBoxWrapper">
            <div class="contentBox">
                <h3>Vielen Dank!</h3>
                <p id="modalMessageBody">

                </p>
                <p class="team">Ihr CARISMA Support-Team</p>
                <button id="closeOverlay" class="btn btn-danger">ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
    window._adftrack.push({
        pm: 1260810,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Startseite_Carisma')
    });
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=1260810&ADFPageName=Startseite_Carisma&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
