#myCarousel { width: 100%; height: auto; background-position: center 0; }
#myCarousel .item,
#myCarousel .item.active,
#myCarousel .carousel-inner { height: 100%; }
#myCarousel .carousel-inner { position: relative; }
#myCarousel .fill { width: 100%; height: 100%; background-position: center; background-size: cover; }

#myCarousel .carousel-indicators{ display: none; }
#myCarousel .carousel-caption { text-align: left; box-sizing: border-box; top: 0; right: 0; left: 0; bottom: auto; margin: 0 auto; max-width: 1600px; padding: 20px 420px 30px 9.5%; height: 100%; text-shadow: 0 1px 30px rgba(0, 0, 0, .2); }
#myCarousel .carousel-control{ width: 5%; z-index: 16; }
#myCarousel .carousel-control .icon-prev:before{ content: url('../images/slide_arrow.svg'); }
#myCarousel .carousel-control .icon-next:before{ content: url('../images/slide_arrow.svg'); display: block; transform: rotate(180deg); }
#myCarousel .carousel-control.left { background-image: none; }
#myCarousel .carousel-control.right{  background-image: none; }

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img { display: block; width: 100%; height: auto; }

.transBackgroudWhite { width: 250px; background: rgba(203,209,214,0.7); padding:18px 0 0; }
.transBackgroudWhite > div{ margin: 0 20px 0px; }
.transBackgroudWhite > div:last-child { padding-bottom: 15px; padding-top: 15px; }
.transBackgroudWhite > div:last-child a { width: 210px; border-radius: 0px; font: normal 14px/18px "Roboto-Medium"; }
/*.tarifShortTitle{ padding-top: 10px; }*/

#myCarousel .titleCaption h2 { font: normal 42px/1.1 "Monserrat-SemiBold"; }
#myCarousel .titleCaption div { font: normal 20px/1.1 "Roboto-Bold"; }
#myCarousel .priceCaption { width: 800px; position: absolute; bottom: 65px; }
#myCarousel .priceCaptionFirstLine { font: normal 32px/36px "Monserrat-SemiBold"; }
#myCarousel .priceCaptionFirstLine span { font: normal 58px/68px "Monserrat-SemiBold"; }
#myCarousel .priceCaptionSecondLine { font: normal 18px/22px "Roboto-Bold"; }

#myCarousel .item .image { height: 800px; background-position: center center; }
#myCarousel .item:nth-child(1) .image { background-image: url("../images/slider/2200x800/001.jpg"); }
#myCarousel .item:nth-child(2) .image { background-image: url("../images/slider/2200x800/002.jpg"); }
#myCarousel .item:nth-child(3) .image { background-image: url("../images/slider/2200x800/009.jpg"); }
#myCarousel .item:nth-child(4) .image { background-image: url("../images/slider/2200x800/0041.jpg"); }
#myCarousel .item:nth-child(5) .image { background-image: url("../images/slider/2200x800/012.jpg"); }
#myCarousel .item:nth-child(6) .image { background-image: url("../images/slider/2200x800/011.jpg"); }
#myCarousel .item:nth-child(7) .image { background-image: url("../images/slider/2200x800/007.jpg"); }

#contentBox3 #tarifBtn { display: inline-block; width: 100%; opacity: 1; }

.tarifrechner { position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; width: 100%; z-index: 15; }
.tarifrechner > div.container { padding: 0 5.5% 0 9.5%; }
.tarifrechner > div.container > div { position: relative; float: right; margin: 0 40px 0 0; }

.headlineBreak { display: none; }
@media (min-width: 2199px){
	#myCarousel .item .image { height: 800px; background-position: center center; background-size: cover;}
}


@media  (max-width: 1399px){
    #myCarousel .item .image { height: auto; padding-bottom: 50%; background-size: cover;}
    #myCarousel .item:nth-child(1) .image { background-image: url("../images/slider/1600x800/001.jpg"); }
    #myCarousel .item:nth-child(2) .image { background-image: url("../images/slider/1600x800/002.jpg"); }
    #myCarousel .item:nth-child(3) .image { background-image: url("../images/slider/1600x800/009.jpg"); }
    #myCarousel .item:nth-child(4) .image { background-image: url("../images/slider/1600x800/0041.jpg"); }
    #myCarousel .item:nth-child(5) .image { background-image: url("../images/slider/1600x800/012.jpg"); }
    #myCarousel .item:nth-child(6) .image { background-image: url("../images/slider/1600x800/011.jpg"); }
    #myCarousel .item:nth-child(7) .image { background-image: url("../images/slider/1600x800/007.jpg"); }
}

@media  (max-width: 1150px){
    .transBackgroudWhite .tariflabel { display: block; font: normal 11px/24px "Roboto-Regular"; }
    .transBackgroudWhite > div:last-child { padding: 10px 0; }
    .transBackgroudWhite .form-control { height: auto !important; }
}

/*
    .tarifrechner { border: 5px solid blue; }
    .tarifrechner > div.container { border: 5px solid red; }
    .tarifrechner > div.container > div { border: 5px solid black; }
*/
@media only screen and (min-width: 769px) and (max-width: 990px) {
    .tarifrechner > div.container > div { margin-right: 0; }
    .transBackgroudWhite { width: 194px; }
    .transBackgroudWhite .form-control { width: 100%; height: 20px !important; font-size:9px; padding-bottom:0px; padding-top:0px; }
    .tariflabel { padding: 0 !important; line-height: 1.2 !important; }
    .tarifShortTitle { font: normal 18px/1.2 "Monserrat-SemiBold" !important; }
    #myCarousel .carousel-caption { box-sizing: initial; width: 61% !important; height: 88% !important; }
    #myCarousel .priceCaption { width: 800px; position: absolute; bottom: 40px; }
}

@media  (max-width: 768px){
    #myCarousel .carousel-caption { box-sizing: inherit; width: auto !important; height: 100% !important; }
    #myCarousel .carousel-control .icon-prev,
    #myCarousel .carousel-control .icon-next { margin: 0 5px; }
    #myCarousel { width: 100%; background: none !important; }
    #myCarousel h2 { font: normal 7.9vw/1.2 "Monserrat-SemiBold" !important; float: none; margin: 0; }
    #myCarousel .titleCaption { max-width: 100%; }
    #myCarousel .titleCaption div:nth-of-type(1) { padding: 35px 6%; }
    #myCarousel .titleCaption div:nth-of-type(2) { display: none; }
    #myCarousel .priceCaptionFirstLine { font: normal 5.57vw/1.5 "Monserrat-SemiBold" !important; white-space: normal; }
    #myCarousel .priceCaptionFirstLine .cheapPrice { font: normal 10.31vw/1.5 "Monserrat-SemiBold" !important; }
    #myCarousel .priceCaptionSecondLine { font: normal 3.49vw/1.2 "Roboto-Bold" !important; white-space: normal; }
    #myCarousel .carousel-caption { padding: 0 0; }
    #myCarousel .priceCaption { padding: 30px 6%; bottom: 0; max-width: 100%; }
    #myCarousel .item,
    #myCarousel .item.active,
    #myCarousel .carousel-inner { height: auto; }
    #myCarousel .item .image { height: auto; padding-bottom: 100%; background-size: cover; }
    #myCarousel .item:nth-child(1) .image { background-image: url("../images/slider/800x800/001.jpg"); }
    #myCarousel .item:nth-child(2) .image { background-image: url("../images/slider/800x800/002.jpg"); }
    #myCarousel .item:nth-child(3) .image { background-image: url("../images/slider/800x800/009.jpg"); }
    #myCarousel .item:nth-child(4) .image { background-image: url("../images/slider/800x800/0041.jpg"); }
    #myCarousel .item:nth-child(5) .image { background-image: url("../images/slider/800x800/012.jpg"); }
    #myCarousel .item:nth-child(6) .image { background-image: url("../images/slider/800x800/011.jpg"); }
    #myCarousel .item:nth-child(7) .image { background-image: url("../images/slider/800x800/007.jpg"); }

    .tarifrechner > div.container { position: static; padding: 0; }
    .tarifrechner > div.container > div { float: none; }
    .transBackgroudWhite { width: 100% !important; background-color: rgb(203,209,214); }
    .tarifselect { width: 100% !important; }

    #contentBox2 { padding: 30px 6%; display: block; }
    #contentBox2 .row { padding: 0; }
    #contentBox2 strong { display: inline-block; font: normal 34px/1.5 "Roboto-Bold" !important; font-size: 4.04vw !important; }

    .headlineBreak { display: none; }
    .tarifrechner > div.container { position: static; padding: 0; }
    .tarifrechner > div.container > div { float: none; width: 100%;}
    .transBackgroudWhite { width: 100% !important; background-color: rgb(203,209,214); }
    .tarifselect { width: 100% !important; }

    #contentBox2 { padding: 15px 6%; display: block; }
    #contentBox2 .row { padding: 0; }
    #contentBox2 strong { display: inline-block; font: normal 34px/1.5 "Roboto-Bold" !important; font-size: 4.04vw !important; }

    #contentBox3 { padding: 25px 6% 20px; background-color: rgb(203,209,214); }
    #contentBox3 > div { right: 0 !important; }
    #contentBox3 .transBackgroudWhite { padding: 0; }
    #contentBox3 .transBackgroudWhite > div { padding: 0; margin-left: 0; margin-right: 0; }
    #contentBox3 .tarifShortTitle { font: normal 44px/1.2 "Monserrat-SemiBold" !important; font-size: 5.27vw !important; margin-bottom: 15px; white-space: nowrap; }
    #contentBox3 .tarifShortTitle br { display: none; }
    #contentBox3 .tariflabel { font: normal 35px/1.5 "Roboto-Light"; font-size: 4.22vw; }
    #contentBox3 .form-control { font: normal 35px/1.5 "Roboto-Medium"; height: auto; font-size: 3.22vw; }
    #contentBox3 a { margin: 15px 0; }
    #contentBox3 form { margin: 0; }
    #contentBox3.tarifrechner { position: relative; float: none; margin-right: 0; width: 100%; }
    #contentBox3 .btn br { display: none; }
    #contentBox3 #tarifBtn { margin-top: 20px !important; }
}
