@import 'component_carousel.css';
/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/********************************* font declarations */

@font-face { font-family: 'Monserrat-Medium'; src: url('../fonts/Montserrat-Medium.ttf') format('truetype'); }
@font-face { font-family: 'Monserrat-SemiBold'; src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype'); }
@font-face { font-family: 'Roboto-Bold'; src: url('../fonts/Roboto-Bold.ttf') format('truetype'); }
@font-face { font-family: 'Roboto-Light'; src: url('../fonts/Roboto-Light.ttf') format('truetype'); }
@font-face { font-family: 'Roboto-Medium'; src: url('../fonts/Roboto-Medium.ttf') format('truetype'); }
@font-face { font-family: 'Roboto-Regular'; src: url('../fonts/Roboto-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Roboto-BoldItalic'; src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype'); }

body { font: normal 27px/35px "Roboto-Light"; }

*, *:after, *:before { box-sizing: border-box; }

.link_home { padding: 2% 0 0 0; color: black; float: right; }

.link_back { float: left; padding: 2% 0 0 0; color: black; float: right; }

/* general */
.mobile,
.mobile-inline { display: none; }
.desktop { display: block; }
.desktop-inline { display: inline-block; }
.btn-huge { font: normal 23px/30px "Roboto-Medium"; }
.jumbotron > .row > strong { font: normal 42px/51px "Monserrat-SemiBold"; }
.jumbotron p { font: normal 30px/38px "Roboto-Light"; }
.nav-tabs > li > a { font: normal 32px/40px "Roboto-Medium"; }

h2.monserratSemiBold { font-family: "Monserrat-SemiBold"; }

.mt { font: normal 30px/40px "Roboto-Light"; }
.mt h2 { font: normal 42px/64px "Monserrat-SemiBold"; }
.mt ul { list-style: none; padding: 0; margin: 0; }
.mt a { color: #ac2925; position: relative;}
.mt a > span {
    background-image: -webkit-linear-gradient(to right, #ac2925 0%, #ac2925 100%);
    background-image: linear-gradient(to right, #ac2925 0%, #ac2925 100%);
    background-repeat: repeat-x;
    background-position: 0 85%;
    background-size: 100% 1px;
    font: inherit !important;
}
.mt a:hover { color: #ac2925; text-decoration: none;}

.mt p { margin: 30px 0; font: normal 30px/44px "Roboto-Light"; }
.mt strong { font-family: "Roboto-Medium"; }


/* homepage */
.firstJumbo strong { font: normal 46px/56px "Monserrat-SemiBold"; }
.firstJumbo .firstJumboUlli { font: normal 33px/41px "Roboto-Light"; }
.firstJumbo .firstJumboUlli strong { font: normal 33px/41px "Roboto-Medium"; }
.firstJumbo .bold-text { font: normal 33px/41px "Roboto-Medium"; }
.secondImage .headline { font: normal 42px/51px "Monserrat-SemiBold" }
.thirdJumbo .thirdJumboUlli { font: normal 42px/70px "Roboto-Light"; }
.thirdJumbo .thirdJumboUlli strong { font: normal 42px/70px "Roboto-Bold"; }
.fourthImage .fourthJumboUlli { font: normal 43px/73px "Roboto-Medium"; }
.fifthImage .fifthJumbuULLI { font: normal 37px/42px "Roboto-Medium"; }


/********************************* components */

/* tabs */
.nav-tabs{ border-bottom: none; }
.nav-tabs > li { display: inline-block; float: none; margin: 0; }
.nav-tabs > li > a { color: #000; border: 0 !important; padding: 25px 30px 25px 0px; }
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a { color: #CD1719; border: 0 !important; background: none; }


/********************************* page specific */

#contentBox5 .center { max-width: 1600px; padding: 0 9.5%; margin: 0 auto; }
#contentBox5 .header { position: relative; background: url(../images/startseite/1600x800/versicherungsleistungen.jpg) no-repeat center 60%; background-size: cover; }
#contentBox5 .header .center { padding: 6% 9.5% 39%; font: normal 46px/1.5 "Monserrat-SemiBold"; }
#contentBox5 ul { margin: 50px 0; padding: 0; list-style: none; }
#contentBox5 li { background: url(../images/tick_black.svg) no-repeat 0 3px; background-size: 50px; padding: 10px 0 10px 80px; font: normal 40px/50px "Monserrat-Medium"; }
#contentBox5 p { margin: 30px 0; }
#contentBox5 p strong { font-family: "Roboto-Medium"; }
#contentBox5 .footer { text-align: center; margin: 50px 0 70px; }

/* downloads */
.module-wrapper { margin: 0 auto; max-width: 1600px; padding: 0 9.5%; }
.module-wrapper .container { padding: 0; }

/* versicherungsleistungen */
.secondImageInsurance p { font: normal 23px/30px "Roboto-Regular"; }
.panel-title { font: normal 42px/42px "Monserrat-Medium"; }
.panel-body { font: normal 30px/40px "Roboto-Light"; }

/* events */
.events.jumbotron { padding: 0; }
.events hr { border-top: 3px solid #BDBEC1; margin: 0; }
.eventItem { margin: 35px 0; font: normal 31px/38px "Roboto-Light"; }
.eventItemDate { font: normal 31px/38px "Roboto-Bold"; }
.eventItemSize { font: normal 31px/38px "Roboto-Regular"; }
.eventItemPlace { font: normal 31px/38px "Roboto-Regular"; }
.eventItemTitle { font: normal 31px/38px "Roboto-Bold"; color: #CD1719; }
.eventItemUrl a { color: #9ca5ae; font: normal 31px/38px "Roboto-Regular" }
article.mtb .insurancepanelbody p strong { font-family: "Roboto-Medium"; }


/* Ãœber uns */
#ueberUns .row > img { margin: 80px 0; }
#ueberUns .mt ul { list-style: disc outside; padding: 0 0 0 1em; }



html,
body {
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.module-wrapper.clearfix{
    margin-top:30px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.container{
    width: 100% !important;
    max-width: 1600px;
}

.btn-danger {
    background-color: #C91F25;
    border: 0;
    color: #fff;
}
.btn-danger:hover {
    background-color: #d00;
}
.btn-default {
    background-color: #6F8BB4;
    border: 0;
    color: #fff;
}
.btn-default:hover {
    background-color: #88ADC2;
    color: #fff;
}

/* Navigation */
.navbar-right { margin-top: 15px; padding: 10px 0 0 0; }
.navbar-right li:last-child { margin: 6px 0 0 30px; }
.navbar-nav > li > a { padding: 24px 25px 6px; font-family: "Roboto-Medium"; font-weight: normal; }
.navbar-brand { height: auto; }
.navbar-brand > img { width: 340px; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE11 scaling bug */
    .navbar-brand > img {
        width: 100%;
    }
}
.navbar-default { background-color: #ffffff; border: none; margin: 0; padding: 0; }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { font-size: 18px; color: #000; font-weight:bold; margin-bottom: 5px; }
.navbar-default .navbar-nav > li > a { color: #000; }
.navbar .container { padding: 20px 5.5% 7px 9.5%; }
.mainNavBar { box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3); z-index: 20; position: relative; }
.navbar > .container .navbar-brand { padding: 0; margin: 0; }

#burger-menu-icon { position: relative; width: 38px; height: 34px; margin-top: 6px; cursor: pointer; opacity: 1; }
#burger-menu-icon-close { position: absolute; top: 30px; right: 30px; width: 42px; height: 34px; cursor: pointer; }
#burger-menu-icon span,
#burger-menu-icon-close span { position: absolute; left: 0; top: 0; width: 100%; height: 6px; display: block; background: #000; text-shadow: none; }
#burger-menu-icon span.nth-child-2 { top: 12px; }
#burger-menu-icon span.nth-child-3 { top: 24px; }
#burger-menu-icon-close span.nth-child-1 { transform: rotate(45deg); }
#burger-menu-icon-close span.nth-child-2 { transform: rotate(-45deg); }

#navigationOverlay { position: fixed; top: 0; right: 0; width: 100%; max-width: 500px; height: 100%; padding: 70px 35px 0; display: none; opacity: 0; overflow: auto; background-color: #fff;  z-index: 40; transition: display .35s ease-out; }
#navigationOverlay ul, #navigationOverlay li { float: none; }
#navigationOverlay hr { margin: 10px 0; height: 1px; border: none; border-top: 1px solid #e2e1e0; background-color: #353434; }
#navigationOverlay.open { animation: fadeslowin .5s; display: block; opacity: 1; }
@keyframes fadeslowin {from { opacity: 0; } to { opacity: 1; }}

#navigationOverlay.close { animation: fadeslowout .3s; display: block; }
@keyframes fadeslowout {from { opacity: 1; } to { opacity: 0; }}

#navigationOverlay a { padding: 0; margin: 10px 0; font: normal 18px/20px "Roboto-Medium"; }

#navigationMask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 30; background: rgba(128,128,140,.5); }
#navigationMask.open { animation: fadeslowin .5s; display: block; opacity: 1; }


.mtb{
    color: #000;
    position:relative;
    top: -6px;
    padding: 0;
    line-height: 1.4 !important;
}
.jumbotron {
    margin: 0px auto;
    background-color: #FFFFFF;
    color: #000;
}

.tarifselect {
    background-image: url("../images/dropdown_arrow.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 20px;
    background-color: #fff;
    border-radius: 0;
    width: 210px;
}

.row .navigation a:hover, .row .navigation a:focus { text-decoration: none; }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    -o-text-overflow: '';
    text-overflow: '';
}
select.styled-select::-ms-expand {
    display: none;
}
select.styled-select {
    background-size: 24px 24px;
}
select.styled-select, .form-control {
    height: auto !important;
}

.form-group.tarifgroup{
    margin-bottom: 0px;
}
.tariflabel{
	display: block;
    margin-bottom: 0px;
}
.form-control{
	border-radius:0px;
}

.form-control .tarifselect{
    margin-bottom: 0px;
    padding: 3px 5px;
    border-radius: 0;
    height: 25px;
}

.tarifShortTitle { font: normal 24px/24px "Monserrat-SemiBold"; }
.tariflabel { font: normal 14px/24px "Roboto-Regular"; }

.jumbotron > div {
    max-width: 1600px;
    padding: 0 9.5%;
    margin: 0 auto;
}

.firstJumbo {
    padding: 0;
}

.hoverMask{
    display:none;
}

.hoverMask:hover{
    display: inline-block;
}

.firstJumbo .row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.secondJumbo {

}
.secondJumbo .row {
    margin-top: 60px;
    margin-bottom: 70px;
}

.thirdJumbo {
    padding: 0;
}
.thirdJumbo .row {
    margin-top: 65px;
    margin-bottom: 75px;
}

.thirdJumbo .btn-huge{
    margin-left: 25px;
}
.fourthJumbo {
    padding: 0;
}
.fourthJumbo .row {
    margin-top: 50px;
    margin-bottom: 90px;
}

.circle-text-process {
    width: 100%;
    padding: 10px;
    float: left;
    min-height: 200px;
    background: url(../images/contract_step.svg);
    background-size: auto;
    background-repeat: no-repeat;
    font-size: 1vw;
}

.circle-add-text {
    font-size: 20px;
}

.circle-innerText {
    width: 150px;
    margin-top: 45px;
    margin-left: 12px;
}

.circle-innerTextEnd {
    width: 100px;
    margin-top: 55px;
    margin-left: 50px;
}

.circle-text-end {
    width: 100%;
    min-height: 200px;
    float: left;
    background: url(../images/contract_result.svg);
    background-size: auto;
    background-repeat: no-repeat;
    font-size: 20px;

}

.btn {
    border-radius: 0;
}
.btn-huge {
    background-color: #CD1719;
    border-color: #CD1719;
    padding: 30px 50px;
    min-width: 470px;
    margin: 0 15px;
}

.btn-huge:hover{
    background-color: #CD1719;
    border-color: #CD1719;
}

.secondImageInsurance{
    width: 100%;
    height: 500px;
    background: url('../images/buehne/1600x800/versicherungsleistungen.jpg');
    background-position: center 0;
    background-size: cover;
    font-size: 32px;
}
.secondImageInsurance p {
    margin: 30px 0;
}

.ImageFAQ{
    width: 100%;
    height: 500px;
    background: url('../images/buehne/1600x800/faq.jpg');
    background-position: center 0;
    background-size: cover;
    font-size: 32px;
}

.thirdImageStories{
    width: 100%;
    height: 625px;
    background: url('../images/buehne/1600x800/stories.jpg');
    background-position: center 0;
    background-size: cover;
    font-size: 32px;
    color: #fff;
}

.thirdImageStories strong {
    display: block;
    margin: 70px 0 30px 0;
}

.thirdImageStoriesSub1{
    width: 100%;
    height: 568px;
    background: url('../images/buehne/1600x800/stories-youngtimer.jpg');
    background-position: center 0;
    background-size: cover;
    font-size: 32px;
    color: #fff;
}

.thirdImageStoriesSub2{
    width: 100%;
    height: 568px;
    background: url('../images/buehne/1600x800/stories-wertanlage.jpg');
    background-position: center 0;
    background-size: cover;
    font-size: 32px;
    color: #fff;
}
.thirdImageStoriesSub2 > .row {
    position: relative;
    height: 100%;
}
.thirdImageStoriesSub2 > .row strong {
    position: absolute;
    bottom: 0;
}
.thirdImage {
    color: #fff;
    width: 100%;
    background: url('../images/startseite/1600x800/classic-stories.jpg');
    background-position: center 0;
    background-size: cover;
}

.thirdImage .row p {
    margin: 25px 0 100px;
    font: normal 30px/40px "Roboto-Regular";
}

.fourthImage {
    width: 100%;
    height: 790px;
    background: url('../images/buehne/1600x800/termine-orte-services.jpg');
    background-position: top right;
    background-size: cover;
    color: #fff;
}

.fourthImage .row{

    margin-top: 5%;
}

.fourthImage .row ul{
    margin-top: 25px;
}

.fifthImage {
    position: relative;
    height: 1200px;
    background: url('../images/1600x800/footer.jpg');
    background-position: center 0;
    background-size: cover;
}

.firstJumboUL {
    margin: 0 auto;
    list-style-image: none;
    list-style-type: none;
    padding: 0;
}

.firstJumboUlli {
    list-style-image: none;
    margin: 10px 0;
}

.firstJumboUlli > img {
    margin-right: 15px;
    vertical-align: text-top;
}

.secondJumbo {
    overflow: auto;
    background: #D9E0E1;
    padding-bottom: 0;
}

.secondJumboUL {
    color: #ffffff;
    margin: 0 auto;
    list-style-image: none;
    list-style-type: none;
    padding: 0;
    margin: 30px 0 220px;
}

.secondJumboUlli > img {
    width: 35px;
    margin-right: 15px;
    vertical-align: baseline;
}

.thirdJumboUL{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.thirdJumboUlli{
    color: #f00;
}

.thirdJumboUlli span{
    color: #000;
}

.fourthJumboUL {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fourthJumboUlli span,
.fourthJumboUlli a {
    color: #fff;
    text-decoration: none;
    background: url(../images/bullet_event.png) no-repeat 0 21px;
    padding: 0 0 0 40px;
}
.fourthJumboUlli a:hover,
.fourthJumboUlli.active span {
    background: url(../images/bullet_event.png) no-repeat 0 -65px;
}

.fifthJumbuUL{
    padding: 0;
    width: 50%;
    float: left;
    list-style: none;
}
.fifthJumbuULLI{
    list-style-type: none;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin-top:35px;
}
.fifthJumbuULLI a{
    color: #000;
    text-decoration: none;
}

.fifthJumbuULLI a:visited{
    color: #000;
}

.eventli{
    font-size:20px;
    max-width:330px;
    font-weight: bold;
}

.panel-group .panel{
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #BDBEC1;
}
.panel-group .row{
    margin: 100px 0;
}
.panel-default > .panel-heading{
    border: none;
    border-color: #fff;
}
.tarifRechner {
    float: right;
    margin-right: 120px;
    width: 300px;
}

.tarifRechner > .innerArea {
    background: #eee;
    opacity: 0.5;
    padding: 40px;
}

.panel-group td,
.panel-group th {
    padding: 5px 10px;
}
.panel-default > .panel-heading{
    background-color:#fff;
    font-size:32px;
    max-width: 1600px;
    padding: 0 9.5%;
    margin: 0 auto;

}
.panel-title{
    font-size: 42px;
    line-height: 1.2;
    cursor: pointer;
    background: url('../images/accordion_arrow-up.svg') no-repeat right center;
    background-size: 60px;
    padding: 30px 90px 30px 0;
}
.panel-title.collapsed {
    background: url('../images/accordion_arrow-down.svg') no-repeat right center;
    background-size: 60px;
}
.panel-title .accordion-toggle {
    text-decoration: none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
    border: none;
}
.panel-collapse {
    background: #F0F4F6;
    border-top: 3px solid #BDBEC1;
}
.panel-body{
    margin: 0 auto;
    max-width: 1600px;
    padding: 30px 9.5%;
}
.panel-body p {
    margin: 0 0 50px;
}
.panel-body ul {
    list-style-type: square;
    margin: 50px 0;
}
.panel-body h5 {
    font-size: 15px;
}
.panel-body a { color: #ac2925; text-decoration: underline; }
.panel-body a:hover { color: #ac2925; }


.insurancepanelbody{
    background-color:#F0F4F6;
}

.secondImageHeadlineInsurance{
    margin-left: 165px;
    color: #fff;
}

.rechnerdrp {
    width: 60%;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

.underline-text {
    text-decoration: underline;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

.robotoMedium { font-family: "Roboto-Medium" !important; }

.robotoRegular { font-family: "Roboto-Regular" !important; }

*, *:after, *:before {
    box-sizing:         border-box;
}

.page32Li{
    list-style: none;
    margin-left: -40px;
}

.page32Li span{
    text-decoration: none;
    font-size: 18px;
    background: url(../images/bullet_event.png) no-repeat 0 -79px;
    padding: 0 0 0 30px;
    font: normal 18px "Roboto-Light";
}

/* beitragsrechner
	* Nimmst du die erste Spalte weg, sollte das Layout trotzdem passen
	* Gibst du einem Element die Klasse "deactivate", wird es blass dargestellt
*/

#insuranceJumbotron { padding-top: 0; }
#insuranceJumbotron .btn { display: block; white-space: normal; min-width: auto; margin: 10px 0 0; padding: 10px 30px; font: normal 21px/30px "Roboto-Medium"; height:80px; }
#insuranceJumbotron ul { list-style: none inside none; padding: 0; margin: 0; }
#insuranceJumbotron .deactivate { opacity: .3; }

#insuranceJumbotron .intro { float: left; width: 30%; padding: 0 2% 0 0; min-height:791px; position: relative;}
#insuranceJumbotron .intro h2 { font: normal 25px/35px "Roboto-Bold"; margin-top: 30px; }
#insuranceJumbotron .intro h2.monserratSemiBold { font: normal 23px/28px "Roboto-Medium";  margin-top: 30px; }
#insuranceJumbotron .intro p { margin: 21.5px 0; }
#insuranceJumbotron .intro p.desktop.positionA { display: none; }
#insuranceJumbotron .intro p strong{ font: normal 16px/20px "Roboto-Medium"; }
#insuranceJumbotron .intro p { font: normal 16px/20px "Roboto-Light"; }
#insuranceJumbotron .intro li { font: normal 16px/20px "Roboto-Light"; }
#insuranceJumbotron .intro li { background: url(../images/bullet_simple.png) no-repeat 0 5px; padding: 0 0 0 15px; }
#insuranceJumbotron .intro #customerCar { color: #C91F25; }
#insuranceJumbotron .intro .customerCar { color: #C91F25; }
.lastButtonDiv { position: absolute; bottom:0;left:0; padding-right:7%; }
.calcButtonDiv{ position: absolute; bottom:0;left:0; width:90%; min-width:90%; }

#insuranceJumbotron .calculator { float: left; width: 30%; padding: 0 3% 50px 0; display: block; }
#insuranceJumbotron .content-wrapper { position: relative; }
#insuranceJumbotron .content-wrapper.calculator-visible .calculator { display: block; }
#insuranceJumbotron .content-wrapper.calculator-visible .intro { visibility: hidden; }
#insuranceJumbotron .calculator { position: absolute; width: 30%; padding: 0 2% 0px 0; display: none; }
#insuranceJumbotron .calculator form { background: rgba(203,209,214,0.7); padding: 20px 20px; }
#insuranceJumbotron .calculator form .tarifselect { width: 100%; }
#insuranceJumbotron .calculator > div:last-child > button { width:100%; height: 100%;}
#insuranceJumbotron .calculator form .buttonWrapper { text-align: center; padding-bottom: 20px; }
#insuranceJumbotron .calculator form > div { margin-bottom: 11%; }

#insuranceJumbotron .result { float: left; width: 70%; }
#insuranceJumbotron .result .col_basis { background: #87adc1; height:80px; }
#insuranceJumbotron .result .col_komfort { background: #447393;height:80px;}
#insuranceJumbotron .result .col_premium { background: #001836;height:80px; }
#insuranceJumbotron .result .col_copy { background: #dee4e8; height:405px;}
#insuranceJumbotron .result .col_copy { font: normal 11px/15px "Roboto-Regular"; padding: 5px 20px; }
#insuranceJumbotron .result .col_copy h3 { font: normal 24px/25px "Roboto-Bold"; margin: 0; }
#insuranceJumbotron .result .col_copy li { background: url(../images/bullet_tick.png) no-repeat 0 4px; padding: 0 0 0 18px; margin:5px 0;}

#insuranceJumbotron .result .col_spanned { background: #4d5d6b; color: #fff; text-align: center; font: normal 22px/30px "Roboto-Regular"; padding: 10px 10px; height:110px;}
#insuranceJumbotron .result table { table-layout: fixed; }
#insuranceJumbotron .result th { color: #fff; text-align: center; padding: 34.5px 10px; font: normal 44px/18px "Monserrat-SemiBold"; }
#insuranceJumbotron .result th,
#insuranceJumbotron .result td { border-left: 20px solid #fff; width: 33%; vertical-align: top; }
#insuranceJumbotron .result th:first-child,
#insuranceJumbotron .result td:first-child { border-left: 0; }

#insuranceJumbotron .result th small { font: normal 23px/17px "Roboto-Bold"; }
#insuranceJumbotron .result .btn { margin: 0; }


#insuranceJumbotron .result td  a { border-top: 4px solid transparent; border-bottom: 4px solid transparent; }
#insuranceJumbotron .result .notValidHoverButton td.hoverStyle a { font: normal 22px/30px "Roboto-Medium"; display: block; white-space: normal; min-width: auto; padding: 10px 0; color: #cd1719; border: 4px solid #cd1719; text-align: center; background:white;}
@media only screen and (min-width: 1599px) and (max-width : 1656px)  {
	#insuranceJumbotron .result .col_copy { background: #dee4e8; height:385px;}
}
@media only screen and (min-width: 1656px) and (max-width : 1841px)  {
	#insuranceJumbotron .result .col_copy { background: #dee4e8; height:405px;}
	#insuranceJumbotron .result .col_copy32 { background: #dee4e8; height:385px;}
	#insuranceJumbotron .calculator form > div { margin-bottom: 9.2%;}
}

@media only screen and (min-width: 1600px) and (max-width : 1655px)  {
	#insuranceJumbotron .calculator form > div { margin-bottom: 8%;}
}
@media only screen and (min-width: 1842px) {
	#insuranceJumbotron .result .col_copy { background: #dee4e8; height:431px;}
	#insuranceJumbotron .result .col_copy32 { background: #dee4e8; height:412px;}
}

#tarifRechnerSteps > div { display: table; padding: 0; text-align: center; }
#tarifRechnerSteps img { width: 100%; height: auto;  }
#tarifRechnerSteps .overlay-images { position: relative; vertical-align: middle; }
#tarifRechnerSteps .image-overlay { position: absolute; left: 0; top: 5%; overflow: hidden; display: inline-block; width: 18%; height: 90%; background-color: #fff; transition: opacity .5s ease-out; opacity: 0; border: 2px solid #000; cursor: pointer; }
#tarifRechnerSteps .image-overlay div.table { display: table; width: 100%; height: 100%; vertical-align: middle; padding: 10px; overflow: hidden; }
#tarifRechnerSteps .image-overlay div.tableCell { display: table-cell; vertical-align: middle; }
#tarifRechnerSteps .image-overlay p { font-size: 14px; line-height: 1.3; -moz-hyphens: auto; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; text-align: left; vertical-align: middle; }
#tarifRechnerSteps .image-overlay.text2 { left: 26.5%; }
#tarifRechnerSteps .image-overlay.text3 { left: 54.5%; }
#tarifRechnerSteps .image-overlay.text4 { left: 82.2%; width: 16.8%; }
#tarifRechnerSteps .image-overlay:hover { transition: opacity .2s ease-in; opacity: 1; font-size: 10px; line-height: 1.3;  }

#changeCarHref{ display: none; }



@media (max-width: 1270px) {
	#tarifRechnerSteps img { width: 100%; height: auto; }
	#tarifRechnerSteps .image-overlay p { font-size: 12px; line-height: 1.3; }
	#tarifRechnerSteps .image-overlay { width: 18%; height: 100%; left: -1%; top: 0; }
	#tarifRechnerSteps .image-overlay.text2 { left: 26.5%; }
	#tarifRechnerSteps .image-overlay.text3 { left: 54.5%; }
	#tarifRechnerSteps .image-overlay.text4 { left: 81.98%; width: 18%; }
}

@media (max-width: 1000px) {
    #tarifRechnerSteps .image-overlay { width: 22%; height: 140%; left: -3%; top: -20%; }
	#tarifRechnerSteps .image-overlay p { font-size: 12px; }
    #tarifRechnerSteps .image-overlay.text4 { left: 81%; width: 22%; }
}



#contentBox5 img.background { display: none; }

#sitemap li { padding: 10px 0 10px 25px; font: normal 33px/41px "Roboto-Light"; background: url(../images/bullet_simple.png) no-repeat 0 3px; background-size: 10px auto; background-position: left center; }
#sitemap li a { font: normal 33px/41px "Roboto-Light"; text-decoration: none; }
#sitemap li.submenu { background-position: 0 15%; }
#sitemap li.submenu ul { padding: 1% 0 0 1%; }

#contentBox7 p { font-family: "Roboto-Medium"; }
#contentBox8 li strong { font: normal 42px/70px "Roboto-Medium"; }

#accordion th { font-family: "Roboto-Bold"; }
#accordion td { font-family: "Roboto-Regular"; }
#termineOrteServices .jumbotron > .row > strong { font: normal 44px/52px "Monserrat-SemiBold"; }
.jumbotron.secondImageInsurance .row.secondImageHeadlineInsurance { margin-top: 4%; }

div[id^=beitragsrechner_] .radio label {
    display: block;
    text-align: left;
    vertical-align: middle;
}


#formWrapper { margin: 50px auto 0; width: 95%; max-width: 600px; }
#formWrapper h3 { font: normal 28px/38px "Monserrat-SemiBold"; }
#formWrapper p { font: normal 18px/24px "Roboto-Light"; margin-bottom: 30px; }
#formWrapper a { color: #ac2925; text-decoration: underline; }
#formWrapper label { font: normal 18px/24px "Roboto-Bold"; transition: color .4s; text-align: left;}
#formWrapper label { width: 100%; height: auto; margin: 0 0 15px; }
#formWrapper label span { display: inline-block; padding: 5px 0; font: normal 15px/20px "Roboto-Regular"; }
#formWrapper label.halfSize { width: 48%; }
#formWrapper label.halfSize.first { margin-right: 4%; }
#formWrapper input { width: 100%; height: 50px; margin: 10px 0 0; padding: 0 10px; border: 2px solid #aaaabb; font-size: 16px; transition: border .4s, box-shadow .5s; }
#formWrapper textarea { width: 100%; height: 210px; margin: 10px 0 0; padding: 0 10px; border: 2px solid #aaaabb; font-size: 16px; transition: border .4s, box-shadow .5s; }
#formWrapper input[type=checkbox] { position: relative; top: 0; display: inline-block; width: 20px; height: 20px; margin: 0 15px 0 0; vertical-align: middle; }

#formWrapper .errorColor { color: #ff0000; }
#formWrapper .errorBorder { border: 1px solid #ff0000; }


#formWrapper img.infoIcon { width: 25px; height: auto; margin: 0 0 0 10px; }
#formWrapper .submitButton { margin-top: 30px; text-align: center; }
#formWrapper .submitButton a { font: normal 18px/60px "Roboto-Medium"; display: inline-block; width: 235px; height: 66px; margin: 0 auto; background-color: #d1232a; color: #fff; border: 2px solid #d1232a; text-decoration: none; }
#formWrapper p.registrieren { font: normal 18px/24px "Roboto-Regular"; padding: 15px 0; }

#formWrapper label.error { transition: color .2s; color: #ff0000; }
#formWrapper input.error { transition: border .2s, box-shadow .5s; border: 1px solid #ff0000; box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.6);  }

#formWrapper.registrierung p { font-family: "Roboto-Regular" !important; }
.registrierung.link_home { font: normal 19px/23px "Roboto-Light"; text-decoration: underline; }
#formWrapper.registrierung label span { display: inline-block; padding: 5px 0; opacity: 0; color: #ff0000; height: 0; transition: opacity .4s; font: normal 15px/20px "Roboto-Regular"; }
#formWrapper.registrierung label.checkbox { margin-bottom: 30px; }
#formWrapper.registrierung input.error { transition: border .2s, box-shadow .5s; border: 1px solid #ff0000; box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.6); }
#formWrapper.registrierung label span.error { transition: opacity .4s, height .2s; opacity: 1; height: auto; }
/*#formWrapper.registrierung label.checkbox { display: inline-block; width: auto; height: 25px; overflow: visible; white-space: nowrap; }*/
#formWrapper.registrierung label.checkbox input { position: absolute !important; left: 0; top: 0; opacity: 0; }
#formWrapper.registrierung label.checkbox b { vertical-align: middle; padding-left:35px; }
#formWrapper.registrierung label.checkbox b::before { content: ""; display: inline-block; position: absolute; width: 25px; height: 25px; left: 0; top: calc(50% - 12px); border: 2px solid #aaaabb; background-color: #fff; cursor: pointer; }
#formWrapper.registrierung label.checkbox b::after { position: absolute; width: 25px; height: 25px; left: 0; top: calc(50% - 12.5px); padding-left: 5px; padding-top: 3px; font-size: 16px; color: inherit; }
#formWrapper.registrierung label.checkbox input:checked ~ b::after { font-family: 'FontAwesome'; content: "\f00c"; }
#formWrapper.registrierung .submitButton a { text-decoration: none; }

#formWrapper.login label.checkbox b { vertical-align: middle; }
#formWrapper.login label.checkbox b::before { content: ""; display: inline-block; position: absolute; width: 25px; height: 25px; left: 0; top: calc(50% - 12px); border: 2px solid #aaaabb; background-color: #fff; cursor: pointer; }
#formWrapper.login label.checkbox b::after { position: absolute; width: 25px; height: 25px; left: 0; top: calc(50% - 12.5px); padding-left: 5px; padding-top: 3px; font-size: 16px; color: inherit; }
#formWrapper.login label.checkbox input:checked ~ b::after { font-family: 'FontAwesome'; content: "\f00c"; }
#permloginchekbox {
    opacity: 0;
}

#rechtlicherHinweis { padding: 20px 0; }
#rechtlicherHinweis .save_btn { margin-top: 20px; }
#rechtlicherHinweis p { font: normal 13px/1.5 Arial !important; color: #000; }

a.red { color: #ac2925; text-decoration: underline; }

#contentBox9 figure { display: none; }

#confirmationOverlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; max-width: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 19; display: none; }
#confirmationOverlay .boxWrapper { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
#confirmationOverlay .contentBoxWrapper { display: table; width: 554px; height: 356px; margin: 0 auto; background-color: #fff; border: 3px solid #a5a8af; }
#confirmationOverlay .contentBox { display: table-cell; width: 100%; height: 100%; margin: 0 auto; padding: 0 15%; text-align: center; vertical-align: middle; }
#confirmationOverlay h3 { font: normal 28px/38px "Monserrat-SemiBold"; margin-top: 0; }
#confirmationOverlay p { font: normal 18px/23px "Roboto-Regular"; margin-top: 10px; }
#confirmationOverlay p.team { margin-top: 20px; }
#confirmationOverlay button { font-family: "Roboto-Medium"; font-size: 18px; width: 60% !important; height: auto !important; min-width: auto; margin-top: 1rem; padding-left: 2rem; padding-right: 2rem; }

#contentBox6 > .row:nth-child(2) { text-align: left !important;  -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
#contentBox6 > .row:nth-child(2) > strong { display: inline-block; text-align: left; }
#contentBox7 { padding-bottom: 70px; }

#notice p { font: normal 19px/23px "Roboto-Medium"; text-align: left; }

.bottomMarginZiro { margin-bottom: 0 !important; }





/* Breakpoints für Termine,Orte und Service */
@media (min-width: 1600px) {
    .hideByBigger1600 { display: none; }

}
@media (max-width: 1599px) {
    .hideBySmaller1600 { display: none; }
}

/* Responsive Styles */

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px){
    .navbar{

        border-radius: 0;
    }
    .marginTopZiro { margin-top: 0 !important; }
    .marginBottomZiro { margin-bottom: 0 !important; }
}
/** only for Page 32 & 38
@media only screen and (min-width: 1600px) and (max-width : 1880px)  {
	.col_copy.basix{ height: 492px; }
	#insuranceJumbotron .intro p { margin: 21.5px 0; }
}
**/


@media only screen and (min-width: 769px) and (max-width : 1599px)  {
    #insuranceJumbotron .intro { width: 70%; padding: 0 10% 150px 0; height: 590px; min-height:590px;}
    #insuranceJumbotron .intro .desktop.hideByScreenSize { display: none; }
    #insuranceJumbotron .content-wrapper.calculator-visible .intro { visibility: visible; }

    #insuranceJumbotron .result {  width: 100%; }
    #insuranceJumbotron .result table { width: 100%; }

    #insuranceJumbotron .calculator { right: 0; left: auto; width: 33%; padding: 0 0 0 10px; }

    .col_copy.basix { height:474px; }
    
    #changeCarHref{ display: none; }
    
    #insuranceJumbotron .calculator form > div{
    	margin-bottom: 0%;
    }
}

@media only screen and (min-width: 769px) and (max-width : 950px)  {
    #insuranceJumbotron .result th, #insuranceJumbotron .result td {
        width: auto;
    }
    #insuranceJumbotron .result table {
        table-layout: auto;
    }
    #insuranceJumbotron th:first-child small:first-child {
        display: block;
        margin-top: -20px;
    }
    #insuranceJumbotron .result .insurancePrice1 {
        display: block;
        line-height:1;
    }
    #insuranceJumbotron .result .insurancePrice1 + br {
        display: none;
    }
    #insuranceJumbotron .result .col_basis{
    	min-width:239px;
    }
}
@media only screen and (min-width: 769px) and (max-width : 875px)  {
	#insuranceJumbotron .intro{
		height: 670px; min-height:670px;
	}

	#insuranceJumbotron .btn{
		height: auto;
		
	}
}

@media (min-width: 1600px) {
    .thirdImage { background: url('../images/startseite/2200x800/classic-stories.jpg') no-repeat top center; background-size: 2200px 576px; }
    .fourthImage { background: url('../images/buehne/2200x800/termine-orte-services.jpg') no-repeat top center; background-size: 2200px 793px; }
    #contentBox9.fourthImage { background: url('../images/startseite/2200x800/termine-orte-services.jpg') no-repeat top center; background-size: 2200px 793px; }
    #contentBox5 .header { background: url('../images/startseite/2200x800/versicherungsleistungen.jpg') no-repeat center 60%; background-size: 2200px 1224px; }

    footer.fifthImage  { background: url('../images/2200x800/footer.jpg') no-repeat bottom center; }


    .secondImageInsurance{ background: url('../images/buehne/2200x800/versicherungsleistungen.jpg') no-repeat bottom center; background-size: 2200px 520px; }
    .thirdImageStories { background: url('../images/buehne/2200x800/stories.jpg') no-repeat top center; background-size: 2200px 575px; }
    #carStories div.thirdImageStoriesSub1 { background: url('../images/buehne/2200x800/stories-youngtimer.jpg') no-repeat top center; background-size: 2200px 575px;  }
    #carStories div.thirdImageStoriesSub2 { background: url('../images/buehne/2200x800/stories-wertanlage.jpg') no-repeat top center; background-size: 2200px 575px; }
    article.mtb .jumbotron.ImageFAQ { background: url('../images/buehne/2200x800/faq.jpg') no-repeat top center; background-size: 2200px 514px; }
}


@media (min-width: 2199px){
	.thirdImage { background: url('../images/startseite/2200x800/classic-stories.jpg') no-repeat top center; background-size: cover; }
    .fourthImage { background: url('../images/buehne/2200x800/termine-orte-services.jpg') no-repeat top center; background-size: cover; }
    #contentBox9.fourthImage { background: url('../images/startseite/2200x800/termine-orte-services.jpg') no-repeat top center; background-size: cover; }
    #contentBox5 .header { background: url('../images/startseite/2200x800/versicherungsleistungen.jpg') no-repeat center 60%; background-size: cover; }
    footer.fifthImage  { background: url('../images/2200x800/footer.jpg') no-repeat bottom center; background-size:cover;}
    .secondImageInsurance{ background: url('../images/buehne/2200x800/versicherungsleistungen.jpg') no-repeat bottom center; background-size: cover; }
    .thirdImageStories { background: url('../images/buehne/2200x800/stories.jpg') no-repeat top center; background-size: cover; }
    #carStories div.thirdImageStoriesSub1 { background: url('../images/buehne/2200x800/stories-youngtimer.jpg') no-repeat top center; background-size: cover;  }
    #carStories div.thirdImageStoriesSub2 { background: url('../images/buehne/2200x800/stories-wertanlage.jpg') no-repeat top center; background-size: cover; }
    article.mtb .jumbotron.ImageFAQ { background: url('../images/buehne/2200x800/faq.jpg') no-repeat top center; background-size: cover; }
}


/* Breakpoints fÃ¼r Termine,Orte und Service */
@media (min-width: 1600px) {
    .hideByBigger1600 { display: none; }
    .events.mobile { display: none; }
    .events.desktop { display: block; }
}
@media (max-width: 1599px) {
    .hideBySmaller1600 { display: none; }
    .events.mobile { display: block; margin-top: -18px; }
    .events.desktop { display: none; }
    .events.mobile #accordion {
        padding: 0;
        margin-bottom: 60px;
    }
}

@media  (max-width: 768px){

    .mainNavBar { box-shadow: 0 3px 10px 0px rgba(0,0,0,0.3); }

    .mainNavBar { box-shadow: 0 8px 6px 0px rgba(0,0,0,0.3); }

    .navbar-collapse.collapse { display: block!important; }

    .navbar-toggle{ display: none; }

    .navbar-header { float: left; }

    .navbar-nav>li, .navbar-nav { float: left !important; }

    .navbar-brand > img { width: 235px; }

    .nav.navbar-nav.navbar-right > li { display:none; }

    .nav.navbar-nav.navbar-right > li:last-child{ display: block !important; margin-top: 0;  }

    .navbar-nav.navbar-right:last-child { margin-right: -15px !important; }

    .navbar-right { float: right!important; margin-top: 0; }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form { border: none; margin-bottom: 0; }

    .navbar .container { padding: 10px 9.5% 7px 9.5%; }

    #navigationOverlay { padding: 100px 6% 50px; }
    #navigationOverlay ul, #navigationOverlay li { float: none !important; width: 100%; margin: 0; }
    #burger-menu-icon-close { top: 40px; right: 15px; }
    
    .nav.navbar-nav.navbar-right > li:last-child { margin-top: 0; }
	
	#confirmationOverlay button {
	    font: normal 34px/1.2 "Roboto-Bold" !important;
	    font-size: 4.13vw !important;
	    width: 60% !important;
	    height: auto !important;
	    padding: 5% !important;
	    margin: 5vw 0 0 !important;
	    white-space: pre-line;
	    min-width: auto;
	}

    .link_home{
        margin-right:50px;
    }
	
	.link_back{
        margin-right:50px;
    }

    .btn-huge{
        min-width: 0px;
        height: 50px;
        font-size: 14px;
        padding: 10px 10px;
    }

    .bold-text{
        font-size: 20px;
    }

    .jetzt-text{
        display: none;
    }

    .jumbotron  div {
        padding: 0 0;
        margin: 0 auto;
    }

    .only-mobile{
        margin-bottom: 580px!important;
        display: block;
    }

    .only-mobile strong{
        font-size: 44%!important;
        float: left;
        height: 25px;
    }

    .firstJumbo .row, .secondJumbo .row, .thirdJumbo .row, .fourthJumbo .row {
        margin-top: 0;
        padding: 0 15px;
        margin-bottom: 10px;
    }
	#insuranceJumbotron .calculator form
    .firstJumbo strong, .secondJumbo strong, .thirdJumbo strong, .fourthJumbo strong{
        line-height: 30px!important;
    }

    .secondJumboUL{
        color: black;
        margin-bottom: 0;
    }

    .firstJumboUlli{
        line-height: 14px!important;
        font-size: 14px!important;
    }

    .firstJumboUlli strong{
        font-size: 14px!important;

    }
    .firstJumboUlli img{
        width: 14px!important;
        margin: 0 10px;
    }

    .fifthJumbuULLI { margin-top: 0; }

    .secondImage, .thirdImage, .fourthImage{
        position: relative;
        float: left;
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: top;
        padding: 0 15px;
        color: black;
    }

    .thirdImage, .fourthImage{
        background-size: 250%;

    }

    .secondImageHeadline strong{
        font-size: 20px!important;
    }

    .secondImageHeadline p:first-of-type, .thirdImage p:first-of-type, .fourthImageHeadline p:first-of-type {
        margin-top: 150px;
    }

    .secondImageHeadline p {
        font-size: 20px;
    }


    /**********************************************************************************************/

    .mobile { display: block; }
    .desktop { display: none; }

    /*
        .h3 { font: normal 25px/29px "Monserrat-SemiBold" !important; }
        .firstJumbo .bold-text { font-size: 20px; line-height: 1.5; }

        .jumbotron { width: 100%; }
        .jumbotron.mobile { padding: 15px 20px; }
        .jumbotron.mobile > .row strong { line-height: 1.2 !important; }

        .secondImage, .thirdImage, .fourthImage { float: none; }
    */
    .secondImage, .thirdImage, .fourthImage { float: none; background-size: cover; background-position: 50% 50%; }
    .btn { font: normal 34px/1.2 "Roboto-Bold" !important; font-size: 4.13vw !important; width: 60% !important; min-width: 330px; height: auto !important; padding: 5% !important; margin: 5vw 0 0 !important; white-space: pre-line; }
    .btn:last-child { margin-top: 0; }

    #contentBox4 { position: relative; padding: 40px 6%; }
    #contentBox4 .h3 { padding: 0; margin: 0; }
    #contentBox4 .h3 strong { display: inline-block; font: normal 46px/1.2 "Monserrat-SemiBold" !important; font-size: 4.8vw !important; background: none; }
    #contentBox4 .h3 strong:nth-of-type(2) { margin-bottom: 20px; }
    #contentBox4 .row { padding: 0; }
    #contentBox4 li { position: relative;  padding: 0 0 0 6%; font: normal 37px/1.2 "Roboto-Light" !important; font-size: 4.44vw !important; list-style: none; }
    #contentBox4 li strong { font: normal 37px/1.2 "Roboto-Medium" !important;  font-size: 4.44vw !important; background: none !important; }
    #contentBox4 img { position: absolute; top: 5%; left: 0; width: 4.5% !important; height: auto; margin: 0; }
    #contentBox4 img.mobile { position: relative; top: 0; left: 0; width: 100% !important; height: auto; }
    #contentBox4 .bold-text { font: normal 41px/1.2 "Roboto-Bold"; font-size: 4.89vw; display: inline-block; margin: 30px 0; }

    #contentBox5 .center { padding: 0 6%; }
    #contentBox5 .header { background: url(../images/startseite/800x800/versicherungsleistungen.jpg) no-repeat top center; background-size: 100% auto; }
    #contentBox5 .header .center { font: normal 20px/1.2 "Monserrat-SemiBold"; padding-top: 5%; padding-bottom: 50%; }
    #contentBox5 ul { margin: 30px 0; }
    #contentBox5 li { background-size: 15px; padding: 0 0 0 30px; font: normal 40px/60px "Roboto-Medium"; }
    #contentBox5 > .center  { border-bottom: 2px solid #AAACB0; }
    #contentBox5 > .center:first-of-type { border-top: 2px solid #AAACB0; }
    #contentBox5 p { line-height: 140% !important; }
    #contentBox5 .footer { margin: 30px 0 40px; }

    #contentBox6 { display: block; background-color: #dbe5e5; border: 1px solid #dbe5e5; padding: 30px 6%; }
    #contentBox6 strong { font: normal 46px/1.5 "Monserrat-SemiBold" !important; font-size: 4.8vw !important; display: block; width: 100%; text-align: left; }

    #contentBox7 { padding: 60px 40px; height: auto; background-size: 100% auto; background-size: cover; color: #fff; }
    #contentBox7.thirdImage { background: url('../images/startseite/800x800/classic-stories.jpg') no-repeat center center; background-size: cover; }
    #contentBox7 strong.h3 { font: normal 46px/1.5 "Monserrat-SemiBold" !important; font-size: 4.8vw !important; }
    #contentBox7 p { font: normal 34px/1.5 "Roboto-Regular"; font-size: 4.31vw !important; }
    #contentBox7 .secondImageHeadline p:first-of-type, .thirdImage p:first-of-type, .fourthImageHeadline p:first-of-type { margin-top: 30px; }
    #contentBox7.thirdImage .row p { margin-bottom: 0; }

    #contentBox8 { display: inline-block; width: 100%; padding: 30px 6%; }
    #contentBox8 .h3 strong { font: normal 46px/1.2 "Monserrat-SemiBold" !important; font-size: 4.8vw !important; }
    #contentBox8 p, li span { font: normal 34px/1.2 "Roboto-Light" !important; font-size: 4.31vw !important; }
    #contentBox8 li { line-height: 0; }
    #contentBox8 li span strong { font: normal 34px/1.8 "Roboto-Medium" !important; font-size: 4.31vw !important; }

    #contentBox9 { display: inline-block; height: auto; padding: 0 6%; background-size: cover; }
    #contentBox9.fourthImage { background: url('../images/startseite/800x800/termine-orte-services.jpg') no-repeat top center; background-size: 100% auto; padding: 42% 0; }
    #contentBox9.fourthImage .row ul { margin-top: 10px; }
    #contentBox9.fourthImage .row ul li{ white-space: nowrap; }
    #contentBox9 .row { position: absolute; top: 30px; left: 6%; margin-top: 0; }
    #contentBox9 figure { display: none; }
    #contentBox9 img { opacity: 0; }
    #contentBox9 strong { font: normal 46px/1.5 "Monserrat-SemiBold" !important; font-size: 4.8vw !important; color: #fff; }
    #contentBox9 li { position:relative; font-size: 50px; padding-left: 8%; list-style-type: none; color: #fff; }
    #contentBox9 li::before {
        content: "";
        position: absolute;
        width: 2.5%;
        padding-top: 2.7%;
        background-color: #fff;
        left: 1%;
        top: 50%;
        transform: translate(0,-50%);
    }
    #contentBox9 li a { font: normal 34px/1.5 "Roboto-Medium"; font-size: 4.31vw !important; padding: 0; line-height: 1.6; background: none; }

    #contentBox10 { display: inline-block; padding: 30px 6%; line-height:1.2 !important; }
    #contentBox10 strong { font: normal 46px/1.2 "Monserrat-SemiBold" !important; font-size: 4.8vw !important; }

    #sitemap li {background-size: 6px auto; padding-left:15px; }
    #sitemap li a { font-size: 4.8vw; line-height: 7vw; }

    h2 { font-family: "Monserrat-SemiBold" !important; font-size: 10.50vw !important; line-height: 1.2 !important; }
    .mt h2 { font: normal 4.8vw/7vw "Monserrat-SemiBold" !important; }
    h4 { font-family: "Monserrat-SemiBold" !important; font-size: 4.43vw !important; line-height: 1.5 !important; }
    h4 a { font-family: "Monserrat-SemiBold" !important; font-size: 4.43vw !important; line-height: 1.2 !important; display: inline-block; width: 90%; }
    h4.panel-title { width: 100%; padding-right: 50px; background-size: 10% auto !important; }
    p { font-family: "Roboto-Light" !important; }
    /*strong { font-family: "Roboto-Medium" !important; }*/
    p, #accordion strong { font-size: 4.43vw !important; line-height: 1.3; font-weight:normal !important;}





    article.mtb small { font-size: 3.58vw !important; }
    article.mtb .row { font-size: 4.43vw !important; line-height:1.4 !important; }
    article.mtb .jumbotron.secondImageInsurance { background: url('../images/buehne/800x800/versicherungsleistungen.jpg'); background-size: cover; background-position: 0 0; height: auto; }
    article.mtb .jumbotron.ImageFAQ { background: url('../images/buehne/800x800/faq.jpg') no-repeat; background-position: top center; background-size: 100% auto; height: auto; padding: 50% 0; }
    article.mtb .jumbotron.ImageFAQ strong { position: absolute; top: 50px; left: 0; padding: 0 6%; }
    article.mtb .jumbotron.secondImageInsurance strong { font: normal 25px/1.2 "Monserrat-SemiBold" !important; font-size: 5.78vw !important; display: inline-block; margin-bottom: 70vw; color: #000; }
    article.mtb .jumbotron.secondImageInsurance p { display: none; }
    article.mtb p a { color: #ff0000; }
    article.mtb .mt a { color: #ac2925; }
    article.mtb p { font-size: 4.43vw !important; line-height: 1.3 !important; margin-top: 20px; }
    article.mtb li { font-size: 4.43vw !important; line-height: 1.4 !important; }
    article.mtb .ImageFAQ,
    article.mtb .secondImageInsurance { padding: 50px 6%; }
    article.mtb .ImageFAQ strong,
    article.mtb .secondImageInsurance strong { display: inline-block; font-size: 5.75vw !important; line-height: 1.2 !important; background-image: none !important; }
    article.mtb table { border: none; }
    article.mtb table th { font-family: "Roboto-Medium" !important; font-size: 4.43vw !important; border: none; font-weight:normal !important; }
    article.mtb table td { padding: 15px 10px; vertical-align: top; font-size: 4.43vw !important; line-height: 1.2; border: none; }
    article.mtb table td:nth-of-type(1) { font-family: "Roboto-Medium" !important; font-weight:normal !important;}
    article.mtb table td:nth-of-type(2) { font-family: "Roboto-Light" !important; }
    article.mtb .panel-body p { margin-bottom: 5%; }

    #accordion .panel-default > .panel-heading { padding: 0 6%; }
    #accordion .panel-body { padding: 2% 6% 6%; }

    #ueberUns { padding: 50px 6%; }
    #ueberUns ul { padding: 20px; list-style-type: square; }
    #ueberUns .secondImageHeadline strong { font-family: "Monserrat-SemiBold" !important; font-size: 5.78vw !important; line-height: 1.2 !important; background-image: none; display: inline-block; }
    #ueberUns .secondImageHeadline p:first-of-type,
    #ueberUns .thirdImage p:first-of-type,
    #ueberUns .fourthImageHeadline p:first-of-type { margin-top: 0; }

    #mainInsuranceDiv { float: none; width: 100%; padding: 35px 6% 0; text-align: center; }
    #mainInsuranceDiv h2, #mainInsuranceDiv p { text-align: left; }
    #mainInsuranceDiv ul { padding-left: 20px; text-align: left; }


    #insuranceJumbotron .content-wrapper { position: relative; }
    #insuranceJumbotron .content-wrapper.calculator-visible .calculator { display: block; }
    #insuranceJumbotron .content-wrapper.calculator-visible .intro { visibility: visible; }
    #insuranceJumbotron .calculator { position: static; float: left; width: 30%; padding: 0 3% 50px 0; display: none; }

    /*#insuranceJumbotron .calculator { position: absolute; top: 0; left: 0; width: 30%; padding: 0 3% 50px 0; display: block; }*/
    .changeCarHref{ display: inline-block; }
    #insuranceJumbotron h2 { padding: 20px 6% 15px; background-color: #D4DCE1; font-size: 10vw !important; margin-top: 0; }
    #insuranceJumbotron .intro { float: none; width: 100%; padding: 0 6%; display: block !important; height: auto;}
    #insuranceJumbotron .intro p,
    #insuranceJumbotron .intro li { font-family: "Roboto-Light"; line-height: 1.4 !important; }
    #insuranceJumbotron .intro li { background-position: 0 20%; }
    #insuranceJumbotron .intro .headline { font-family: "Monserrat-SemiBold" !important; font-size: 5.74vw !important; line-height: 1.2; text-align: left; }
    #insuranceJumbotron .result { float: none; width: 100%; }
    #insuranceJumbotron .btn { display: inline-block; }
    #insuranceJumbotron .calculator { width: 100% !important; text-align: center; padding-bottom: 30px; padding-right: 0; background: rgba(203,209,214,0.7); }
    #insuranceJumbotron .calculator form { width: 100%; text-align: left; }
    #insuranceJumbotron .carbox { padding: 5% 6%; background: #DCE2E4; color: #437492; height: 130px; line-height: 1.5 !important;}
    #insuranceJumbotron .carbox strong:first-child { display: block; margin: 0 0 0px 0; }


	.tarifShortTitle{     font-size: 5.3vw !important; }
	/*#tarifBtn { margin-bottom: }*/
    #tarifeBoxWrapper .center { text-align: center; }
    #tarifeBoxWrapper .tarifbox { padding: 10% 6% 2%; color: #fff; min-height:230px;}
    #tarifeBoxWrapper .tarifbox.basis { background-color: #7fb4c7;}
    #tarifeBoxWrapper .tarifbox.komfort { background-color: #387696; }
    #tarifeBoxWrapper .tarifbox.premium { background-color: #061c30; }
    #tarifeBoxWrapper .tarifbox p.boxTextLine1 { font-family: "Monserrat-SemiBold" !important; font-size: 15.7vw !important; line-height: 1.2 !important; margin-bottom: 0; color: #fff; cursor: pointer; }
    #tarifeBoxWrapper .tarifbox p.boxTextLine2 { font-family: "Roboto-Bold" !important; font-size: 17.66vw !important; line-height: 0.9 !important; margin: 0; padding: 0 !important; height: auto !important; }
    #tarifeBoxWrapper .tarifbox p.boxTextLine3 { margin: 0 !important; padding: 2% !important; height: auto !important; font-family: "Roboto-Bold"!important;}
    #tarifeBoxWrapper > div.tarifbox.center > p:nth-child(3) > span {  font-family:"Roboto-Bold" !important; }
    #tarifeBoxWrapper > div.tarifbox.center > p:nth-child(2) > span:nth-child(1){ font-family:"Roboto-Bold" !important; }

    #accordionBasis > div > div > ul > li:nth-child(1) > span { font-family:"Roboto-Medium" !important; }
    #accordionKomfort > div > div > ul > li:nth-child(1) > span{ font-family:"Roboto-Medium" !important; }
    #accordionPremium > div > div > ul > li:nth-child(2) > span{ font-family:"Roboto-Medium" !important; }
    
    
    #tarifeBoxWrapper .tarifbox p span { font-family: "Monserrat-SemiBold"; font-size: 7.15vw !important; line-height: 0.7 !important; display: inline-block; }
    #tarifeBoxWrapper .tarifbox p .insurancePrice { font-family:Roboto-Bold; font-size: 15.7vw !important; line-height: 0.7 !important; display: inline-block; }
    #tarifeBoxWrapper .tarifbox p.boxTextLine4 { font-family: "Roboto-Bold" !important; font-size: 5.25vw !important; line-height: 1.2 !important; text-align: right; margin: 0;}
    #tarifeBoxWrapper .tarifbox p.boxTextLineCenter { text-align: center; margin-bottom: 10%; display: none; }
    #tarifeBoxWrapper .tarifbox p.boxTextLineCenter a { font-size: 5vw !important; line-height: 1.2 !important; width: 70% !important; font-family: "Roboto-Medium"; }
    #tarifeBoxWrapper .tarifbox.open p.boxTextLineCenter { display: block; }
    #tarifeBoxWrapper .tarifbox i { font-size: 10.25vw; line-height: 1.2; vertical-align: middle; font-style: normal; }

    #tarifeBoxWrapper .tarifbox38 { padding: 10% 6% 10%; color: #fff; height:240px;}
    #tarifeBoxWrapper .tarifbox38.basis { background-color: #7fb4c7;}
    #tarifeBoxWrapper .tarifbox38.komfort { background-color: #387696; }
    #tarifeBoxWrapper .tarifbox38.premium { background-color: #061c30; }
    #tarifeBoxWrapper .tarifbox38 p.boxTextLine1 { font-family: "Monserrat-SemiBold" !important; font-size: 14.7vw !important; line-height: 1.2 !important; margin-bottom: 0; color: #fff; cursor: pointer; }
    #tarifeBoxWrapper .tarifbox38 p.boxTextLine2 { font-family: "Roboto-Bold" !important; font-size: 17.66vw !important; line-height: 0.9 !important; margin: 0; padding: 0 !important; height: auto !important; }
    #tarifeBoxWrapper .tarifbox38 p.boxTextLine3 { margin: 0 !important; padding: 2% !important; height: auto !important; }
    #tarifeBoxWrapper .tarifbox38 p span { font-family: "Monserrat-SemiBold" !important; font-size: 7.15vw !important; line-height: 0.7 !important; display: inline-block; }
    #tarifeBoxWrapper .tarifbox38 p .insurancePrice { font-size: 14.7vw !important; line-height: 0.7 !important; display: inline-block; }
    #tarifeBoxWrapper .tarifbox38 p.boxTextLine4 { font-family: "Roboto-Bold" !important; font-size: 5.25vw !important; line-height: 1.2 !important; text-align: right; }
    #tarifeBoxWrapper .tarifbox38 p.boxTextLineCenter { text-align: center; margin-bottom: 10%; display: none; }
    #tarifeBoxWrapper .tarifbox38 p.boxTextLineCenter a { font-size: 5vw !important; line-height: 1.2 !important; width: 70% !important; font-family: "Roboto-Medium"; }
    #tarifeBoxWrapper .tarifbox38.open p.boxTextLineCenter { display: block; }
    #tarifeBoxWrapper .tarifbox38 i { font-size: 10.25vw; line-height: 1.2; vertical-align: middle; font-style: normal; }



    #tarifeBoxWrapper .detailContent { text-align: left; background-color: #fff; overflow: hidden; height: auto; margin-top: 0; color: #aaa; transition: height 0.3s ease-out; }
    #tarifeBoxWrapper > p { padding: 0 6%; }
    #tarifeBoxWrapper p.medium { font-family: "Roboto-Medium" !important; font-size: 5.3vw !important; line-height: 1.2; text-align: left; margin: 6% 0 6% 0%;}
	.calculator .tariflabel {
	    font: normal 35px/1.5 "Roboto-Light";
	    font-size: 4.22vw;
	}
	#insuranceJumbotron .calculator form { background: none; padding: 15px 20px; }


    #tarifeBoxWrapper .panel-title,
    #tarifeBoxWrapper #accordion,
    #tarifeBoxWrapper .panel,
    #tarifeBoxWrapper .panel-default { background: none !important; background-color: #E2E9EC; border: none !important; box-shadow: none; padding: 0 !important; margin: 0 !important; color: #000; }
    #tarifeBoxWrapper .toggle { background-color: #E2E9EC; color: #000; text-align: left; border: 1px solid transparent; margin: 6% 0; padding: 0 !important; display: none; }
    #tarifeBoxWrapper .open .toggle { display: block; }
    #tarifeBoxWrapper .toggle h3 { margin: 0; font-family: "Roboto-Medium" !important; font-size: 7.67vw !important; line-height: 1.2; }
    #tarifeBoxWrapper .toggle p { margin: 0; padding: 6% 4% 4%; background-color: #fff; }
    #tarifeBoxWrapper .toggle p strong { display: inline-block; font-family: "Roboto-Medium" !important; font-size: 4.43vw !important; line-height: 1.2 !important; margin: 0 0 15px; }
    #tarifeBoxWrapper .toggle p strong .coRed { font-family: "Roboto-Medium" !important; font-size: 4.43vw !important; line-height: 1.2 !important; color: #ff0000; }
    #tarifeBoxWrapper .toggle p strong ._carbau,
    #tarifeBoxWrapper .toggle p strong ._carvalue,
    #tarifeBoxWrapper .toggle p strong ._car{
        font-family: "Roboto-Medium" !important;
        font-size: 4.43vw !important;
        line-height: 1.2 !important;
    }
    #tarifeBoxWrapper .toggle li { margin: 6% 4%; padding-left: 10% !important; background: url('../images/bullet_tick.png') no-repeat 0 10% !important; background-size: 7% auto !important; }
    #tarifeBoxWrapper .toggle li:nth-of-type(1) {}
    #tarifeBoxWrapper p.center { margin-bottom: 25px; }
    #tarifeBoxWrapper a { text-decoration: none; color: #fff; }
    #tarifeBoxWrapper .tarifButton { display: none; }

    #termineOrteServices { margin-top: 20px; }
    #termineOrteServices .fourthImage { top: -18px; height: auto; background-size: cover; background-image: url('../images/buehne/800x800/termine-orte-services.jpg'); background-position: top center; padding: 0 6%; float: none; }
    #termineOrteServices .fourthImage strong { font-family: "Monserrat-SemiBold" !important; font-size: 5.78vw !important; line-height: 1.2; margin: 50px 0 70vw; display: block; color: #fff; }
    #termineOrteServices .fourthImage li { font-family: "Roboto-Bold" !important; font-size: 4.43vw !important; margin-left: 30px;  color: #fff; list-style: square; }
    #termineOrteServices .fourthImage li span { display: inline-block !important; width: 100%; height: 100%; font-family: "Roboto-Bold" !important; font-size: 4.43vw !important; color: #fff; background: none; background-size: 10px auto; padding-left: 0; }
    #termineOrteServices .panel-heading h4 a { font-family: "Roboto-Medium" !important; font-size: 4.43vw !important; line-height: 1.2 !important; }
    #termineOrteServices .panel-body { font-family: "Roboto-Regular" !important; font-size: 4.43vw !important; line-height: 1.2 !important; }
    
    #termineOrteServices .panel-body div { font-family: "Roboto-Regular" !important; font-size: 4.43vw !important; line-height: 1.2 !important; }
    #termineOrteServices .panel-body .bold { font-family: "Roboto-Medium" !important; }
    #termineOrteServices .panel-body .eventItem { margin-top: 30px; }
    #termineOrteServices .panel-body .eventItem.first { margin-top: 0; }

	#termineOrteServices .panel-body div.eventItemTitle{ font-family: "Roboto-Medium" !important; }
	
	#termineOrteServices .panel-body div.eventItemSize{ font-family: "Roboto-Light" !important; }
	#termineOrteServices .panel-body div.eventItemPlace{ font-family: "Roboto-Light" !important; }
	#termineOrteServices .panel-body div.eventItemUrl a { font-family: "Roboto-Light" !important; font-size: 4.13vw !important;}

    #carStories { margin-top: 25px; }
    #carStories .jumbotron { padding: 5% 6%; }
    #carStories p, #carStories p > * { font-size: 4.43vw !important; line-height: 1.43 !important; }
    #carStories a { color: #ff0000; }
    #carStories a.btn { width: 80%; color: #fff; }
    #carStories div.thirdImageStories,
    #carStories div.thirdImageStoriesSub1,
    #carStories div.thirdImageStoriesSub2 { position: relative; color: #fff; height: auto; background-size: cover; background-position: 50% 50%; top: -18px;}
    #carStories div.thirdImageStories { background-image: url('../images/buehne/800x800/stories.jpg'); }
    #carStories div.thirdImageStoriesSub1 { background-image: url('../images/buehne/800x800/stories-youngtimer.jpg'); }
    #carStories div.thirdImageStoriesSub2 { background-image: url('../images/buehne/800x800/stories-wertanlage.jpg'); padding: 50% 0; }
    #carStories div.thirdImageStories strong,
    #carStories div.thirdImageStoriesSub1 strong,
    #carStories div.thirdImageStoriesSub2 strong { font-family: "Monserrat-SemiBold" !important; font-size: 5.78vw !important; line-height: 1.2; color: #fff; }
    #carStories div.thirdImageStories p,
    #carStories div.thirdImageStoriesSub1 p,
    #carStories div.thirdImageStoriesSub2 p { position: relative; left: 0; bottom: 15%; margin: 50% 0 0; font-family: "Monserrat-SemiBold" !important; font-size: 5.78vw !important; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);  }
    #carStories div.thirdImageStoriesSub2 strong { color: #000; }
    #carStories div.thirdImageStoriesSub2 > .row strong { position: relative; bottom: auto; }
    #carStories div.thirdImageStoriesSub2 > .row strong br { display: none; }
    #carStories .mt h2 {font-size: 5.78vw !important; margin-top: 0; }
    #carStories img {
        position: relative;
        left: 50%;
        right: 50%;
        width: 100vw;
        margin-right: -50vw;
        margin-left: -50vw;
        max-width: none !important;
    }

    #formWrapper.registrierung p { font-family: "Roboto-Light" !important; }


    #beitragsrechner_step5 #bankform .row:first-child {
        position: relative;
    }
    #beitragsrechner_step5 #bankform .row:first-child .flag.hint {
        position: absolute;
        top: 52px;
    }
    #beitragsrechner_step5 #bankform .row:first-child .flag.hint div {
        padding-top:8px;
        padding-bottom:10px;
    }
    #beitragsrechner_step5 #bankform .row:first-child .flag.hint::after {
        top: -5px;
    }
    #beitragsrechner_step5 #bankform label[for="sameperson"] {
        padding-left: 30px;
    }
    #beitragsrechner_step5 #bankform .row:first-child div:last-child {
        top: -31px;
    }

    #notice p { padding: 0 6%; }


    #loginFormular { padding-bottom: 0; }
    
    #formWrapper input { height: auto; color: #000; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; }
    
    #formWrapper p { font: normal 6vw/1.4 "Roboto-Light" !important; }
    #loginWindowForm label { font: normal 6vw/1.4 "Roboto-Medium" !important; }
    #loginWindowForm input { font: normal 6vw/1.4 "Roboto-Regular" !important; }
    #formWrapper.login label.checkbox b {
	    font-family: "Roboto-Medium" !important;
	}
    #accordion .row { margin-top: 40px !important; }

    #confirmationOverlay { background-color: #fff; }
    #confirmationOverlay .boxWrapper { vertical-align: middle; }
    #confirmationOverlay .contentBox { width: 100%; height: 70%; border: none; }

	.registrierung label { font: normal 6vw/1.4 "Roboto-Medium" !important; }
	#loginWindowForm > p.bottomMarginZiro { font-family: "Roboto-Light" !important; }
	#registerForm > label.checkbox > b {
		font-weight: normal !important;
		font-family: "Roboto-Medium";
	}
	#formWrapper.registrierung label.checkbox { line-height: 1 !important;}
	.kontaktFromWrapper label { font: normal 6vw/1.4 "Roboto-Medium" !important; }
	#formWrapper label { font-family: "Roboto-Medium" !important;}
    .radio label {
        margin-top:30px;
        margin-bottom:30px;
    }


	#accordion .panel-body > p { line-height: 1.4 !important;}
	body > article > section > div > p > strong { font-weight: normal; }


    .col-sm-8.text-center { float: none; width: 100%; display: none; }
    .text-center { text-align: center; }

    footer { padding: 60px 40px; background: url('../images/800x800/footer.jpg') no-repeat top center !important; background-size: 100% auto !important; height: auto !important; }
    footer a { font: normal 33px/2.0 "Roboto-Medium" !important; font-size: 4.22vw !important; }
}

@media only screen and (max-width: 1200px) {
    .fifthJumbuUL { width: 100%; float: none; padding: 0 15px; }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #insuranceJumbotron .intro li { background-position: 0 20%; background-size: 2% auto; padding-left: 30px; }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
