
@media (max-width: 768px) {

	.row.footer { text-align: center; }
	.row.footer .link_home { display: inline-block; font: normal 4.43vw/1.4 "Roboto-Medium" !important; text-decoration: none; background: #C91E23; width: 70%; text-align: center; color: #fff; padding: 5% 0; margin: 20px 0; float: none; }
	.row.footer .link_back { display: inline-block; font: normal 4.43vw/1.4 "Roboto-Medium" !important; text-decoration: none; background: #C91E23; width: 70%; text-align: center; color: #fff; padding: 5% 0; margin: 20px 0; float: none; }

}
