.navigation { padding-top: 30px; }
.navigation h3 { float: left; width: 20%; margin: 0; position: relative; top: -20px; font: normal 27px/29px "Monserrat-SemiBold"; }
.navigation > div { float: left; width: 80%; }
.navigation > div ul { display: table; table-layout: fixed; list-style: none; border-top: 2px solid #000; width: 100%; padding: 0; margin: 0; }
.navigation > div li { display: table-cell; text-align: center; position: relative; top: -21px; font: normal 14px/18px "Roboto-Medium"; }
.navigation > div li span { display: inline-block; height: 40px; width: 40px; border: 2px solid black; border-radius: 50%; background: #fff; font: normal 30px/38px "Monserrat-SemiBold"; }
.navigation > div li span.active { background: #4b7596; color: white; text-decoration:none; }
.navigation > div li div { margin: 5px 0 0; }
.navigation > div li span.active a{ text-decoration: none; color: white;}
.jumbotron > div.banner { padding: 10px 0; margin: 0 0 5px; max-width: none; background: #4b7596; }
.jumbotron > div.banner .row { max-width: 1600px; margin: 0 auto; padding: 0 9.5%; color: white; }
.jumbotron > div.banner h2 { margin: 0; font: normal 30px/40px "Roboto-Medium"; }

.form-group { margin: 20px 0; }
.form-group > label { float: left; width: 33%; padding: 6px 20px 0 0; }
.form-group > div { float: left; width: 36%; position: relative; }
select.styled-select,
.form-control,
input[type=text] { font-family: "Roboto-Bold" !important; line-height: 24px; color: #000; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; }
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px white inset !important; }
label {  text-align: right; font-weight: normal; }

.radio { margin: 10px 0; }
.radio label { font-family: "Roboto-Medium" !important; padding: 0; }
.radio input[type=radio] { position: relative; -webkit-appearance: none; -moz-appearance: none; border: none; background: url("../images/radio_unchecked.svg") no-repeat 0 top; margin: 0 10px 0 0; padding: 12px; outline: none; cursor: pointer; top: 0; vertical-align: middle; }
.radio input[type=radio].radio_yes:checked { background-image: url("../images/radio_green.svg"); outline: none; }
.radio input[type=radio].radio_no:checked { background-image: url("../images/radio_red.svg"); outline: none; }

input[type=checkbox] { -webkit-appearance: none;  -moz-appearance: none; border: 1px solid #cacece; border-radius: 0px; outline: none; padding: 9px; cursor: pointer; top: 4px; margin: 0 10px 0 0 !important; }
input[type=checkbox]:checked { background: url("../images/cross.svg") no-repeat center center; background-size: cover; outline: none; }
.checkbox { margin: 20px 0 !important; }
.checkbox label { position: relative; font-family: "Roboto-Medium"; padding: 5px 0 0 30px; text-align: left; width: 350px; }
.checkbox input[type=checkbox] { position: absolute; top: 6px; left: 0; }
.checkbox .flag { left: 100%; }

.styled-select { background: url("../images/arrow_down.svg") no-repeat 97% center; background-size: 24px; box-shadow: none; padding: 6px 40px 6px 12px; }

form .validation { position: absolute; width: 38px; height: 38px; top: 0px; left: 100%; border: solid lightgrey 1px; border-left: none; background: #E8E8EC url("../images/tick_white_small.svg") no-repeat 0 0; background-size: cover; }
form .has-error { border-color: #c3252d; }
form .has-error ~ .validation { background-color: #C3110E; border: 1px solid #C3110E; }
form .has-no-error { border-color: #4DA42C; }
form .has-no-error ~ .validation { background-color: #4DA42C; border: 1px solid #4DA42C; }

form .flag { position: absolute; z-index: 999; top: 0; right: -60px; }
form .flag > div { position: absolute; top: 0px; width: 300px; padding: 10px 20px; background-size: contain; color: white; font: normal 14px/18px "Roboto-Light"; }
form .flag::after { content: ""; display: block; position: absolute; top: 4px; left: -15px; border-style: solid; border-width: 15px 15px 15px 0; }
form .flag.hint::after { border-color: transparent #4D7598 transparent transparent; }
form .flag.error::after { border-color: transparent #C3110F transparent transparent; }
form .flag.hint { z-index: 9999;}
form .flag.error { z-index: 99; }
form .flag.error-active { z-index: 100; }
form .flag.hint > div { background: #4D7598 no-repeat center center;}
form .flag.error > div { background: #C3110F no-repeat center center; }

table { width: 100%; }
td,
th { width: 50%; padding: 0 20px 15px; font-weight: normal; vertical-align: bottom; }
tr { margin: 20px 0; }
td:first-child,
th:first-child { text-align: right; }
tr.grey > * { color: #7f90a7; }

.btn { min-width: 400px; }
.btn.btn-default { background: #4b7596; font: normal 22px/23px "Roboto-Medium"; color: #fff; }
.btn.upgrade_btn { background-color: #7f90a7; height: 50px; margin-left: 20px; width: 270px; }
.btn.finish_btn { background-color: #c3252d; height: 70px; margin: 5px 0; }
.btn.save_btn { background-color: #4d5969; height: 70px; margin: 5px 0; }
.btn.change_btn { background-color: #4b7596; height: 70px; margin: 5px 0; }
.btn.view_btn { background-color: #7f90a7; width: 100px; margin-left: 10px; padding: 5px; }

.row.copy { font: normal 19px/23px "Roboto-Light"; }
.row.copy h4 { font: normal 22px/23px "Roboto-Medium"; margin: 5px 0 35px; }
.row.copy ul { list-style-type: square; margin: 0; padding: 0 0 0 1em; font: normal 19px/23px "Roboto-Light"; }
.row.copy li { margin: 5px 0; }
.row.button { text-align: center; margin: 35px auto; }
.row.button button { margin: 0; width: 100%; }

.small-text { vertical-align: top; padding-top: 10px; text-align: right; }
.small-text small { display: inline-block; text-align: left; max-width: 315px; line-height: 20px; }

.link_home { font: normal 19px/23px "Roboto-Light"; text-decoration: underline; }

.link_back { float: left;font: normal 19px/23px "Roboto-Light"; text-decoration: underline; }

/* page specific */
#beitragsrechner_step1 .row.button button { width: auto; }
#beitragsrechner_step1 .radio { margin: 10px 0; }
#beitragsrechner_step1 .radio:first-child { margin: 35px 0 10px; }
#beitragsrechner_step1 #notice { margin: 35px auto; display: none; font: normal 19px/23px "Roboto-Medium" !important; text-align: left; }

#beitragsrechner_step2 .banner-select { padding: 0; margin: 0 0 5px 0; max-width: none; border-bottom: 2px solid #BDBEC1; }
#beitragsrechner_step2 .banner-select .form-control { margin: 15px 0; }
#beitragsrechner_step2 .banner-select .row { max-width: 1600px; margin: 0 auto; padding: 0 9.5%; color: white; }
#beitragsrechner_step2 .banner-select select.styled-select { border: 0; font: normal 22px/23px "Roboto-Medium"; display: inline-block; width: auto; padding-left: 0; }
#beitragsrechner_step2 #submitButton { width: calc(100% + 40px); }

#beitragsrechner_step3 table h1 { display: inline-block; font: normal 33px/35px "Roboto-Medium"; }
#beitragsrechner_step3 table h1 strong { font-size: 170%; }
#beitragsrechner_step3 table h2 { display: inline-block; font: normal 22px/23px "Roboto-Medium"; }
#beitragsrechner_step3 table h2 strong { font-size: 170%; }
#beitragsrechner_step3 .btn.upgrade_btn { min-width: 218px; width: 218px; vertical-align: bottom;}
#beitragsrechner_step3 #zahlweise { font: normal 17px/21px "Roboto-Medium"; }

#beitragsrechner_step4 #zip { background: none; padding-right: 0px; margin-right: 10px; }
#beitragsrechner_step4 table { margin-top: 60px; margin-left: 32px; }

#beitragsrechner_step5 table { margin-top: 60px; margin-left: 32px; }

#beitragsrechner_summary .copy h2 { margin: 5px 0 35px; font: normal 27px/30px "Roboto-Medium"; }
#beitragsrechner_summary table { margin-top: 60px; }
#beitragsrechner_summary .btn.view_btn { width: auto; min-width: auto; padding: 5px 20px; }

/* Collapse under title */
.tarif-default{
    position: relative;
    right: 0;
}
.panel-group {
    margin-bottom: 0px;
}
.panel-group .panel{
    border: none;
    border-radius: 0;
}
.panel-default > .panel-heading{
	background-color:#fff;
    	font-size:20px;
	max-width: 1600px;
	padding: 0 0%;
	margin: 0 auto;
}
.panel-title{
    font-size:20px;
	cursor: pointer;
	background: url('../images/accordion_arrow-up.svg') no-repeat right center;
	background-size: 24px;
	padding: 15px;
}
.panel-title.collapsed {
	background: url('../images/accordion_arrow-down.svg') no-repeat right center;
	background-size: 24px;
}
.panel-title .accordion-toggle {
	text-decoration: none;
	font-family: "Roboto-Medium" !important;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
    border: none;
}
.panel-collapse {
	background: #fff;
color: #000;
border: none;
}
.panel-body{
	margin: 0 auto;
	max-width: 1600px;
	padding: 0px 0%;
	font: normal 20px/30px "Roboto-Light";
}
.panel-body p {
	margin: 0 0 50px;
}
.panel-body ul {
	list-style-type: square;
	margin: 50px 0;
}
.panel-body h5 {
	font-size: 15px;
}
.panel-body a { color: #ac2925; text-decoration: underline; }
.panel-body a:hover { color: #ac2925; }

@media only screen and (min-width: 769px) and (max-width : 1599px)  {
	.navigation > div { float: none; width: 100%; margin-top: 50px; }

}

@media only screen and (min-width: 320px) and (max-width : 769px)  {
	.styled-select{
		padding: 6px 25px 6px 12px;
	}
}

@media (max-width: 768px) {
	
	input[type=text] { height: auto; color: #000; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; }
	
	.jumbotron { padding-top: 0; }
	.jumbotron > div.banner { padding: 15px 0; margin: 0 0 20px; }
	.jumbotron > div.banner .row { padding: 0 6%; }
	.jumbotron > div.banner h2 { font: normal 4.9vw/1.4 "Roboto-Medium" !important; }
	.row h2.mobile { padding: 20px 6% 15px; background-color: #D4DCE1; font-size: 10vw !important; margin-top: 0; }
	.jumbotron > .row.copy { padding: 0 6%; }
	.jumbotron > .row.copy h4 { font: normal 4.9vw/1.4 "Roboto-Medium" !important; margin: 5px 0 25px; }
	.jumbotron > .row.copy li { margin: 0; }

	.navigation > div { float: none; width: 100%; padding: 40px 6% 30px 6%; }
	/*.navigation > div ul { border-top: 1px solid #000; }*/
	.navigation > div li { vertical-align: middle; top: 0px; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
	.navigation > div li span { height: 27px; width: 27px; font: normal 16px/24px "Monserrat-SemiBold" !important; margin-top: 14px; margin-bottom:14px; }
	.navigation > div li span.active { height: 50px; width: 50px; border-width: 1px; font: normal 30px/50px "Monserrat-SemiBold" !important; margin-top: 0; margin-bottom:0; margin-left:-2px;}
	.navigation > div li div { position: absolute; top: 50px; display: none; }
	.navigation > div li span.active ~ div { display: block; white-space: nowrap; font-family: "Roboto-Medium"}
	.navigation > div li:nth-child(1) div { left: 0; }
	.navigation > div li:nth-child(2) div { left: -30%; }
	.navigation > div li:nth-child(3) div { left: -80%; }
	.navigation > div li:nth-child(4) div { left: -85%; }
	.navigation > div li:nth-child(5) div { right: -40%; }
	.navigation > div li:nth-child(6) div { right: -100%; }

	.row.footer { text-align: center; }
	.row.footer .link_home { display: inline-block; font: normal 4.43vw/1.4 "Roboto-Medium" !important; text-decoration: none; background: #C91E23; width: 70%; text-align: center; color: #fff; padding: 5% 0; margin: 20px 0; float: none; }
	.row.footer .link_back { display: inline-block; font: normal 4.43vw/1.4 "Roboto-Medium" !important; text-decoration: none; background: #C91E23; width: 70%; text-align: center; color: #fff; padding: 5% 0; margin: 20px 0; float: none; }
	.btn { width: 70% !important; white-space: normal; min-width: auto; font: normal 4.43vw/1.4 "Roboto-Medium" !important;}
	.row.button { padding: 0 !important; }

	.form-group > label { float: none; width: auto; margin: 20px 0 5px; }
	.form-group > div { float: none; margin: 0; width: calc(100% - 40px); }
	select.styled-select, .form-control, input[type=text] { font-family: Roboto-Medium !important; }
	form .flag { position: static; }
	form .flag > div { position: static; margin: 10px 0; padding: 0; }
	form .flag::after { position: static; border: 0; }
	form .flag.error > div { color: #C3110F; background: none;font-family: Roboto-Medium !important; }
	form .flag.hint { position: relative; width: 100% !important; left: 0; }
	form .flag.hint > div { background: #77A9D2; color: #fff; padding: 10px 10px 12px; width: 100%; font: normal 4.5vw/1.4 "Roboto-Light" !important; }
	form .flag.hint::after { content: ""; display: block; position: absolute; top: -14px; left: auto; right: 0; border-style: solid; border-width: 0 15px 15px 15px; border-color: transparent transparent #77A9D2 transparent; }
	form .form-group > div.info-trigger { display: block; float: right; margin: 26px 0 5px; width: 30px; height: 20px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAMFBMVEV3qdL///90qNFwpdBsos/l7veCr9bE2euavd3Q4O+oxuKLtdj3+fy1zube6fTw9PqvuvlvAAABEElEQVQoz4WT4boEEQiGo1QY3P/dHgaDnWfP9gtvpfgCsyxLCiF5tx3BXBRRhttY/fWBrwSEtmOLxHJgF+lmOHyQ9FrYA95xGCVBz0GxTJztpDVE+hqQS8eF50lo94xwIO04EIyaWkAavpVLw/nZ1+wp2LXjq+Kw3JGIlnMLB8ezXfbNBJ54VAPJPpn7Eyxs2YGuZKruwGAFeGFste4YAuz2wvoL8384HPEvLCD2K26NFbbfcHuW9SOjMZyqAfIVOzu3HHOVlTLvX2IS7Y9qnoMa3PAVcRQyrF9HYYjJDbnYaY9YuhQdE5xmh1S7kIvuMqh1YDqnxMep8ToFqPlziIwPkXt7Kb9nrE1S9iLHBJo/QLoHtw/xpYUAAAAASUVORK5CYII=) no-repeat center 0; background-size: contain; cursor: pointer; }

	label { display: block; text-align: left; font: normal 4.5vw/1.4 "Roboto-Light" !important; }
	label span { font-size: 0.85em !important; }

	#noFinHideDiv > div:nth-child(9) > div:nth-child(2) > label:nth-child(1) > b:nth-child(2) > span:nth-child(1){
		padding-left: 25px;
		vertical-align:top;
	}

	article.mtb li { font: normal 4.43vw/1.4 "Roboto-Light" !important; }

	#beitragsrechner_step1 #notice { font-family: "Roboto-Light"; }

	#beitragsrechner_step2 .banner-select { margin: 0 0 10px 0; }
	#beitragsrechner_step2 .banner-select .row { padding: 0 6%; }
	#beitragsrechner_step2 .banner-select select.styled-select { white-space: normal; width: 100%; font: normal 4.9vw/1.4 "Roboto-Medium" !important; padding-right: 10vw; }
	#beitragsrechner_step2 .banner-select .form-control { margin: 10px 0; }
	#beitragsrechner_step2 #submitButton { width: 70% !important; }
	#beitragsrechner_step2 .row.copy #fahrzeugdaten2 .form-group.row #erstzulassung{ background-position-x:93%; }
	#beitragsrechner_step2 .row.copy #fahrzeugdaten2 .form-group.row #erstzulassung_monat{ background-position-x:93%; }


	#beitragsrechner_step3 th { width: 100%; padding: 0; margin: 0; display: block; text-align: left; font-family: "Roboto-Light"; }
	#beitragsrechner_step3 b { font-family: "Roboto-Medium"; }
	#beitragsrechner_step3 h1 { margin: 0; font: normal 6vw/1.2 "Roboto-Medium"; }
	#beitragsrechner_step3 h1 strong { font-size: 200%; }
	article.mtb #beitragsrechner_step3 p { line-height: 1.4 !important; }
	#beitragsrechner_step3 .grey { background: #DDE3E8; padding: 30px 6%; margin: 20px 0; }
	#beitragsrechner_step3 .grey h2 { color: #758A9F; margin: 0; font: normal 7vw/1.4 "Roboto-Medium" !important; }

	#beitragsrechner_summary b { font-family: "Roboto-Medium"; }
	#accordion .panel-default > .panel-heading {
	    padding: 0 0%;
	}

	#accordion .panel-body {

	    padding: 0% 0% 0%;

	}

	#beitragsrechner_step1 #notice { margin-top: 0; }

	#beitragsrechner_step3 .btn.upgrade_btn { min-width: 260px; width: 292px; vertical-align: bottom;}
}
