/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header {
  width: 100%;
  height: 640px;
  background: url('../images/peye.jpg');
  background-position: center 0;
}


header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.jumbotron{
	margin: 0px;
}

.firstJumbo{
	background-color: #477597;
}

.secondJumbo{
	background-color: #054798;
}

.thirdJumbo{
	background-color: #A42220;
}

.fourthJumbo{
	background-color: #8199B3;
}

.fifthJumbo{
	background-color: #511003;
}

.circle-text {
  	width: 50%;
	padding: 10px;
	float: left;
	margin-left: 25%;
	
}
.circle-text:after {
  	content: "";
  	display: block;
  	width: 100%;
  	height: 0;
  	padding-bottom: 100%;
  	background: #4679BD;
  	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	border-radius: 50%;
}
.circle-text div {
  float: left;
  width: 100%;
  padding-top: 45%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}

.secondImage{
  width: 100%;
  height: 640px;
  background: url('../images/peye.jpg');
  background-position: center 0;
}

.thirdImage{
  width: 100%;
  height: 640px;
  background: url('../images/peye.jpg');
  background-position: center 0;
}
.fourthImage{
  width: 100%;
  height: 640px;
  background: url('../images/peye.jpg');
  background-position: center 0;
}
.fifthImage{
  width: 100%;
  height: 640px;
  background: url('../images/peye.jpg');
  background-position: center 0;
}

.firstJumboUL{
	margin: 0 auto;

}

.tarifRechner{
	float: right;
	margin-right: 120px;
	width: 300px;
}

.tarifRechner > .innerArea{
	background: #eee;
	opacity: 0.5;
	padding: 40px;
}

.rechnerdrp{
	width:60%;
	margin: 0 auto;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}


/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

@media screen (max-width:1200px){

}


